{% extends "presspass/core/email/base.html" %}
{% load i18n %}
{% load autologin %}
{% block body %}
{% url "users:detail" username=user.username as url_user %}
{% autologin url_user user as url_user_ %}
{% url "account_email" as url_email %}
{% autologin url_email user as url_email_ %}
{% url "account_set_password" as url_password %}
{% autologin url_password user as url_password_ %}
{% blocktrans with username=user.username %}
<p>
  Just a reminder, your username is {{ username }}
</p>
<p>
  We ask that you please
  <a href="{{ activate_url }}">verify your email</a>.
</p>
{% endblocktrans %}
{% if minireg %}
{% blocktrans %}

<p>
  {% endblocktrans %}
  {% endif %}
  {% blocktrans %}
</p>

<p>
  <strong>
    Have a technical support or customer service issue?
    <a href="mailto:info@presspass.it">Email us</a>.
  </strong>
</p>
<p><a href="https://www.twitter.com/newscatalyst/">Tweet at us</a>.</p>
<p>
  Once again, welcome to the PressPass community. TKTK
</p>
<p>Sincerely,<br />The PressPass Team</p>
{% endblocktrans %}
{% endblock %}
