{% if client.clientprofile.source == "muckrock" %}
  <h3>{{ error }}</h3>
  <p>{{ description }}</p>
{% else %}

  {% block css %}
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.css"
  />
  {% endblock %}

  <div class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <div class="navbar-item">
          <strong>PressPass</strong>
        </div>
      </div>
    </div>
  </div>
  <section class="section" style="background-color: #eff0eb;">
    <div class="container">
      <p class="subtitle">An error occurred</p>
      <h1 class="title">{{ error }}</h1>

      <p>
        {{ description }}
      </p>
    </div>
  </section>

{% endif %}

