body {
  font-family: Lato;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

a {
  color: inherit;
  text-decoration: inherit;
}

._cls-content {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 1em;
}

._cls-heading {
  padding: 1.2em 2em;
  box-shadow: 0 0 8px #0000005c;
  background: #168ee5;
  margin-bottom: 1.5em;
}

._cls-intent {
  margin-top: 1.5em;
}

._cls-intentLogo {
  display: inline-block;
  vertical-align: middle;
  margin: 1em 1em 1em 0;
}

._cls-intentBody {
  display: inline-block;
  vertical-align: middle;
}

._cls-infoLogo {
  display: inline-block;
  margin: 0 0.2em;
}

._cls-field {
  margin: 1em 0;
  height: 45px;
  line-height: 45px;
  position: relative;
  width: 100%;
}

._cls-fieldLogo {
  display: inline-block;
  width: 32px;
  text-align: center;
  padding: 0 2px 0 8px;
  vertical-align: middle;
}

._cls-field input,
._cls-field ._cls-fieldInput {
  border: none;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #3f3f3f;
  outline: none;
  line-height: 45px;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  left: 0;
  padding-left: 44px;
  background-repeat: no-repeat;
  border-radius: 2px;
  transition: all 0.2s;
  box-shadow: 0 0 2px #0000002e;
  background-color: #ffffff;
}

._cls-action {
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 0.08em;
  color: #168ee5;
  text-transform: uppercase;
}

div._cls-action {
  font-size: 12px;
}

._cls-smallHeader {
  font-size: 13px;
  letter-spacing: 0.08em;
  color: #737373;
  text-transform: uppercase;
}

._cls-info {
  line-height: 19px;
  font-size: 15px;
  color: #737373;
}

._cls-intentTitle {
  font-weight: bold;
  font-size: 22px;
  color: #3f3f3f;
}

form,
._cls-form {
  margin-top: 2em;
}

._cls-spacing {
  margin: 2em 0 1em 0;
}

._cls-radioField span {
  display: block;
  margin-left: 25px;
  font-size: 15px;
  color: #b0b0b0;
}

._cls-radioField input {
  float: left;
}

._cls-radioField {
  margin: 0.5em 0;
}

._cls-black {
  color: #3f3f3f;
}

._cls-nameInput {
  background-image: url(/static/assets/name_icon.svg);
  background-position-x: 14px;
  background-position-y: 16px;
  background-size: 14px;
}

._cls-usernameInput {
  background-image: url(/static/assets/username_icon.svg);
  background-position-x: 13px;
  background-position-y: 13px;
  background-size: 15px;
}

._cls-emailInput {
  background-image: url(/static/assets/email_icon.svg);
  background-position-x: 11px;
  background-position-y: 16px;
  background-size: 22px;
}

._cls-passwordInput {
  background-image: url(/static/assets/password_icon.svg);
  background-position-x: 14px;
  background-position-y: 11px;
  background-size: 17px;
}

._cls-organizationInput {
  background-image: url(/static/assets/organization_icon.svg);
  background-position-x: 13px;
  background-position-y: 13px;
  background-size: 19px;
}

._cls-field input:focus,
._cls-field ._cls-fieldInput:focus {
  background-color: #ffffff;
  box-shadow: 0 0 6px #00000021;
  transform: scale(1.05);
}

::placeholder {
  color: #899194;
}

._cls-paneStart {
  width: 100%;
  display: table;
}

._cls-doublepane {
  width: 100%;
  display: table-row;
  margin-top: 2em;
}

._cls-leftpane {
  display: table-cell;
  width: 50%;
}

._cls-footer ._cls-leftpane {
  width: 30%;
  padding: 1em;
}

._cls-rightpane {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding-top: 1em;
}

._cls-footer ._cls-rightpane {
  width: 70%;
  padding: 1em;
}

._cls-center {
  text-align: center;
}

._cls-minorInfo {
  line-height: 20px;
  font-size: 15px;
  color: #737373;
  margin-bottom: 0.4em;
}

._cls-footer {
  background: #333c47;
  color: #b5bdc7;
  margin-top: 2.5em;
}

._cls-rightBump {
  margin-right: 0.5em;
}

._cls-cardContainer {
  max-width: 1300px;
  margin: 0 auto;
  text-align: left;
}

._cls-cards {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

._cls-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  box-shadow: 0 0 2px #0000004d;
  padding-bottom: 1.5em;
  border-radius: 5px;
  background: white;
  margin: 0.5em;
}

._cls-card h1 {
  background: #2c343f;
  font-size: 1em;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
  padding: 0;
}

._cls-cardAction button {
  background: #3a8fef;
  color: white;
  font-family: Lato;
  font-weight: bold;
  padding: 1em 2em;
  font-size: 1em;
  width: 90%;
  border-radius: 100px;
  outline: none;
  border: none;
  box-shadow: 0 3px 0px #b2ceff;
  max-width: 300px;
}

._cls-expandedContent {
  margin: 1em;
  text-align: center;
}

._cls-card li {
  color: #737373;
  margin: 1em 0;
  line-height: 1.3;
}

._cls-cardContent ul {
  padding-right: 2em;
}

._cls-actionBig button {
  background: #3a8fef;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.14em;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  width: 80%;
  line-height: 3em;
  height: 3em;
  margin: 1.5em 0 2em 0;
  box-shadow: 0 3px 0px #b2ceff;
  outline: none;
}

._cls-actionBig {
  text-align: center;
}

._cls-cardAction {
  margin-top: 1em;
  text-align: center;
}

button {
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background: #3a8fefe3;
  box-shadow: 0 3px 0px #c2d8ff, 0 2px 3px #00000052;
}

button:active {
  box-shadow: 0 0 3px #687998;
}

@media only screen and (max-width: 840px) {
  ._cls-cards {
    flex-direction: column;
  }
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0 1em;
}

nav {
  display: inline-block;
  margin: 1em 0 0 -1em;
}

nav a {
  color: white;
  text-decoration: inherit;
  font-weight: bold;
  transition: all 0.2s;
}

nav a:hover {
  color: #ffffff91;
}

._cls-headingContent {
  max-width: 800px;
  margin: -0.5em auto 0 auto;
}

._cls-mainLogo {
  margin-right: 2em;
}

._cls-fieldInput {
  padding: 0.8em !important;
}

._cls-smallHeading {
  font-weight: 400;
  text-transform: uppercase;
  color: #737373;
  letter-spacing: 0.08em;
  font-size: 13px;
  padding: 1em 0.5em 0 0.5em;
}

._cls-intentLogo img {
  width: 62px;
  height: 62px;
}

._cls-infoLogo img {
  width: 39px;
  height: 39px;
}

._cls-avatar {
  background: #3b496e;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
  color: #87bbf1;
  font-size: 21px;
}

._cls-profileAvatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}

._cls-profileNames {
  display: inline-block;
  vertical-align: middle;
  margin: 1em 0;
}

._cls-profileInfo {
  margin-top: -1em;
}

._cls-profileColumns {
  flex-direction: row;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

._cls-profileColumn {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  border-right: solid 1px #dedede;
  padding: 0 2em 0 0;
}

._cls-planColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 0 0 2em;
}

._cls-planInfo {
  margin-bottom: 1em;
}

._cls-organizationSection {
  margin-top: 2em;
}

._cls-actionSmall button {
  background: #3a8fef;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  border: none;
  width: 160px;
  line-height: 2.5em;
  height: 2.5em;
  box-shadow: 0 3px 0px #b2ceff;
  outline: none;
}

._cls-mediumHeader {
  font-size: 17px;
  color: #3f3f3f;
  font-weight: bold;
}

._cls-services {
  margin-top: 2em;
}

._cls-serviceIcon img {
  width: 36px;
  height: 36px;
}

._cls-serviceIcon {
  display: inline-block;
  vertical-align: middle;
}

._cls-serviceInfo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.8em;
}

._cls-services li {
  display: flex;
  margin: 0.6em 0 0.6em 0.3em;
}

._cls-services ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

._cls-serviceName {
  color: #3f3f3f;
  font-weight: bold;
}

._cls-serviceDescription {
  color: #737373;
  font-size: 13px;
}

._cls-largeContent {
  max-width: 1000px;
  margin: auto;
  padding: 1em;
}

@media only screen and (max-width: 374px) {
  ._cls-profileColumns {
    flex-direction: column;
  }

  ._cls-profileColumn {
    padding: 0;
    border-right: none;
  }

  ._cls-planColumn {
    padding: 0;
    padding-top: 2em;
  }
}
