body {
  font-family: Lato;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

a {
  color: inherit;
  text-decoration: inherit;
}

._cls-content {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 1em;
}

._cls-heading {
  padding: 1.2em 2em;
  box-shadow: 0 0 8px #0000005c;
  background: #168ee5;
  margin-bottom: 1.5em;
}

._cls-intent {
  margin-top: 1.5em;
}

._cls-intentLogo {
  display: inline-block;
  vertical-align: middle;
  margin: 1em 1em 1em 0;
}

._cls-intentBody {
  display: inline-block;
  vertical-align: middle;
}

._cls-infoLogo {
  display: inline-block;
  margin: 0 0.2em;
}

._cls-field {
  margin: 1em 0;
  height: 45px;
  line-height: 45px;
  position: relative;
  width: 100%;
}

._cls-fieldLogo {
  display: inline-block;
  width: 32px;
  text-align: center;
  padding: 0 2px 0 8px;
  vertical-align: middle;
}

._cls-field input,
._cls-field ._cls-fieldInput {
  border: none;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #3f3f3f;
  outline: none;
  line-height: 45px;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  left: 0;
  padding-left: 44px;
  background-repeat: no-repeat;
  border-radius: 2px;
  transition: all 0.2s;
  box-shadow: 0 0 2px #0000002e;
  background-color: #ffffff;
}

._cls-action {
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 0.08em;
  color: #168ee5;
  text-transform: uppercase;
  border: none;
  background: none;
  padding: 0;
  font-size: 12px;
  outline: none;
}

._cls-smallHeader {
  font-size: 13px;
  letter-spacing: 0.08em;
  color: #737373;
  text-transform: uppercase;
}

._cls-info {
  line-height: 19px;
  font-size: 15px;
  color: #737373;
}

._cls-intentTitle {
  font-weight: bold;
  font-size: 22px;
  color: #3f3f3f;
}

form,
._cls-form {
  margin-top: 2em;
}

._cls-spacing {
  margin: 2em 0 1em 0;
}

._cls-radioField span {
  display: block;
  margin-left: 25px;
  font-size: 15px;
  color: #b0b0b0;
}

._cls-radioField input {
  float: left;
}

._cls-radioField {
  margin: 0.5em 0;
}

._cls-black {
  color: #3f3f3f;
}

._cls-nameInput {
  background-image: url(/static/assets/name_icon.svg);
  background-position-x: 14px;
  background-position-y: 16px;
  background-size: 14px;
}

._cls-usernameInput {
  background-image: url(/static/assets/username_icon.svg);
  background-position-x: 13px;
  background-position-y: 13px;
  background-size: 15px;
}

._cls-emailInput {
  background-image: url(/static/assets/email_icon.svg);
  background-position-x: 11px;
  background-position-y: 16px;
  background-size: 22px;
}

._cls-passwordInput {
  background-image: url(/static/assets/password_icon.svg);
  background-position-x: 14px;
  background-position-y: 11px;
  background-size: 17px;
}

._cls-organizationInput {
  background-image: url(/static/assets/organization_icon.svg);
  background-position-x: 13px;
  background-position-y: 13px;
  background-size: 19px;
}

._cls-field input:focus,
._cls-field ._cls-fieldInput:focus {
  background-color: #ffffff;
  box-shadow: 0 0 6px #00000021;
  transform: scale(1.05);
}

::placeholder {
  color: #899194;
}

._cls-paneStart {
  width: 100%;
  display: table;
}

._cls-doublepane {
  width: 100%;
  display: table-row;
  margin-top: 2em;
}

._cls-leftpane {
  display: table-cell;
  width: 50%;
}

._cls-footer ._cls-leftpane {
  width: 30%;
  padding: 1em;
}

._cls-rightpane {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding-top: 1em;
}

._cls-footer ._cls-rightpane {
  width: 70%;
  padding: 1em;
}

._cls-center {
  text-align: center;
}

._cls-minorInfo {
  line-height: 20px;
  font-size: 15px;
  color: #737373;
  margin-bottom: 0.4em;
}

._cls-footer {
  background: #333c47;
  color: #b5bdc7;
  margin-top: 2.5em;
}

._cls-rightBump {
  margin-right: 0.5em;
}

._cls-cardContainer {
  max-width: 1300px;
  margin: 0 auto;
  text-align: left;
}

._cls-cards {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

._cls-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  box-shadow: 0 0 2px #0000004d;
  padding-bottom: 1.5em;
  border-radius: 5px;
  background: white;
  margin: 0.5em;
}

._cls-card h1 {
  background: #2c343f;
  font-size: 1em;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
  padding: 0;
}

._cls-cardAction button {
  background: #3a8fef;
  color: white;
  font-family: Lato;
  font-weight: bold;
  padding: 1em 2em;
  font-size: 1em;
  width: 90%;
  border-radius: 100px;
  outline: none;
  border: none;
  box-shadow: 0 3px 0px #b2ceff;
  max-width: 300px;
}

._cls-expandedContent {
  margin: 1em;
  text-align: center;
}

._cls-card li {
  color: #737373;
  margin: 1em 0;
  line-height: 1.3;
}

._cls-cardContent ul {
  padding-right: 2em;
}

._cls-actionBig button {
  background: #3a8fef;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.14em;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  width: 80%;
  line-height: 3em;
  height: 3em;
  margin: 1.5em 0 2em 0;
  box-shadow: 0 3px 0px #b2ceff;
  outline: none;
}

._cls-actionBig {
  text-align: center;
}

._cls-cardAction {
  margin-top: 1em;
  text-align: center;
}

button {
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background: #3a8fefe3;
  box-shadow: 0 3px 0px #c2d8ff, 0 2px 3px #00000052;
}

button:active {
  box-shadow: 0 0 3px #687998;
}

@media only screen and (max-width: 840px) {
  ._cls-cards {
    flex-direction: column;
  }
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0 1em;
}

nav {
  display: inline-block;
  margin: 1em 0 0 -1em;
}

nav a {
  color: white;
  text-decoration: inherit;
  font-weight: bold;
  transition: all 0.2s;
}

nav a:hover {
  color: #ffffff91;
}

._cls-headingContent {
  max-width: 800px;
  margin: -0.5em auto 0 auto;
}

._cls-mainLogo {
  margin-right: 2em;
}

._cls-fieldInput {
  padding: 0.8em !important;
}

._cls-smallHeading {
  font-weight: 400;
  text-transform: uppercase;
  color: #737373;
  letter-spacing: 0.08em;
  font-size: 13px;
  padding: 1em 0.5em 0 0.5em;
}

._cls-intentLogo img {
  width: 62px;
  height: 62px;
}

._cls-infoLogo img {
  width: 39px;
  height: 39px;
}

._cls-avatar {
  display: inline-block;
}

._cls-profileAvatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}

._cls-profileNames {
  display: inline-block;
  vertical-align: middle;
  margin: 1em 0;
}

._cls-profileInfo {
  margin-top: -1em;
  display: inline-block;
}

._cls-profileColumns {
  flex-direction: row;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

._cls-profileColumn {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  border-right: solid 1px #dedede;
  padding: 0 2em 0 0;
}

._cls-planColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 0 0 2em;
}

._cls-planInfo {
  margin-bottom: 1em;
}

._cls-organizationSection {
  margin-top: 2em;
}

._cls-actionSmall button {
  background: #3a8fef;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  border: none;
  width: 160px;
  line-height: 2.5em;
  height: 2.5em;
  box-shadow: 0 3px 0px #b2ceff;
  outline: none;
}

._cls-actionSmall._cls-actionSmaller button {
  height: 2em;
  font-size: 13px;
  line-height: 2em;
  width: inherit;
  padding: 0 1.4em;
}

._cls-mediumHeader {
  font-size: 17px;
  color: #3f3f3f;
  font-weight: bold;
}

._cls-services {
  margin-top: 2em;
}

._cls-serviceIcon img {
  width: 36px;
  height: 36px;
}

._cls-serviceIcon {
  display: inline-block;
  vertical-align: middle;
}

._cls-serviceInfo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.8em;
}

._cls-services li {
  display: flex;
  margin: 0.6em 0 0.6em 0.3em;
}

._cls-services ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

._cls-serviceName {
  color: #3f3f3f;
  font-weight: bold;
}

._cls-serviceDescription {
  color: #737373;
  font-size: 13px;
}

._cls-largeContent {
  max-width: 1000px;
  margin: auto;
  padding: 1em;
}

@media only screen and (max-width: 374px) {
  ._cls-profileColumns {
    flex-direction: column;
  }

  ._cls-profileColumn {
    padding: 0;
    border-right: none;
  }

  ._cls-planColumn {
    padding: 0;
    padding-top: 2em;
  }
}

._cls-alert {
  width: 90%;
  max-width: 500px;
  margin: auto;
  position: relative;
}

._cls-alert div {
  padding: 0.5em 0.8em;
  /* font-weight: bold; */
  font-size: 0.9em;
  /* color: #3a3a3a; */
  border-radius: 3px;
  box-shadow: 0 1px 2px #00000014;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-top: -31px;
  animation: autoHide 3s forwards;
}

._cls-alert div._cls-dismiss {
  animation-delay: -2.5s;
  pointer-events: none;
}

._cls-alert div:hover {
  animation: 0;
}

._cls-close {
  text-decoration: underline;
  margin-left: 0.25em;
  font-weight: bold;
  cursor: pointer;
  vertical-align: middle;
}

@keyframes autoHide {
  0% {
    opacity: 1;
    margin-top: -31px;
    visibility: visible;
  }
  90% {
    opacity: 1;
    margin-top: -31px;
    visibility: visible;
  }
  99% {
    opacity: 0;
    margin-top: -50px;
    visibility: visible;
  }
  100% {
    opacity: 0;
    margin-top: -50px;
    visibility: hidden;
  }
}

.alert-success {
  background: #93d893e6;
  border: solid 1px darkgreen;
  color: darkgreen;
}

._cls-alertIcon {
  font-weight: bold;
  border: solid 3px darkgreen;
  width: 18px;
  height: 18px;
  display: inline-block;
  text-align: center;
  line-height: 18px;
  border-radius: 18px;
  color: darkgreen;
  font-size: 0.9em;
  vertical-align: middle;
  margin-right: 5px;
}

._cls-middleAlign {
  vertical-align: middle;
}

._cls-svgAvatar {
  display: inline-block;
  width: 45px;
  height: 45px;
}

._cls-avatar svg {
  display: inline-block;
  border-radius: 25%;
  box-shadow: 0 0 2px #0000004a;
}

._cls-inlineAvatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}

._cls-profList {
  list-style: none;
  padding: 0;
}

._cls-profList li {
  margin: 0.8em 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 2px #0000001c, 0 1px 3px #00000021;
  padding: 0.5em 1em;
  transition: all 0.2s ease;
}

._cls-profList li:hover {
  background: #e6eaec;
  box-shadow: 0 2px 3px #00000036;
}

._cls-infoPreSpaced {
  margin-bottom: 1em;
}

._cls-infoSpaced {
  margin: 0.5em 0;
}

._cls-inlineForm {
  margin: 0;
}

._cls-inlineInlineForm {
  display: inline;
}

._cls-action:hover {
  background: none;
  box-shadow: none;
}

._cls-profList li._cls-pendingInvite {
  background: #efefef;
  border: dashed 1px gray;
}

._cls-manageTable {
  display: table;
  margin: 1em 0 2em 0;
  border-radius: 3px;
  border: solid 1px gray;
  width: 100%;
  table-layout: fixed;
}

._cls-manageRow {
  display: table-row;
}

._cls-manageCell {
  display: table-cell;
  border-right: solid 1px gray;
  padding: 0.5em 0.8em;
  border-bottom: solid 1px gray;
}

._cls-manageCell:last-child {
  border-right: none;
}

._cls-manageRow:last-child ._cls-manageCell {
  border-bottom: none;
}

._cls-manageHeader ._cls-manageCell {
  font-weight: bold;
  background: #515867;
  color: white;
}

._cls-manageRow {
  background: white;
}

._cls-altAction {
  border-bottom: dashed 1px #888888;
  margin-left: 1em;
}

._cls-organizationInfo ._cls-profileName {
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  margin-bottom: 0.3em;
}

h3 {
  margin-top: 0;
  color: gray;
  font-weight: normal;
  font-size: 18px;
}

._cls-manageCell a {
  color: #555e65;
  font-weight: bold;
}

._cls-manageCell a:hover {
  color: #3c3c3c;
}

._cls-inviteUsers input {
  height: 21px;
  border-radius: 3px;
  border: 1px solid gainsboro;
  box-shadow: 0 1px 3px #00000026;
  margin-right: 1em;
  width: 150px;
  outline: none;
  padding: 0.2em 1em;
  font-size: 13px;
  transition: all 0.2s ease;
}

._cls-inviteUsers input:focus,
._cls-inviteUsers input:valid {
  width: 200px;
}

._cls-inviteUsers input:focus {
  border: solid 1px gray;
  box-shadow: 0 1px 3px #00000070;
}

._cls-tableHeading {
  font-weight: bold;
  margin-top: 2.5em;
}

._cls-tableInfo {
  color: gray;
  margin: 0.5em 0;
}

._cls-compactButton {
  background: #3a8fef;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.2em 0.8em;
  font-size: 13px;
  vertical-align: middle;
  margin: 0 0.8em 0 0;
  outline: none;
}

._cls-inviteUsers {
  margin-top: 1.5em;
}

._cls-fauxBox {
  background: white;
  border: solid 2px #383838;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  padding: 0;
  outline: none;
  font-size: 16px;
  line-height: 17px;
  color: #383838;
}

._cls-fauxBox:hover {
  background: #a5d9ff;
  box-shadow: inherit;
}

._cls-inlineAvatar img,
._cls-avatar img {
  border-radius: 18%;
  box-shadow: 0 0 2px #0000005e;
}
