{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load avatar %}

{% block title %}Organization: {{ organization.name }}{% endblock %}

{% block content %}

  <div class="_cls-largeContent">
    <div class="_cls-profileColumns">
      <div class="_cls-profileColumn">
        <div class="_cls-profileSection">
          <div class="_cls-profileInfo _cls-organizationInfo">
            <div class="_cls-profileAvatar">
              {% autoescape off %}{% avatar organization.name 45 %}{% endautoescape %}
            </div>
            <div class="_cls-profileNames">
              <div class="_cls-profileName">
                {{ organization.name }}
              </div>
            </div>
          </div>
          <a href="{% url "organizations:update" organization.slug %}"><div class="_cls-action">Edit organization</div></a>
        </div>
        <div class="_cls-organizationSection">
          {% if is_admin %}
            <div class="_cls-info _cls-infoPreSpaced">You are an admin for this organization</div>
          {% elif is_member %}
            <div class="_cls-info _cls-infoPreSpaced">You are a user for this organization</div>
          {% endif %}
          <div class="_cls-mediumHeader">Users ({{ organization.users.count }})</div>
          {% if is_admin %}
            <div class="_cls-infoSpaced">
              <a class="_cls-action" href="{% url "organizations:manage-members" organization.slug %}">
                Manage {% if invites.count == 1 %}
                  (1 join request)
                {% elif invites.count > 1 %}
                  ({{ invites.count }} join requests)
                {% endif %}
              </a>
            </div>
          {% elif is_member %}
          {% elif invited %}

          {% elif requested_invite %}
            <div class="_cls-info _cls-infoStatus _cls-infoSpaced">You have requested an invite.</div>
          {% else %}
            <form class="_cls-infoSpaced" method="post">
              {% csrf_token %}
              <button class="_cls-action" name="action" value="join">Request to join</button>
            </form>
          {% endif %}
          {% if organization.users.count > 0 %}
            <ul class="_cls-profList">
              {% for user in organization.users.all %}
                <a href="{% url "users:detail" user.username %}">
                  <li>
                    <div class="_cls-inlineAvatar">
                      {% autoescape off %}{% avatar user.username 15 %}{% endautoescape %}
                    </div>
                    {{ user.name }}
                  </li>
                </a>
              {% endfor %}
            </ul>
          {% else %}
            <div class="_cls-info">
              <p>This organization has no members.</p>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="_cls-planColumn">
        <div class="_cls-currentPlan">
          <div class="_cls-planInfo">Current plan: <b>Basic</b></div>
          <div class="_cls-actionSmall">
            <a href="{% url "organizations:update" organization.slug %}"><button>Upgrade</button></a>
          </div>
        </div>
        <div class="_cls-services">
          <div class="_cls-mediumHeader">Services</div>
          <p class="_cls-info">
            <span class="_cls-rightBump">A toolset for journalists and the public at large.</span><a href="{% url "about" %}"><span class="_cls-action">Learn&nbsp;more</span></a>
          </p>
          <ul>
            <li>
              <div class="_cls-serviceIcon">
                <img src="{% static 'assets/muckrock.svg' %}">
              </div>
              <div class="_cls-serviceInfo">
                <div class="_cls-serviceName">
                  MuckRock
                </div>
                <div class="_cls-serviceDescription">
                  File, track, share government requests
                </div>
              </div>
            </li>
            <li>
              <div class="_cls-serviceIcon">
                <img src="{% static 'assets/documentcloud.svg' %}">
              </div>
              <div class="_cls-serviceInfo">
                <div class="_cls-serviceName">
                  DocumentCloud
                </div>
                <div class="_cls-serviceDescription">
                  Upload, analyze, embed documents
                </div>
              </div>
            </li>
            <li>
              <div class="_cls-serviceIcon">
                <img src="{% static 'assets/foiamachine.svg' %}">
              </div>
              <div class="_cls-serviceInfo">
                <div class="_cls-serviceName">
                  FOIA Machine
                </div>
                <div class="_cls-serviceDescription">
                  File Freedom of Information Act requests privately
                </div>
              </div>
            </li>
            <li>
              <div class="_cls-serviceIcon">
                <img src="{% static 'assets/quackbot.svg' %}">
              </div>
              <div class="_cls-serviceInfo">
                <div class="_cls-serviceName">
                  Quackbot
                </div>
                <div class="_cls-serviceDescription">
                  A task-oriented chat bot for journalists using Slack
                </div>
              </div>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
{% comment %} 
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ user.username }}</h2>
      {% if user.name %}
        <p>{{ user.name }}</p>
      {% endif %}
      {% thumbnail user.avatar "150x150" as im %}
        <p><img src="{{ im.url }}"></p>
      {% empty %}
        <p>No avatar</p>
      {% endthumbnail %}
    </div>
  </div>

{% if user == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'users:payment' %}" role="button">My Payment Info</a>
    <a class="btn btn-primary" href="{% url 'users:buy-requests' %}" role="button">Buy Requests</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div> {% endcomment %}
{% endblock content %}





{% comment %} 
{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Organization: {{ organization.name }}{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h2>{{ organization.name}}</h2>
        <dl>
          <dt>Plan</dt>
          <dd>{{ organization.get_plan_display }}</dd>
          <dt>Max Users</dt>
          <dd>{{ organization.max_users }}</dd>
          <dt>Requests Per Month</dt>
          <dd>{{ organization.requests_per_month }}</dd>
          <dt>Monthly Requests</dt>
          <dd>{{ organization.monthly_requests }}</dd>
        </dl>
        <h3>Users</h3>
        <ul>
          {% for user in organization.users.all %}
            <li>
              <a href="{% url "users:detail" user.username %}">
                {{ user.username }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% if not is_member %}
      <div class="row">
        <div class="col-sm-2">
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn" name="action" value="join">Request to Join</button>
        </div>
      </div>
    {% endif %}

    {% if is_member %}
      <div class="row">
        <div class="col-sm-2">
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn" name="action" value="leave">Leave this Organization</button>
        </div>
      </div>
    {% endif %}

    {% if is_admin %}
      <div class="row">
        <div class="col-sm-2">
          <a
             class="btn btn-primary"
             href="{% url "organizations:update" organization.slug %}"
             role="button">
            Edit Info
          </a>
        </div>
        <div class="col-sm-2">
          <a
             class="btn btn-primary"
             href="{% url "organizations:manage-members" organization.slug %}"
             role="button">
            Manage Members
          </a>
        </div>
        <div class="col-sm-2">
          <a
             class="btn btn-primary"
             href="{% url "organizations:manage-invitations" organization.slug %}"
             role="button">
            Manage Invitations
          </a>
        </div>
        <div class="col-sm-2">
          <a
             class="btn btn-primary"
             href="{% url "organizations:add-member" organization.slug %}"
             role="button">
            Add Member
          </a>
        </div>
        <div class="col-sm-2">
          <a
             class="btn btn-primary"
             href="{% url "organizations:buy-requests" organization.slug %}"
             role="button">
            Buy Requests
          </a>
        </div>
      </div>
    {% endif %}

{% for invite in invites %}
  <li class="_cls-pendingInvite">
    <div class="_cls-info">Requested invite</div>
    <div>
      <div class="_cls-inlineAvatar">
        {% autoescape off %}{% avatar invite.user.name 15 %}{% endautoescape %}
      </div>
      {{ invite.user.name }}Dylan Freedman
    </div>
  </li>
{% endfor %}



  </div>
{% endblock content %} {% endcomment %}
