{% extends "base.html" %}
{% load static i18n django_vite crispy_forms_tags %}
{% block title %}Create organization{% endblock %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/organization_create.ts" %}
{% endblock vite %}

{% block content %}

<div class="_cls-content create-organization {% if not has_verified_email %}unverified{% endif %}">
  {% if not has_verified_email %}
    <h2>{% trans "Email verification required" %}</h2>
    <p>
      {% blocktrans %}
        You must verify your email address before creating an organization.
        Please check your inbox for a verification email, or view your
        connected accounts to resend it.
      {% endblocktrans %}
    </p>
    <a href="{% url 'users:detail' user %}#accounts" class="btn primary">
      {% trans "Go to account" %}
    </a>

  {% else %}
    <h1 class="title">{% trans "Create an organization" %}</h1>
    <div id="org_name_search"></div>
    <form class="card" method="POST" action="{% url 'organizations:create' %}" enctype="multipart/form-data">
      {% csrf_token %}
      {% crispy form form.helper %}
      <button type="submit" class="btn primary full">{% trans "Create organization" %}</button>
    </form>
  {% endif %}
</div>

{% endblock %}
