{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ organization.name }}{% endblock %}

{% block content %}
  <div class="_cls-content">
    <h1>{{ organization.name }}</h1>
    {% if organization.plan != organization.next_plan %}
      <p>
        {% blocktrans with update_on=organization.update_on|date:"m/d/Y" %}
          Pending Plan (on {{ update_on }}):
        {% endblocktrans %}
        <b>{{ organization.next_plan.name }}</b>
      </p>
    {% endif %}
    <form id="stripe-form" method="post">
      {% crispy form form.helper %}

      {% if form.stripe_token %}
        <div id="card-container">
          <h3 class="_cls-smallHeading">{% blocktrans %}Billing information{% endblocktrans %}</h3>
          <div class="_cls-field">
            <div id="card-element" class="_cls-fieldInput"></div>
          </div>
          <!-- Used to display Element errors. -->
          <div id="card-errors" role="alert"></div>
        </div>
      {% endif %}

      <div class="control-group" style="margin-top: 2em;">
        <div class="_cls-actionSmall">
          <button type="submit" class="btn">{% trans 'Update' %}</button>
          <a href="{% url 'organizations:detail' organization.slug %}" class="_cls-altAction">
            {% trans 'Cancel' %}
          </a>
        </div>
      </div>

    </form>
    {{ free_choices|json_script:"free-choices" }}
  </div>
{% endblock %}
