{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load avatar %}
{% load i18n %}

{% block title %}{% trans 'Organization' %}: {{ organization.name }}{% endblock %}

{% block content %}

  <div class="_cls-largeContent">
    <div class="_cls-profileColumns">
      <div class="_cls-profileColumn">
        <div class="_cls-profileSection">
          <div class="_cls-profileInfo _cls-organizationInfo">
            <div class="_cls-profileAvatar">
              {% avatar organization 45 %}
            </div>
            <div class="_cls-profileNames">
              <div class="_cls-profileName">
                {{ organization.name }}
              </div>
            </div>
          </div>
          {% if is_admin %}
            <a href="{% url "organizations:update" organization.slug %}"><div class="_cls-action">{% trans 'Edit organization' %}</div></a>
          {% endif %}
        </div>
        <div class="_cls-organizationSection">
          {% if is_admin %}
            <div class="_cls-info _cls-infoPreSpaced">{% trans 'You are an admin for this organization' %}</div>
          {% elif is_member %}
            <div class="_cls-info _cls-infoPreSpaced">{% trans 'You are a user for this organization' %}</div>
          {% endif %}
          <div class="_cls-mediumHeader">{% trans 'Users' %} ({{ organization.users.count }})</div>
          {% if is_admin %}
            <div class="_cls-infoSpaced">
              <a class="_cls-action" href="{% url "organizations:manage-members" organization.slug %}">
                {% trans 'Manage' %} {% if invite_count == 1 %}
                  (1 {% trans 'join request' %})
                {% elif invites.count > 1 %}
                  ({{ invites.count }} {% trans 'join requests' %})
                {% endif %}
              </a>
            </div>
          {% elif is_member %}
          {% elif invited %}
          {% elif requested_invite %}
            <div class="_cls-info _cls-infoStatus _cls-infoSpaced">{% trans 'You have requested an invite.' %}</div>
          {% else %}
            <form class="_cls-infoSpaced" method="post">
              {% csrf_token %}
              <button class="_cls-action" name="action" value="join">{% trans 'Request to join' %}</button>
            </form>
          {% endif %}
          {% if organization.users.count > 0 %}
            <ul class="_cls-profList">
              {% for user in organization.users.all %}
                <a href="{% url "users:detail" user.username %}">
                  <li>
                    <div class="_cls-inlineAvatar">
                      {% avatar user 15 %}
                    </div>
                    {{ user.safe_name }}
                  </li>
                </a>
              {% endfor %}
            </ul>
          {% else %}
            <div class="_cls-info">
              <p>{% trans 'This organization has no members.' %}</p>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="_cls-planColumn">
        {% if is_admin %}
          <div class="_cls-currentPlan">
            {% comment %} TODO handle plan name {% endcomment %}
            <div class="_cls-planInfo">{% trans 'Current plan' %}: <b>{% trans 'Basic' %}</b></div>
            <div class="_cls-actionSmall">
              <a href="{% url "organizations:update" organization.slug %}"><button>{% trans 'Upgrade' %}</button></a>
            </div>
          </div>
        {% endif %}
        <div class="_cls-services">
          <div class="_cls-mediumHeader">{% trans 'Services' %}</div>
          <p class="_cls-info">
            <span class="_cls-rightBump">{% blocktrans %}A toolset for journalists and the public at large.{% endblocktrans %}</span><a href="{% url "about" %}"><span class="_cls-action">Learn&nbsp;more</span></a>
          </p>
          <ul>
            <li>
              <div class="_cls-serviceIcon">
                <img src="{% static 'assets/muckrock.svg' %}">
              </div>
              <div class="_cls-serviceInfo">
                <div class="_cls-serviceName">
                  {% trans 'MuckRock' %}
                </div>
                <div class="_cls-serviceDescription">
                  {% blocktrans %}File, track, share government requests{% endblocktrans %}
                </div>
              </div>
            </li>
            <li>
              <div class="_cls-serviceIcon">
                <img src="{% static 'assets/documentcloud.svg' %}">
              </div>
              <div class="_cls-serviceInfo">
                <div class="_cls-serviceName">
                  {% trans 'DocumentCloud' %}
                </div>
                <div class="_cls-serviceDescription">
                  {% blocktrans %}Upload, analyze, embed documents{% endblocktrans %}
                </div>
              </div>
            </li>
            <li>
              <div class="_cls-serviceIcon">
                <img src="{% static 'assets/foiamachine.svg' %}">
              </div>
              <div class="_cls-serviceInfo">
                <div class="_cls-serviceName">
                  {% trans 'FOIA Machine' %}
                </div>
                <div class="_cls-serviceDescription">
                  {% blocktrans %}File Freedom of Information Act requests privately{% endblocktrans %}
                </div>
              </div>
            </li>
            <li>
              <div class="_cls-serviceIcon">
                <img src="{% static 'assets/quackbot.svg' %}">
              </div>
              <div class="_cls-serviceInfo">
                <div class="_cls-serviceName">
                  {% trans 'Quackbot' %}
                </div>
                <div class="_cls-serviceDescription">
                  {% blocktrans %}A task-oriented chat bot for journalists using Slack{% endblocktrans %}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
