{% extends "base.html" %}

{% block title %}{{ organization.name }} - Receipts{% endblock %}

{% block content %}
  <div class="_cls-largeContent">
    <h1>{{ organization.name }}</h1>
    <h2>Receipts</h2>
    <div class="_cls-manageTable">
      <div class="_cls-manageRow _cls-manageHeader">
        <div class="_cls-manageCell">Date</div>
        <div class="_cls-manageCell">Description</div>
        <div class="_cls-manageCell">Amount</div>
      </div>
      {% for charge in charges %}
        <div class="_cls-manageRow">
          <div class="_cls-manageCell">
            {{ charge.created_at|date }} {{ charge.created_at|time }}
          </div>
          <div class="_cls-manageCell">{{ charge.description }}</div>
          <div class="_cls-manageCell">${{ charge.amount_dollars|floatformat:2 }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
