{% extends "base.html" %}
{% load avatar django_vite i18n %}

{% block title %}{{ organization.name }} | Manage Memberships{% endblock %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/organization_managemembers.ts" %}
{% endblock vite %}

{% block content %}
<article id="managemembers">
  <aside class="sidebar">
    <div>
      <a href="{{ organization.get_absolute_url }}" class="btn ghost primary">
        {% include "core/icons/chevron-left.svg" %}
        {% trans "Back to team overview" %}
      </a>

      <header>
        <h1>{{ organization.name }}</h1>
        <h2>{% trans "Members" %}</h2>
      </header>

      <nav>
        <ul>
          <li>
            <a href="#invite">
              {% include "core/icons/plus-circle.svg" %}
              {% trans "Invite members" %}
            </a>
          </li>

          <li>
            <a href="#requests">
              {% include "core/icons/smiley.svg" %}
              {% trans "Member requests" %}
            </a>
          </li>

          <li>
            <a href="#pending">
              {% include "core/icons/mail.svg" %}
              {% trans "Pending invitations" %}
            </a>
          </li>

          <li>
            <a href="#members">
              {% include "core/icons/people.svg" %}
              {% trans "Members" %}
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <div class="content">
    <section id="invite">
      <header>
        <div class="title">
          <h2>{% trans "Invite members" %}</h2>
          <p>{% trans "Add new members by email or with a special link" %}</p>
        </div>
        <form class="actions" method="POST"
          action="{% url "organizations:manage-members" slug=organization.slug %}">
          {% csrf_token %}
          <button class="btn primary ghost" type="submit" name="addmember_link">
            {% include "core/icons/link.svg" %}
            {% trans "Generate invite link" %}
          </button>
        </form>
      </header>

      <div class="card">
        <form method="POST" 
          id="org-form" 
          action="{% url "organizations:manage-members" slug=organization.slug %}">
          {% csrf_token %}
          <input type="hidden" name="action" value="managemembers">
          <div class="email">
            <label>
              <span class="sr-only">{% trans "Email" %}</span>
              <div class="wrapper">
                {% include "core/icons/mail.svg" %}
                <input type="email" name="emails" multiple placeholder="{% trans 'Enter email addresses to invite' %}" />
              </div>
            </label>
              <button type="submit" name="addmember" class="btn primary">
                {% include "core/icons/paper-airplane.svg" %}
                {% trans "Send invites" %}
              </button>
          </div>
          <p class="help">{% trans "To invite multiple users, separate email addresses with spaces or commas" %}</p>
        </form>
      </div>
    </section>

    {% if requested_invitations %}
    {% with count=requested_invitations|length %}
    <section id="requests">
      <header>
        <h2>
          {{ count }} pending request{{ count|pluralize }}
        </h2>
        <p>{% trans "Users who've asked to join" %}:</p>
      </header>
      <div class="card"></div>
    </section>
    {% endwith %}
    {% endif %}

    {% if pending_invitations %}
    {% with count=pending_invitations|length %}
    <section id="pending">
      <header>
        <h2>
          {{ count }} pending invitation{{ count|pluralize }}
        </h2>
        <p>{% trans "Users you've invited to join" %}:</p>
      </header>
      <div class="card">
        {% for invitation in pending_invitations %}
        <div class="invitation">
          {% if invitation.user %}
            {% include "organizations/user_list_item.html" with user=invitation.user %}
          {% else %}
            {# include "organizations/invitation_list_item.html" with invitation=invitation #}
            <div class="invited">
              <div class="avatar">
                  {% include "core/icons/mail.svg" %}
              </div>
              <div class="info">
                  <h3>{{ invitation.email }}</h3>
              </div>
          </div>
          {% endif %}

          <form class="actions" method="POST" action="{% url "organizations:manage-members" slug=organization.slug %}">
            <div class="buttons">
              <button type="submit" class="btn ghost">
                {% include "core/icons/paper-airplane.svg" %}
                {% trans "Resend" %}
              </button>
              <button class="btn ghost">
                {% include "core/icons/link.svg" %}
                {% trans "Copy link" %}
              </button>
              <button class="btn ghost danger">
                {% include "core/icons/x.svg" %}
                {% trans "Withdraw" %}
              </button>
            </div>
            <p>Generated {{ invitation.created_at }}</p>
          </form>
        </div>
        {% endfor %}
      </div>
    </section>
    {% endwith %}
    {% endif %}

    {% with count=members|length %}
    <section id="members">
      <header>
        <h2>{{ count }} member{{ count|pluralize }}</h2>
      </header>
      <div class="card">
        {% for membership in members %}
        <div class="membership">
          {% include "organizations/user_list_item.html" with membership=membership user=membership.user %}

          <form method="POST" class="actions">
            {% csrf_token %}
            {% if membership.admin %}
            <input type="hidden" name="admin" value="false">
            <button type="submit" class="btn ghost">
              {% include "core/icons/arrow-down.svg" %}
              {% trans "Demote to member" %}
            </button>
            {% else %}
            <input type="hidden" name="admin" value="true">
            <button type="submit" class="btn ghost">
              {% include "core/icons/arrow-up.svg" %}
              {% trans "Promote to admin" %}
            </button>
            {% endif %}

            {% if membership.user == request.user %}
            <button class="btn ghost danger">
              {% include "core/icons/sign-out.svg" %}
              {% trans "Leave" %}
            </button>
            {% else %}
            <button class="btn ghost danger">
              {% include "core/icons/x-circle.svg" %}
              {% trans "Remove" %}</button>
            {% endif %}
          </form>
        </div>
        {% endfor %}
      </div>
    </section>
    {% endwith %}

  </div>
</article>
{% endblock content %}

{% comment %}
  <div class="_cls-largeContent">
    <h2>Manage memberships</h2>
    <h3>{{ organization.name }}</h3>

    <div class="_cls-tableHeading">{% trans 'Manage members' %}</div>
    <div class="_cls-tableInfo">{% trans 'Users who are a part of the organization' %}</div>
    <form class="_cls-inlineForm" method="post" enctype="multipart/form-data" id="org-form">
      {% csrf_token %}
      <input type="hidden" name="action" value="managemembers">
      <div class="_cls-manageTable">
        <div class="_cls-manageRow _cls-manageHeader">
          <div class="_cls-manageCell" style="width: 35%">{% trans 'User' %}</div>
          <div class="_cls-manageCell" style="width: 40%">{% trans 'Email' %}</div>
          <div class="_cls-manageCell" style="width: 5%">{% trans 'Admin' %}</div>
          <div class="_cls-manageCell" style="width: 20%">{% trans 'Action' %}</div>
          </div>
        {% for member in members %}
          <div class="_cls-manageRow">
            <div class="_cls-manageCell">
              <a class="_cls-nostyle" href="{{ member.user.get_absolute_url }}">
                <div class="_cls-inlineAvatar">
                  {% avatar member.user 25 %}
                </div>
                {{ member.user.safe_name }}
              </a>
            </div>
            <div class="_cls-manageCell">
              <a href="mailto:{{ member.user.email }}">{{ member.user.email }}</a>
            </div>
            {% if member.user == admin %}
              <div class="_cls-manageCell">{% trans 'Yes' %}</div>
              <div class="_cls-manageCell">{% trans 'Cannot remove self' %}</div>
            {% else %}
              <div class="_cls-manageCell">
                <form method="POST" class="_cls-inlineForm _cls-inlineInlineForm">
                  {% csrf_token %}
                  <input type="hidden" name="action" value="makeadmin">
                  <input type="hidden" name="userid" value="{{ member.user.id }}">
                  
                  {% if member.admin %}
                    <input type="hidden" name="admin" value="false">
                    <button type="submit" class="_cls-fauxBox _cls-checked">✓</button>
                  {% else %}
                    <input type="hidden" name="admin" value="true">
                    <button type="submit" class="_cls-fauxBox _cls-unchecked"></button>
                  {% endif %}
                </form>
              </div>
              <div class="_cls-manageCell">
                <form method="POST" class="_cls-inlineForm">
                  {% csrf_token %}
                  <input type="hidden" name="action" value="removeuser">
                  <input type="hidden" name="userid" value="{{ member.user.id }}">
                  <button type="submit" class="_cls-compactButton">{% trans 'Remove' %}</button>
                </form>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </form>

    {% if requested_invitations %}
    <div class="_cls-tableHeading">{% trans 'Requested invites' %}</div>
    <div class="_cls-tableInfo">{% trans 'Users that have requested to be a part of the organization' %}</div>
    <div class="_cls-manageTable">
      <div class="_cls-manageRow _cls-manageHeader">
        <div class="_cls-manageCell">{% trans 'User' %}</div>
        <div class="_cls-manageCell">{% trans 'Requested time' %}</div>
        <div class="_cls-manageCell">{% trans 'Action' %}</div>
        </div>
      {% for invite in requested_invitations %}
        <div class="_cls-manageRow">
          <div class="_cls-manageCell">
            <a class="_cls-nostyle" href="{{ invite.user.get_absolute_url }}">
              <div class="_cls-inlineAvatar">
                {% avatar invite.user 25 %}
              </div>
              {{ invite.get_name }}
            </a>
          </div>
          <div class="_cls-manageCell">{{ invite.created_at | date:"Y-m-d H:i" }}</div>
          <div class="_cls-manageCell">
            <form method="POST" class="_cls-inlineForm _cls-inlineInlineForm">
              {% csrf_token %}
              <input type="hidden" name="action" value="acceptinvite">
              <input type="hidden" name="inviteid" value="{{ invite.id }}">
              <button type="submit" class="_cls-compactButton">{% trans 'Accept' %}</button>
            </form>
            <form method="POST" class="_cls-inlineForm _cls-inlineInlineForm">
              {% csrf_token %}
              <input type="hidden" name="action" value="rejectinvite">
              <input type="hidden" name="inviteid" value="{{ invite.id }}">
              <button type="submit" class="_cls-compactButton">{% trans 'Reject' %}</button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if pending_invitations %}
    <div class="_cls-tableHeading">{% trans 'Pending invites' %}</div>
    <div class="_cls-tableInfo">{% trans 'Users you have invited to be a part of the organization' %}</div>
    <div class="_cls-manageTable">
      <div class="_cls-manageRow _cls-manageHeader">
        <div class="_cls-manageCell">{% trans 'User' %}</div>
        <div class="_cls-manageCell" style="width: 20%">{% trans 'Requested time' %}</div>
        <div class="_cls-manageCell" style="width: 10%">{% trans 'Action' %}</div>
        <div class="_cls-manageCell" style="wdith: 45%">{% trans 'Link' %}</div>
        </div>
      {% for invite in pending_invitations %}
        <div class="_cls-manageRow">
          <div class="_cls-manageCell">
            <a class="_cls-nostyle" href="{{ invite.user.get_absolute_url }}">
              <div class="_cls-inlineAvatar">
                {% avatar invite.user 25 %}
              </div>
              {% if invite.get_name %}
                {{ invite.get_name }}
              {% else %}
                <em>None</em>
              {% endif %}
            </a>
          </div>
          <div class="_cls-manageCell">{{ invite.created_at | date:"Y-m-d H:i" }}</div>
          <div class="_cls-manageCell">
            <form method="POST" class="_cls-inlineForm">
              {% csrf_token %}
              <input type="hidden" name="action" value="revokeinvite">
              <input type="hidden" name="inviteid" value="{{ invite.id }}">
              <button type="submit" class="_cls-compactButton">{% trans 'Revoke' %}</button>
            </form>
            <form method="POST" class="_cls-inlineForm _cls-inlineInlineForm"> {# Added _cls-inlineInlineForm #}
              {% csrf_token %}
              <input type="hidden" name="action" value="resendinvite"> {# Action value matches view #}
              <input type="hidden" name="inviteid" value="{{ invite.id }}"> {# Same invite ID #}
              <button type="submit" class="_cls-compactButton">{% trans 'Resend' %}</button> {# Button text #}
            </form>
          </div>
          <div class="_cls-manageCell">
            <input
              type="text"
              value="{{ settings.SQUARELET_URL }}{% url "organizations:invitation" invite.uuid %}"
              style="width: 100%"

              >
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="_cls-tableHeading">{% trans 'Invite new members' %}</div>
    <div class="_cls-tableInfo">
      {% blocktrans %}
        They will get an email inviting them to join.
      {% endblocktrans %}
    </div>
    <form class="_cls-inlineForm" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="action" value="addmember">
      <div class="_cls-inviteUsers _cls-actionSmall _cls-actionSmaller">
        <textarea
          name="emails"
          placeholder="Enter email addresses separated by commas or whitespace"
          cols="40"
          rows="10"
          required></textarea>
        <button type="submit" name="addmember">
          + {% trans 'Add users by email' %}
        </button>
      </div>
    </form>
    <div class="_cls-tableInfo">
      {% blocktrans %}
        Generate an invitation link to send directly.  A link can only be used
        once &mdash; generate one link per person you would like to invite.
      {% endblocktrans %}
    </div>
    <form class="_cls-inlineForm" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="action" value="addmember_link">
      <div class="_cls-inviteUsers _cls-actionSmall _cls-actionSmaller">
        <button type="submit" name="addmember_link">
          + {% trans 'Generate invite link' %}
        </button>
      </div>
    </form>
    <p class="_cls-spaced"><a href="{{ organization.get_absolute_url }}" class="_cls-altAction">
      {% trans 'Go back' %}
    </a></p>
  </div>
{% endcomment %}
