{% extends "layouts/sidebar_layout.html" %}
{% load avatar humanize django_vite i18n crispy_forms_tags planinfo %}
{% load icon %}

{% block title %}{{ organization.name }} | Manage Subscriptions{% endblock %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/organization_payment.ts" %}
{% endblock vite %}

{% block layout_id %}manage_billing{% endblock %}

{% block header %}
  <header>
    <h1>{{ organization.name }}</h1>
    <span class="arrow">{% icon "chevron-right" %}</span>
    <h2>{% trans "Subscriptions" %}</h2>
  </header>
{% endblock %}

{% block content %}
<div class="_cls-content">
<h1>{{ organization.reference_name }}</h1>
{% if failed_receipt_emails %}
    <p>Warning: there were errors sending email to the following email addresses in your receipt emails:</p>
    <ul>
    {% for email in failed_receipt_emails %}
        <li> {{ email.email }} </li>
    {% endfor %}
    </ul>
{% endif %}
<div class="_cls-planInfo">
    {% trans "Current plan" %}: <b>{{ organization.plan|default:"Free" }}</b>
    {% if current_subscription.cancelled %}
    <div class="_cls-info _cls-infoSpaced">
        {% blocktrans with update_on=current_subscription.update_on|date:"m/d/Y" %}
        Subscription ends on {{ update_on }}
        {% endblocktrans %}
    </div>
    {% endif %}
</div>
<form id="stripe-form" method="post" enctype="multipart/form-data">
    {% crispy form form.helper %}

    <li>
      <a href="#payment" class="nav-item">
        {% icon "gear" %}
        {% trans "Payment settings" %}
      </a>
    </li>

    <li>
      <a href="#recent" class="nav-item">
        {% icon "log" %}
        {% trans "Recent payments" %}
      </a>
    </li>
  </ul>
{% endblock sidebar %}

{% block main %}
  <section id="plans">
    <header>
      <div class="title">
        <h2>{% trans "Your plans" %}</h2>
      </div>
    </header>

    {% for subscription in subscriptions %}
      {% with annual=subscription.plan.annual %}
        <main id="{{ subscription.plan.slug }}" class="subscription-card">
          <div class="subscription-row">
            <h3 class="plan-name">{{ subscription.plan.name }}</h3>
          <div class="subscription-frequency">
            <span class="blue badge">
              {{ annual|yesno:_("Annual,Monthly") }}
            </span>
            <a href="#" class="btn ghost primary small">
              {{ annual|yesno:_("Change to monthly,Change to annual") }}
            </a>
          </div>
          </div>
          <div class="subscription-row">
            <div class="subscription-group">
            <span class="subscription-detail">
              <span class="icon">
                {% icon "tag" %}
              </span>
              <span>
                <strong>${{ subscription.cost|floatformat:2|intcomma }}</strong>
                {{ annual|yesno:_("per year,per month") }}
              </span>
            </span>
            <span class="subscription-detail">
              <span class="icon">
                {% icon "calendar" %}
              </span>
              <span>
                {{ subscription.plan.cancelled|yesno:_("Ends on,Renews on") }}
                <strong>{{ subscription.next_date }}</strong>
              </span>
            </span>
          </div>
          <a href="#" class="btn ghost danger small">
            {% icon "x-circle" %}
            {% trans "Cancel plan" %}
          </a>
          </div>
        </main>
      {% endwith %}
    {% endfor %}
  </section>

  <section id="payment">
    <header>
      <div class="title">
        <h2>{% trans "Payment settings" %}</h2>
      </div>
    </header>

    <div class="card">
    </div>
  </section>

  <section id="recent">
    <header>
      <div class="title">
        <h2>{% trans "Recent payments" %}</h2>
      </div>
      <a href="{% url "organizations:org-requests" slug=organization.slug %}" class="btn small ghost primary">
        {% icon "log" %}
        {% trans "View all" %}
      </a>
    </header>

    <div class="card">
    </div>
  </section>
{% endblock main %}