{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load avatar %}
{% load i18n %}
{% block title %}Merge Organizations{% endblock %}

{% block css %}
{{ block.super }}
<style>
  .container {
    max-width: var(--max-width, 62rem);
    margin: 3rem auto;
  }
  .form-horizontal {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .form-horizontal > * {
    flex: 1 1 auto;
  }
  .form-horizontal select {
    width: 100%;
    font-size: var(--font-md, 1rem);
    font-family: var(--font-sans);
  }
  .form-horizontal .control-group {
    flex: 1 1 100%;
  }
  table {
    background: var(--white);
    width: 100%;
    border-collapse: collapse;
  }
  td, th {
    padding: .25rem .5rem;
    border: 1px solid var(--gray-2);
    vertical-align: top;
  }
  th {
    background-color: var(--gray-1);
    font-weight: var(--semibold, 600);
  }
  .column-header {
    text-align: left;
  }
  .row-header {
    text-align: right;
  }
  table ul {
    margin: 0;
    padding-left: 1rem;
  }
  .empty {
    color: var(--gray-4);
    list-style-type: none;
  }
  li.empty {
    margin-left: -1rem;
  }
  p.caution {
    color: var(--orange-4);
    background: var(--orange-2);
    padding: .25rem .5rem;
    border-radius: .25rem;
  }
</style>
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Merge Organizations</h1>
    {% if form.fields.confirmed.initial %}
      <p>
        {% with good=form.initial.good_organization bad=form.initial.bad_organization %}
          <p>
            Please review the two organizations you are about to merge before you
            confirm this submission.  Be sure to manually reconcile any data if
            necessary.
          </p>
          <table>
            <tr>
              <th class="column-header">&nbsp;</th>
              <th class="column-header">{% trans "Organization to keep" %}</th>
              <th class="column-header">{% trans "Organization to reject" %}</th>
            </tr>
            <tr>
              <th class="row-header">ID</th>
              <td>
                <a href="{% url "admin:organizations_organization_change" good.pk %}">
                  {{ good.pk }}
                </a>
              </td>
              <td>
                <a href="{% url "admin:organizations_organization_change" bad.pk %}">
                  {{ bad.pk }}
                </a>
              </td>
            </tr>
            <tr>
              <th class="row-header">Name</th>
              <td><a href="{{ good.get_absolute_url }}">{{ good.name }}</a></td>
              <td><a href="{{ bad.get_absolute_url }}">{{ bad.name }}</a></td>
            </tr>
            <tr>
              <th class="row-header">Image</th>
              <td>{% avatar good %}</td>
              <td>{% avatar bad %}</td>
            </tr>
            <tr>
              <th class="row-header">Parent</th>
              <td>
                {% if good.parent %}
                  {{ good.parent }}
                {% else %}
                  <span class="empty">None</span>
                {% endif %}
              </td>
              <td>
                {% if bad.parent %}
                  {{ bad.parent }}
                {% else %}
                  <span class="empty">None</span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <th class="row-header">Charges</th>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th class="row-header">Users</th>
              <td>
                <ul>
                  {% for user in good.users.all %}
                    <li>{{ user }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
              <td>
                <ul>
                  {% for user in bad.users.all %}
                    <li>{{ user }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <th class="row-header">Receipt Emails</th>
              <td>
                <ul>
                  {% for email in good.receipt_emails.all %}
                    <li>{{ email.email }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
              <td>
                <ul>
                  {% for email in bad.receipt_emails.all %}
                    <li>{{ email.email }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <th class="row-header">URLs</th>
              <td>
                <ul>
                  {% for url in good.urls.all %}
                    <li>{{ url.url }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
              <td>
                <ul>
                  {% for url in bad.urls.all %}
                    <li>{{ url.url }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <th class="row-header">Email Domains</th>
              <td>
                <ul>
                  {% for domain in good.domains.all %}
                    <li>{{ domain.domain }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
              <td>
                <ul>
                  {% for domain in bad.domains.all %}
                    <li>{{ domain.domain }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <th class="row-header">Private Plans</th>
              <td>
                <ul>
                  {% for plan in good.private_plans.all %}
                    <li>{{ plan }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
              <td>
                <ul>
                  {% for plan in bad.private_plans.all %}
                    <li>{{ plan }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <th class="row-header">Children</th>
              <td>
                <ul>
                  {% for child in good.children.all %}
                    <li>{{ child }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
              <td>
                <ul>
                  {% for child in bad.children.all %}
                    <li>{{ child }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <th class="row-header">Groups</th>
              <td>
                <ul>
                  {% for group in good.groups.all %}
                    <li>{{ group }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
              <td>
                <ul>
                  {% for group in bad.groups.all %}
                    <li>{{ group }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <th class="row-header">Members (Orgs)</th>
              <td>
                <ul>
                  {% for member in good.members.all %}
                    <li>{{ member }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
              <td>
                <ul>
                  {% for member in bad.members.all %}
                    <li>{{ member }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <th class="row-header">Subtypes</th>
              <td>
                <ul>
                  {% for subtype in good.subtypes.all %}
                    <li>{{ subtype }}</li>
                  {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
              <td>
                <ul>
                  {% for subtype in bad.subtypes.all %}
                    <li>{{ subtype }}</li>
                    {% empty %}
                    <li class="empty">None</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          </table>
        {% endwith %}
      </p>
    {% else %}
      <p class="caution"><strong>You should only be using this tool if you know what you are
        doing &mdash; if you have any doubts, ask somebody first!</strong></p>
      <p>
        Select two organizations to merge. The "bad" organization will be marked
        as rejected, and all records pointing to it will now point to the "good"
        organization.
      </p>
      <p>Only organizations without active subscriptions may be merged. If an organization has an active subscription, it must be cancelled before it can be merged.</p>
      <p>After selecting two
        organizations on this page, you will see a page with a table of the data
        for the selected organizations, which you can review before you confirm
        the merger.
      </p>
    {% endif %}

    <form class="form-horizontal" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% crispy form %}
      <div class="control-group">
        {% if form.fields.confirmed.initial %}
        <button type="submit" class="button primary">
          {% trans "Execute Merge" %}
        </button>
        {% else %}
        <button type="submit" class="button primary">
          {% trans "Review Merge" %}
        </button>
        {% endif %}
      </div>
    </form>
  </div>
{% endblock %}
