{% extends "layouts/sidebar_layout.html" %}
{% load avatar humanize django_vite i18n crispy_forms_tags planinfo %}
{% load icon %}

{% block title %}{{ organization.name }} | Manage Subscriptions{% endblock %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/organization_managesubscriptions.ts" %}
{% endblock vite %}

{% block layout_id %}manage_billing{% endblock %}

{% block header %}
  <header>
    <h1>{{ organization.name }}</h1>
    <span class="arrow">{% icon "chevron-right" %}</span>
    <h2>{% trans "Subscriptions" %}</h2>
  </header>
{% endblock %}

{% block sidebar %}
  <a href="{{ organization.get_absolute_url }}" class="btn small ghost primary">
    {% icon "chevron-left" %}
    {% trans "Back to team overview" %}
  </a>
  <ul>
    <li>
      <a href="#plans" class="nav-item">
        {% icon "credit-card" %}
        {% trans "Your plans" %}
      </a>
    </li>

    <li>
      <a href="#payment" class="nav-item">
        {% icon "gear" %}
        {% trans "Payment settings" %}
      </a>
    </li>

    <li>
      <a href="#recent" class="nav-item">
        {% icon "log" %}
        {% trans "Recent payments" %}
      </a>
    </li>
  </ul>
{% endblock sidebar %}

{% block main %}
  <section id="plans">
    <header>
      <div class="title">
        <h2>{% trans "Your plans" %}</h2>
      </div>
    </header>

    {% for subscription in subscriptions %}
      {% with annual=subscription.plan.annual %}
        <main id="{{ subscription.plan.slug }}" class="subscription-card">
          <div class="subscription-row">
            <h3 class="plan-name">{{ subscription.plan.name }}</h3>
            <div class="subscription-frequency">
              <span class="blue badge">
                {{ annual|yesno:_("Annual,Monthly") }}
              </span>
              {% url 'organizations:update-frequency' subscription.plan.id as update_url %}
              <a href="{{ update_url }}" class="btn ghost primary small">
                {% blocktrans with annual|yesno:_("monthly,annual") as frequency %}
                  Change to {{ frequency }}
                {% endblocktrans %}
              </a>
            </div>
          </div>
          <div class="subscription-row">
            <div class="subscription-group">
              <span class="subscription-detail">
                <span class="icon">
                  {% icon "tag" %}
                </span>
                <span>
                  <strong>${{ subscription.cost|floatformat:2|intcomma }}</strong>
                  {{ annual|yesno:_("per year,per month") }}
                </span>
              </span>
              <span class="subscription-detail">
                <span class="icon">
                  {% icon "calendar" %}
                </span>
                <span>
                  {{ subscription.plan.cancelled|yesno:_("Ends on,Renews on") }}
                  <strong>{{ subscription.next_date }}</strong>
                </span>
              </span>
            </div>
            {% url 'organizations:cancel-subscription' subscription.plan.id as cancel_url %}
            <a href="{{ cancel_url }}" class="btn ghost danger small">
              {% icon "x-circle" %}
              {% trans "Cancel plan" %}
            </a>
          </div>
        </main>
      {% endwith %}
    {% endfor %}
  </section>

  <section id="payment">
    <header>
      <div class="title">
        <h2>{% trans "Payment settings" %}</h2>
      </div>
    </header>

    <main class="subscription-card">
      {% if card %}
        <div class="subscription-row">
          <div class="subscription-group">
            <h3>{% trans "Payment card" %}</h3>
            <span class="subscription-detail">
              <span class="icon">
                {% icon "credit-card" %}
              </span>
              <span>
                {% blocktrans with card.brand as brand and card.last4 as last4 %}
                  {{ brand }} ending in <strong>{{ last4 }}</strong>
                {% endblocktrans %}
              </span>
            </span>
          </div>

          <a href="{% url 'organizations:update-card' organization.slug %}" class="btn ghost primary small">
            {% trans "Add new card" %}
          </a>
        </div>
      {% endif %}

      <div class="subscription-row">
        <div class="subscription-group">
          <h3>{% trans "Receipt emails" %}</h3>
          <span class="subscription-detail">
            <span class="icon">
              {% icon "mail" %}
            </span>
            <span class="emails">
              {% for email in receipt_emails %}
                <span>{{ email.email }}</span>
              {% endfor %}
            </span>
          </span>
        </div>

        {% url 'organizations:update-receipt-email' organization.slug as receipt_email_url %}
        <a href="{{ receipt_email_url }}" class="btn ghost primary small">
          {% trans "Change email" %}
        </a>
      </div>
    </main>
  </section>

  <section id="recent">
    <header>
      <div class="title">
        <h2>{% trans "Recent payments" %}</h2>
      </div>
      <a href="#" class="btn small ghost primary">
        {% icon "log" %}
        {% trans "View all" %}
      </a>
    </header>

    <main class="subscription-card">
    </main>
  </section>
{% endblock main %}