{# required css: css/user_list_item.css #}
{% load thumbnail i18n rules %}
{% has_perm "organizations.can_manage_members" request.user organization as can_manage_members %}
{% with avatar=user.avatar %}
<div class="user">
    {% if avatar %}
        {% thumbnail avatar "100x100" crop="center" as img %}
        <a class="avatar" href="{% url "users:detail" username=user.username %}">
            <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" />
        </a>
        {% endthumbnail %}
    {% else %}
        <a class="avatar" href="{% url "users:detail" username=user.username %}">
            {% include 'core/icons/person-24.svg' %}
        </a>
    {% endif %}
    <div class="info">
        <h3><a href="{% url "users:detail" username=user.username %}">{% firstof user.name user.username %}</a></h3>
        <div class="details">
            {% if user == request.user %}
            <span class="blue badge">{% trans "You" %}</span>
            {% endif %}
            {% if membership.admin %}
            <span class="orange badge">{% trans "Admin" %}</span>
            {% endif %}
            {% if can_manage_members and user.has_mfa_enabled and membership %}
            <span class="green badge">{% trans "2FA" %}</span>
            {% endif %}
            {% if request.user.is_authenticated and has_verified_email %}
            <span class="caption">{{ user.email }}</span>
            {% endif %}
        </div>
    </div>
</div>
{% endwith %}