{% load i18n static %}

<div class="_cls-intent">
  <div class="_cls-intentLogo">
    <img src="{% static intent_asset %}">
  </div>
  <div class="_cls-intentBody">
    <div class="_cls-smallHeader">{{ header }}</div>
    <div class="_cls-intentTitle">{{ intent_service }}</div>
  </div>
</div>
<p class="_cls-info">
  <span class="_cls-rightBump">{{ message }}.</span><a href="{% url 'home' %}"><span class="_cls-action">{% blocktrans %}Learn&nbsp;more{% endblocktrans %}</span></a>
</p>
<div class="_cls-infoLogos">
  {% for asset in other_assets %}
    <div class="_cls-infoLogo">
      <img src="{% static asset %}">
    </div>
  {% endfor %}
</div>
