{% load static thumbnail %}
{% for org in organizations %}
  <a href="{{ org.get_absolute_url }}" class="_cls-orgItem">
    {% if org.avatar %}
      {% thumbnail org.avatar "40x40" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ org.name }}">
      {% endthumbnail %}
    {% else %}
      <img src="{% static 'icons/people-24.svg' %}" alt="{{ org.name }}">
    {% endif %}
    <div class="_cls-orgName">
      {{ org.name }}
      {% if org.is_admin %}
        <span class="_cls-orgBadge">Admin</span>
      {% endif %}
    </div>
  </a>
{% empty %}
<a href="{% url 'organizations:create' %}" class="btn primary ghost full">
  {% include "core/icons/plus-circle.svg" %}
  Create an organization
</a>
{% endfor %}
<hr class="_cls-orgsDivider" />
<a href="{% url 'organizations:list' %}" class="btn primary ghost full">
  Browse organizations
</a>