{% if service %}
<div class="intent-container">
  <div class="service-info">
    <img src="{{ service.icon.url }}" alt="{{ service.name }}">
    <h3>{{ service.name }}</h3>
    <p class="service-owner">by {{ service.provider_name }}</p>
  </div>
</div>
{% endif %}

<div>
  <h2>{{ header }}</h2>
  <a target="_blank" rel="noopener noreferrer" class="help link" href="https://help.muckrock.com/1c4f889269638026b507dc08b6561335?pvs=4#1c4f8892696380a1b918e94ec25d62b2">What is a MuckRock account?</a>
</div>