[MASTER]
load-plugins=pylint_django, pylint_celery
ignore=migrations
# https://stackoverflow.com/a/39207275/10952222
init-hook="import sys, os; sys.path.append(os.path.abspath('squarelet'))"

[FORMAT]
max-line-length=88

[MESSAGES CONTROL]
enable=useless-suppression
disable=fixme,missing-docstring,too-many-ancestors,too-few-public-methods,no-else-return,no-member,attribute-defined-outside-init,too-many-instance-attributes,similarities,raise-missing-from,django-not-configured,wrong-import-order,cyclic-import

[TYPECHECK]
generated-members=REQUEST,acl_users,aq_parent,"[a-zA-Z]+_set{1,2}",save,delete,objects

[BASIC]
const-rgx=(([A-Za-z_][A-Za-z0-9_]*)|(__.*__))$
good-names=pk,i,j,k,_

[DESIGN]

# Maximum number of arguments for function / method
max-args=8
