[MASTER]
load-plugins=pylint_common, pylint_django, pylint_celery

[FORMAT]
max-line-length=88

[MESSAGES CONTROL]
disable=missing-docstring,too-many-ancestors,too-few-public-methods,bad-continuation

[TYPECHECK]
generated-members=REQUEST,acl_users,aq_parent,"[a-zA-Z]+_set{1,2}",save,delete

[BASIC]
const-rgx=(([A-Za-z_][A-Za-z0-9_]*)|(__.*__))$
