{% extends "account/login.html" %}
{% load i18n %}
{% load allauth %}
{% load allauth static %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block css %}
{{ block.super }}
<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .container h1,
  .container p {
    width: 100%;
    text-align: center;
  }
  h1 {
    color: var(--gray-5, #233944);
    text-align: center;
    font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;

    /* Title */
    font-family: var(--font-sans, "Source Sans Pro");
    font-size: var(--font-xl, 1.5rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .flex {
    display: flex;
  }
  .gap-1 {
    gap: 1rem;
  }
  .align-end {
    align-items: flex-end;
  }
</style>
{% endblock %}
{% block login_step %}
<div class="container">
    <div class="icon">
      <img src="{% static 'icons/security.svg' %}" />
    </div>
    <h1>{% trans "Two-Factor Authentication" %}</h1>
    <p>
        {% blocktranslate %}Your account is protected by two-factor authentication. Please enter an authenticator code:{% endblocktranslate %}
    </p>
    {% url 'mfa_authenticate' as action_url %}
    <div>
      {{form.code.errors}}
      {{form.non_field_errors}}
    </div>
    <form class="flex gap-1 align-end" method="post" action="{{action_url}}">
        {% csrf_token %}
        <label class="login text field">
          {% trans 'Enter Code' %}
          {{form.code}}
        </label>
      <button type="submit" class="button primary">
        {% trans "Sign In" %}
      </button>
      <button type="submit" class="button ghost" form="logout-from-stage">
        {% trans "Cancel" %}
      </button>
    </form>
    <form id="logout-from-stage"
          method="post"
          action="{% url 'account_logout' %}">
        <input type="hidden" name="next" value="{% url 'account_login' %}">
        {% csrf_token %}
    </form>
</div>
{% endblock login_step %}
