{% extends "core/email/base.html" %}
{% load i18n %}
{% load autologin %}

{% block body %}
  {% url "organizations:invitations" uuid=invitation.uuid as url_org %}
  {% autologin url_org user as url_org_ %}
  {% blocktrans with org_name=invitation.organization.name %}
    <p>
      You have been invited to join the organization {{ org_name }} on MuckRock.
      <a href="{{ url_org_ }}">
        Click here to accept or reject the invitation.
      </a>
    </p>
  {% endblocktrans %}
{% endblock %}
