{% extends "core/email/base.html" %}
{% load i18n %}
{% load autologin %}

{% block body %}
  {% url "organizations:member-org-invitation" uuid=invitation.uuid as url_org %}
  {% autologin url_org user as url_org_ %}
  {% blocktrans with to_org=invitation.to_organization.name from_org=invitation.from_organization.name %}
    <p>
      {{ to_org }} has been invited to join the organization {{ from_org }} on MuckRock.
      <a href="{{ url_org_ }}">
        Click here to accept or reject the invitation.
      </a>
    </p>
    <p>
      You are receiving this email because you are an admin of {{ to_org }}.
    </p>
  {% endblocktrans %}
{% endblock %}
