{% extends "core/email/base.html" %}
{% load humanize %}
{% load i18n %}

{% block body %}
  {% block receipt %}
    <div class="receipt">
      <div class="purchase-data">
        <p>{{ charge.created_at|date:"m/d/Y" }}</p>
        <p>{% trans "Order" %} {{ charge.charge_id }}</p>
        {% with charge.charge_.source as card %}
          {% if card %}
            <p>{{ card.brand }} **** **** **** {{ card.last4 }}</p>
          {% endif %}
        {% endwith %}
      </div>
      <table class="line-items">
        {% for item in charge.items %}
          <tr>
            <td>{{ item.name }}</td>
            <td>${{ item.price|floatformat:2|intcomma }}</td>
          </tr>
        {% endfor %}
        {% if charge.items|length > 1 %}
          <tr class="total">
            <td>{% trans "Total" %}</td>
            <td>${{ charge.amount_dollars|floatformat:2|intcomma }}</td>
          </tr>
        {% endif %}
      </table>
    </div>
  {% endblock %}
  <div>
    <p>
      {% if charge.organization.individual %}
        {% trans "Hi" %} {{ charge.organization.users.first.name }},
      {% else %}
        {% trans "Hi" %} {{ charge.organization.name }},
      {% endif %}
    </p>
    {% block description %}
      <p>{% trans "This receipt confirms your payment to MuckRock." %}</p>
    {% endblock %}
    {% if individual_subscription %}
      {% url "users:payment" as user_payment_url %}
      {% blocktrans with user_payment_url=user_payment_url %}
        <p>
          Your account includes up to 20 requests per month, the ability to
          embargo requests, and priority support. You can manage your account
          from <a href="{{ user_payment_url }}"q>your settings</a>, including
          upgrading, downgrading, and cancelling your account.
        </p>
      {% endblocktrans %}
    {% endif %}
    {% if group_subscription %}
      {% url "organizations:payment" slug=charge.organization.slug as org_payment_url %}
      {% url "organizations:manage-members" slug=charge.organization.slug as org_member_url %}
      {% blocktrans with org_payment_url=org_payment_url org_payment_url=org_payment_url %}
        <p>
          To change your account payment settings, including change where
          receipts are sent, change the card we have on file, or cancel your
          account, <a href="{{ org_payment_url }}">click here</a>.
          You can <a href="{{ org_member_url }}">add and remove members here</a>.
        </p>
      {% endblocktrans %}
    {% endif %}
    {% blocktrans %}
      <p>For concerns or more information about this charge, please contact <a href="mailto:info@muckrock.com">info@muckrock.com</a> or call (617) 299-1832.</p>
      <p>Thank you,<br/>The MuckRock Team</p>
    {% endblocktrans %}
  </div>
{% endblock %}
