{% extends "core/email/base.html" %}
{% load humanize %}

{% block body %}
  {% block receipt %}
    <div class="receipt">
      <div class="purchase-data">
        <p>{{ charge.created_at|date:"m/d/Y" }}</p>
        <p>Order {{ charge.charge_id }}</p>
        {% with charge.charge.source as card %}
          {% if card %}
            <p>{{ card.brand }} **** **** **** {{ card.last4 }}</p>
          {% endif %}
        {% endwith %}
      </div>
      <table class="line-items">
        {% for item in charge.items %}
          <tr>
            <td>{{ item.name }}</td>
            <td>${{ item.price|floatformat:2|intcomma }}</td>
          </tr>
        {% endfor %}
        {% if charge.items|length > 1 %}
          <tr class="total">
            <td>Total</td>
            <td>${{ charge.amount_dollars|floatformat:2|intcomma }}</td>
          </tr>
        {% endif %}
      </table>
    </div>
  {% endblock %}
  <div>
    <p>
      {% if charge.organization.individual %}
        Hi {{ charge.organization.users.first.name }},
      {% else %}
        Hi {{ charge.organization.name }},
      {% endif %}
    </p>
    {% block description %}
      <p>This receipt confirms your payment to MuckRock.</p>
    {% endblock %}
    <p>For concerns or more information about this charge, please contact <a href="mailto:info@muckrock.com">info@muckrock.com</a> or call 1-857-488-3081.</p>
    <p>Thank you,<br/>The MuckRock Team</p>
  </div>
{% endblock %}
