.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  gap: 2rem;
}
header, .main, form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.container h1,
.container p {
  width: 100%;
  text-align: center;
  text-wrap: balance;
  margin: 0;
}
.help.link {
  font-size: var(--font-md, 1rem);
  font-weight: var(--font-semibold, 600);
  color: var(--primary);
}
