:root {
  --max-width: 1000px;
  --padding: 1rem;
}

/* ERH LANDING PAGE STYLES */
._cls-erh--interactive {
  font-size: 1rem;
  font-family: var(--font-sans, "Source Sans 3", "Source Sans Pro");
  background: var(--white, #ffffff);
  border: 1px solid var(--gray-2, #D8DEE2);
  border-radius: .5rem;
  padding: 0 1rem;
  box-shadow: 0px 2px 4px 2px var(--shadow, rgba(30, 48, 56, 0.15));
}

._cls-erh--container {
  min-height: 50vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

._cls-erh--header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--max-width);
  padding: var(--padding);
  margin: 0 auto;
}

._cls-erh--header-side {
  flex: 1 1 4rem;
}

._cls-erh--home {
  flex: 1 1 auto;
  margin: 0 auto;
}

._cls-body {
  color: var(--black, #0C1E27);
  font-family: var(--font-sans, "Source Sans 3", "Source Sans Pro");
  font-size: var(--font-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-feature-settings: 'clig' off, 'liga' off;
}

._cls-title {
  color: var(--black, #0C1E27);
  font-family: var(--font-sans, "Source Sans 3", "Source Sans Pro");
  font-size: var(--font-xl, 24px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-feature-settings: 'ss04' on, 'clig' off, 'liga' off;
  text-align: center;
}

._cls-erh--logo {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  margin-right: .5rem;
}

._cls-erh--title {
  font-size: 3rem;
  line-height: 1.2;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

@media(max-width: 34rem) {
  ._cls-erh--header-side {
    flex: 1 1 auto;
  }
  ._cls-erh--title {
    margin: 1rem 0;
    font-size: 2rem;
  }
  ._cls-erh--logo {
    height: 2rem;
    width: 2rem;
  }
  ._cls-erh--category h2 {
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0;
  }
}

._cls-erh--description {
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 70ch;
  color: var(--gray-5, #233944);
  margin: 2rem auto;
  padding: 1rem;
}

._cls-debug {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: .5rem;
  background: var(--black, #0C1E27);
  color: var(--white, #FFFFFF);
  font-family: var(--font-code, "Source Code Pro");
  overflow: hidden;
}

._cls-erh--container mark {
  padding: .125em 0;
  background-color: var(--yellow-2, #FFE5BA);
}

._cls-erh--eligible {
  display: flex;
  gap: 1rem;
}

._cls-erh--backdrop {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.05;
}

._cls-erh--backdrop img {
  height: 60vw;
  width: 60vw;
}

._cls-button {
  display: inline-block;
  font-weight: 700;
  font-weight: 600;
  font-family: var(--font-sans, "Source Sans 3", "Source Sans Pro");
  color: var(--white, #ffffff);
  padding: 6px var(--font-xs, 12px);
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid var(--blue-4, #1367D0);
  background: var(--blue-3, #4294F0);
  box-shadow: 0px 2px 0px 0px var(--blue-4, #1367D0);
  transition: all .2s linear;
  white-space: nowrap;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._cls-button:hover {
  background: var(--blue-3, #4294F0);
  box-shadow: 0px 2px 0px 0px var(--blue-4, #1367D0);
  filter: brightness(1.25);
}

._cls-button--common {
  background: var(--gray-3, #99A8B3);
  border: 1px solid var(--gray-4, #5C717C);
  box-shadow: 0px 2px 0px 0px var(--gray-4, #5C717C);
}

.cls-button--common:hover {
  background: var(--gray-3, #99A8B3);
  border: 1px solid var(--gray-4, #5C717C);
  box-shadow: 0px 2px 0px 0px var(--gray-4, #5C717C);
}

._cls-button--small {
  padding: 4px 12px;
  font-size: var(--font-sm, 14px);
  font-weight: 600;
}

._cls-button--large {
  font-size: var(--font-md, 16px);
  font-weight: 600;
}

._cls-button--xlarge {
  font-size: var(--font-md, 18px);
  font-weight: 600;
}

._cls-button--outline {
  display: flex;
  overflow: hidden;
  padding: 6px var(--font-md, 16px);
  border-radius: var(--font-md, 16px);
  color: var(--blue-3, #4294F0);
  border: 1px solid var(--blue-3, #4294F0);
  background: transparent;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

._cls-button--outline:hover {
  color: var(--white, #ffffff);
  box-shadow: none;
  filter: brightness(1);
}

._cls-button--outline._cls-button--small {
  padding: 4px 12px;
}

._cls-erh--access {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

._cls-erh--access p {
  margin: 0;
  flex: 1 1 auto;
  text-align: center;
}

._cls-erh--flex100 {
  flex: 1 1 100%;
}

._cls-or {
  padding: 0 .5em;
  font-variant: small-caps;
}

._cls-erh--category {
  margin: 2rem 0;
}

._cls-erh--category header {
  max-width: var(--max-width);
  padding: 0 var(--padding);
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
}

._cls-erh--categoryHeader-text {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: .5rem 1.5rem;
}

._cls-erh--categoryHeader-text p {
  margin: 0;
}

._cls-definition {
  color: var(--gray-4, #5C717C);
  font-family: var(--font-sans, "Source Sans 3", "Source Sans Pro");
  font-size: var(--font-xs, 12px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-feature-settings: 'ss04' on;
}

._cls-erh--category h2 {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  margin: 0;
}

._cls-scroll-controls {
  display: flex;
  gap: .5rem;
  align-items: center;
  margin-bottom: .325rem;
}

._cls-scroll-control {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  height: 2rem;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: .5rem;
  box-shadow: none;
  color: var(--blue-3, #4294F0);
  fill: var(--blue-3, #4294F0);
  transition: all .2s linear;
}

._cls-scroll-control:hover, ._cls-scroll-control:focus {
  background: var(--blue-2, #B5CEED);
  box-shadow: none;
  border: none;
  color: var(--blue-5, #053775);
  fill: var(--blue-5, #053775);
}

._cls-scroll-control:disabled {
  pointer-events: none;
  opacity: 0;
  color: var(--gray-3, #99A8B3);
  fill: var(--gray-3, #99A8B3);
}

._cls-erh--resourceList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25rem);
  grid-auto-flow: column;
  grid-auto-columns: 25rem;
  gap: 1rem;
  overflow-x: auto;
  list-style-type: none;
  padding: 0 max(calc((100vw - var(--max-width))/2), var(--padding)) 2rem;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* Hide horizontal scrollbars */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

._cls-erh--resourceList::-webkit-scrollbar {
  /* Hide horizontal scrollbars */
  display: none;
}

._cls-erh--resource {
  display: flex;
  width: 25rem;
  box-sizing: border-box;
  overflow: hidden;
  padding: var(--font-md, 16px);
  border-radius: 8px;
  border: 1px solid var(--gray-2, #D8DEE2);
  background: var(--white, #FFF);
  align-items: flex-start;
  gap: var(--font-md, 16px);
  scroll-snap-align: center;
}

._cls-erh--resource--gated {
  background: var(--purple-1, #F4F1FE);
  border-color: var(--purple-2, #DFD5FA);
}

._cls-erh--resourceName {
  color: var(--gray-5, #233944);
  font-family: var(--font-sans, "Source Sans 3", "Source Sans Pro");
  font-size: var(--font-lg, 20px);
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  font-feature-settings: 'ss04' on;
  margin: 0;
}

._cls-erh--resourceDescription {
  margin: 0;
  flex: 1 1 auto;
  align-self: stretch;
  color: #45545E;
  font-family: var(--font-sans, "Source Sans 3", "Source Sans Pro");
  font-size: var(--font-sm, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

._cls-erh--resourceDetail {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

._cls-erh--footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 1rem;
}

._cls-erh--limitedAvailability {
  color: var(--white, #ffffff);
  background-color: var(--purple-4, #343BA6);
  padding: .25em 1em;
  border-radius: 2em;
  white-space: nowrap;
}

._cls-erh--resourceProvider {
  flex: 0 0 auto;
  color: #45545E;
  font-family: var(--font-sans, "Source Sans 3", "Source Sans Pro");
  font-size: var(--font-xs, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  border-bottom: none;
}

._cls-erh--resourceLogo {
  flex: 0 0 auto;
  display: block;
  height: 3rem;
  width: 3rem;
  object-fit: contain;
  border-radius: .5rem;
  overflow: hidden;
}

/* Search */

._cls-erh--searchForm {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-top: 0;
  box-sizing: border-box;
  padding: var(--padding);
  background: var(--white, #ffffff);
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 2px var(--shadow, rgba(30, 48, 56, 0.15));
}

._cls-erh--searchFormInputs {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
}

._cls-erh--searchFormActions {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  gap: .5rem;
  min-width: 12.5%;
}

._cls-erh--searchFormActions * {
  flex: 1 1 auto;
}

._cls-erh--searchForm input[type="search"] {
  flex: 1 1 auto;
  display: flex;
  padding: 4px var(--font-xs, 12px);
  align-items: center;
  gap: var(--font-xs, 12px);
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-2, #D8DEE2);
  background: var(--white, #FFF);
  font-family: var(--font-sans, "Source Sans 3", "Source Sans Pro");
  font-size: var(--font-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--gray-5, #233944);
  background-image: url('/static/icons/search-24.svg');
  background-position: .25em center;
  background-repeat: no-repeat;
  padding-left: 2rem;
}

._cls-erh--searchForm input[type="search"]::placeholder {
  color: var(--gray-3, #99A8B3);
}

._cls-erh--searchForm select {
  flex: 0 1 auto;
  width: 25%;
  text-overflow: ellipsis;
  padding: 4px var(--font-xs, 12px);
  border-radius: 8px;
  border: 1px solid var(--gray-2, #D8DEE2);
  background: var(--white, #FFF);
  font-family: var(--font-sans, "Source Sans 3", "Source Sans Pro");
  font-size: var(--font-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--gray-5, #233944);
}

._cls-erh--resultGrid {
  max-width: var(--max-width);
  padding: var(--padding);
  margin: 0 auto;
  display: grid;
  gap: 1rem; 
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

._cls-erh--empty {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.125em;
  color: var(--gray-4, #5C717C);
  grid-column: -1/1;
}

._cls-erh--result {
  width: auto;
}

._cls-erh--resourceLink {
  display: contents;
}

._cls-erh--resourceLink ._cls-erh--resource {
  cursor: pointer;
  transition: background .1s linear;
}

._cls-erh--resourceLink:hover ._cls-erh--resource, ._cls-erh--resourceLink ._cls-erh--resource:focus {
  background: var(--blue-1, #EEF3F9);
}

@media (max-width: 48rem) {
  ._cls-erh--home {
    order: -1;
    flex: 1 1 100%;
  }
  ._cls-erh--header-side {
    flex: 0
  }
  ._cls-erh--header-side:empty {
    display: none;
  }
  ._cls-erh--searchForm {
    flex-wrap: wrap;
  }
  ._cls-erh--searchForm input[type="search"] {
    flex: 1 1 100%;
  }
  ._cls-erh--searchForm select {
    flex: 1 1 auto; 
    min-width: 12.5rem;
  }
  ._cls-erh--searchFormActions {
    width: 100%;
    justify-content: space-between;
  }
  ._cls-erh--searchFormActions * {
    flex: 1 1 auto;
    text-align: center;
    max-width: 25%;
  }
}

@media (max-width: 26rem) {
  ._cls-erh--resourceList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 90vw);
    grid-auto-flow: column;
    grid-auto-columns: 90vw;
  }
  ._cls-erh--resource {
    width: 90vw;
  }
}

/* Resource Page */

._cls-erh--resourcePage._cls-erh--container {
  justify-content: flex-start;
}

._cls-erh--resourcePage ._cls-erh--logo {
  height: 2rem;
  width: 2rem;
}

._cls-erh--resourcePage ._cls-erh--resourceBody {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--max-width);
  padding: calc(4*var(--padding)) calc(2*var(--padding));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--white, #ffffff);
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 2px var(--shadow, rgba(30, 48, 56, 0.15));
}

#backToCatalog {
  align-self: flex-start;
}

#accessResource {
  width: 8rem;
  text-align: center;
}

._cls-erh--resourcePage ._cls-erh--resourceBody ._cls-erh--resourceHeader {
  display: flex;
  align-items: flex-start;
  gap: var(--font-md, 16px);
  align-self: stretch;
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;
  box-sizing: border-box;
}

._cls-erh--resourcePage ._cls-erh--resourceDetail {
  flex: 1 1 auto;
  display: flex;
  width: 325px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

._cls-erh--resourcePage ._cls-erh--resourceLogo {
  height: 4rem;
  width: 4rem;
}

._cls-erh--resourcePage ._cls-erh--resourceName {
  align-self: stretch;
  color: var(--gray-5, #233944);
  font-family: var(--font-sans, "Source Sans 3", "Source Sans Pro");
  font-size: var(--font-xl, 24px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-feature-settings: 'ss04' on, 'clig' off, 'liga' off;
}

._cls-erh--resourcePage ._cls-erh--resourceProvider {
  align-self: flex-start;
  color: var(--gray-4, #5C717C);
  font-family: var(--font-sans, "Source Sans 3", "Source Sans Pro");
  font-size: var(--font-sm, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: right;
}

._cls-erh--resourcePage ._cls-erh--resourceCategories {
  width: 100%;
  box-sizing: border-box;
  max-width: 48rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: .5rem;
  align-items: flex-start;
  list-style-type: none;
}

._cls-erh--resourcePage ._cls-erh--resourceScreenshots {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  margin: 0 calc(-2*var(--padding));
  padding: 1rem calc(2*var(--padding));
}

._cls-erh--resourcePage ._cls-erh--resourceScreenshot {
  display: block;
  border-radius: .25rem;
  height: 24rem;
  width: auto;
  border: 1px solid var(--gray-2, #D8DEE2);
}

._cls-erh--resourceScreenshot._cls-erh--resourceScreenshot--single {
  width: 100%;
  height: auto;
}

._cls-erh--resourcePage ._cls-erh--resourceDescription {
  align-self: stretch;
  color: var(--gray-5, #233944);
  font-family: var(--font-sans, "Source Sans 3", "Source Sans Pro");
  font-size: var(--font-lg, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  max-width: 48rem;
  margin: 0 auto 1rem;
  font-feature-settings: 'clig' off, 'liga' off;
}

@media (max-width: 32rem) {
  ._cls-erh--home {
    flex: 1 1 100%;
    order: -1;
  }
  ._cls-erh--header {
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0 1rem;
  }
  ._cls-erh--resourcePage ._cls-erh--resourceBody ._cls-erh--resourceHeader {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  ._cls-erh--resourcePage ._cls-erh--resourceDetail {
    flex: 1 1 100%;
    order: 1;
  }
}

/* About Page */

._cls-erh--logoGarden {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  padding: 0;
  list-style: none;
}

._cls-erh--logoGarden #knight_foundation {
  grid-column: -1/1;
}

._cls-erh--logoGarden #knight_foundation img {
  width: 50%;
  margin: 0 auto;
}

._cls-erh--logoGarden img {
  display: block;
  height: auto;
  width: 80%;
  margin: 0 auto;
}