:root {
  /* Font Families */
  --font-sans: "Source Sans Pro", sans-serif;
  --font-mono: "Source Code Pro", monospace;

  /* Font Sizes */
  --font-xs: 0.75em;
  --font-sm: 0.875em;
  --font-md: 1em;
  --font-lg: 1.25em;
  --font-xl: 1.5em;

  /* Font Weights */
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;

  /* Colors */
  --white: #ffffff;
  --black: #0c1e27;

  --gray-5: #233944;
  --gray-4: #5c717c;
  --gray-3: #99a8b3;
  --gray-2: #d8dee2;
  --gray-1: #f5f6f7;

  --blue-5: #053775;
  --blue-4: #1367d0;
  --blue-3: #4294f0;
  --blue-2: #b5ceed;
  --blue-1: #eef3f9;

  --red-5: #302240;
  --red-4: #5d275f;
  --red-3: #e1275f;
  --red-2: #eaa4bb;
  --red-1: #fae8ee;

  --orange-5: #36353f;
  --orange-4: #69515c;
  --orange-3: #ec7b6b;
  --orange-2: #ffc2ba;
  --orange-1: #fff0ee;

  --yellow-5: #36453f;
  --yellow-4: #69755c;
  --yellow-3: #eccb6b;
  --yellow-2: #ffe5ba;
  --yellow-1: #fff9ee;

  --green-5: #0e4450;
  --green-4: #117383;
  --green-3: #27c6a2;
  --green-2: #9de3d3;
  --green-1: #ebf9f6;

  --purple-5: #1e2b60;
  --purple-4: #343ba6;
  --purple-3: #744af0;
  --purple-2: #dfd5fa;
  --purple-1: #f4f1fe;

  /* semantic aliases */
  --primary: var(--blue-3);
  --premium: var(--green-3);
  --error: var(--red-3);
  --caution: var(--orange-3);

  /* Effect styles */
  --radius: 0.5rem;
  --border: #d9d9d9;
  --glare: inset 8px 8px 16px rgba(255, 255, 255, 0.25);

  /* Shadows */
  --shadow-1: 0 2px 4px 2px rgba(30 48 56 / 0.15);
  --shadow-2: 0 6px 8px 0px rgba(30 48 56 / 0.1);
  --shadow-3: 0 2px 16px 2px rgba(30 48 56 / 0.075);
}

/* typography */
h1,
h2,
h3 {
  color: var(--gray-5, #233944);
  font-feature-settings:
    "ss04" on,
    "liga" off,
    "clig" off;

  /* Title */
  font-family: var(--font-sans, "Source Sans Pro");
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h1 {
  font-size: var(--font-xl, 1.5rem);
}

h2 {
  font-size: var(--font-lg, 1.25rem);
}

h3 {
  font-size: var(--font-lg, 1.25rem);
}

/* components */
.badge {
  display: flex;
  padding: 0.1875rem 0.375rem;
  align-items: center;
  gap: 0.375rem;

  border-radius: 0.25rem;
  border: 1px solid var(--gray-2, #d8dee2);
  background: var(--gray-1, #f5f6f7);

  color: var(--gray-5, #233944);
  font-family: "Source Sans Pro";
  font-size: var(--font-xs, 0.75rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  width: fit-content;
}

.badge.purple {
  color: var(--purple-5, #0e4450);
  border: 1px solid var(--purple-2, #9de3d3);
  background: var(--purple-1, #ebf9f6);
}

.badge.blue {
  color: var(--blue-5, #0e4450);
  border: 1px solid var(--blue-2, #9de3d3);
  background: var(--blue-1, #ebf9f6);
}

.badge.green {
  color: var(--green-5, #0e4450);
  border: 1px solid var(--green-2, #9de3d3);
  background: var(--green-1, #ebf9f6);
}

.badge.yellow {
  color: var(--yellow-5, #0e4450);
  border: 1px solid var(--yellow-2, #9de3d3);
  background: var(--yellow-1, #ebf9f6);
}

.badge.orange {
  color: var(--orange-5, #0e4450);
  border: 1px solid var(--orange-2, #9de3d3);
  background: var(--orange-1, #ebf9f6);
}

.badge.red {
  color: var(--red-5, #0e4450);
  border: 1px solid var(--red-2, #9de3d3);
  background: var(--red-1, #ebf9f6);
}

.btn {
  /* Sizing */
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 0.375rem 0.75rem;

  /* Layout */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 0 0 auto;

  /* Typography */
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-md, 1rem);
  font-style: normal;
  font-weight: 600;
  font-feature-settings: "ss04" on;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  /* Colors */
  fill: currentColor; /* This will inherit the text color for SVG icons */
  border: 1px solid var(--gray-4, #5c717c);
  background: var(--gray-3, #99a8b3);
  color: var(--gray-1, #f5f6f7);

  /* Animation */
  transition: all 0.1s linear;
}

.btn > * {
  flex-shrink: 0;
}

/* When hovering or focusing, the button rises
   up out from the content plane to signal it's interactive. */
.btn:hover,
.btn:focus {
  transform: translateY(-2px);
  background: var(--gray-3, #4294f0);
  box-shadow: 0px 2px 0px 0px var(--gray-4, #1367d0);
}

/* Button variants */

/* Primary button */

.btn.primary {
  border: 1px solid var(--blue-4, #1367d0);
  background: var(--blue-3, #4294f0);
}

.btn.primary:hover,
.btn.primary:focus {
  transform: translateY(-2px);
  box-shadow: 0px 2px 0px 0px var(--blue-4, #1367d0);
}

/* Premium button */

.btn.premium {
  border: 1px solid var(--green-4, #117383);
  background: var(--green-3, #27c6a2);
}

.btn.premium:hover,
.btn.premium:focus {
  transform: translateY(-2px);
  box-shadow: 0px 2px 0px 0px var(--green-4, #117383);
}

/* Caution button */

.btn.caution {
  border: 1px solid var(--orange-4, #69515c);
  background: var(--orange-3, #ec7b6b);
}

.btn.caution:hover,
.btn.caution:focus {
  transform: translateY(-2px);
  box-shadow: 0px 2px 0px 0px var(--orange-4, #69515c);
}

/* Danger button */

.btn.danger {
  border: 1px solid var(--red-4, #5d275f);
  background: var(--red-3, #e1275f);
}

.btn.danger:hover,
.btn.danger:focus {
  transform: translateY(-2px);
  box-shadow: 0px 2px 0px 0px var(--red-4, #5d275f);
}

/* Ghost button */

.btn.ghost {
  align-items: center;
  background: none;
  border: none;
  border-radius: 0.5rem;
  box-shadow: none;
  color: var(--primary);
  display: inline-flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.375rem 0.75rem;
}

.btn.ghost:hover {
  background: var(--gray-1, #eef3f9);
}

/* Ghost button variants */

.btn.ghost.primary {
  color: var(--blue-3, #1367d0);
  fill: var(--blue-3, #1367d0);
}

.btn.ghost.primary:hover {
  background: var(--blue-1, #eef3f9);
}

.btn.ghost.danger {
  color: var(--orange-3, #ec7b6b);
  fill: var(--orange-3, #ec7b6b);
}

.btn.ghost.danger:hover {
  background: var(--orange-1, #fff0ee);
}

.btn.ghost.premium,
.btn.ghost.success {
  color: var(--green-3, #27c6a2);
  fill: var(--green-3, #27c6a2);
}

.btn.ghost.premium:hover,
.btn.ghost.success:hover {
  background: var(--green-1, #ebf9f6);
}

.btn.ghost.small {
  box-shadow: none;
}

.btn.ghost:hover,
.btn.ghost:focus {
  background: var(--blue-1, #eef3f9);
  transform: none;
  box-shadow: none;
}

/* Small button */

.btn.small {
  font-size: var(--font-sm, 0.875rem);
  padding: 0.25rem 0.5rem;
  gap: 0.375rem;
}

.btn.small.danger {
  border-color: var(--orange-3);
}

@media (hover: none) {
  .btn.ghost:hover {
    background: transparent;
  }
}

.btn:disabled,
.btn.disabled {
  opacity: 0.5;
  cursor: initial;
}

.btn:disabled:hover,
.btn.disabled:hover {
  transform: none;
  box-shadow: none;
}

.btn.ghost:disabled {
  color: var(--gray-4, #5c717c);
  fill: var(--gray-4, #5c717c);
}

.btn.ghost:disabled:hover {
  background: transparent;
}

.btn.full {
  display: flex;
  width: 100%;
}

.empty {
  display: flex;
  width: 16.5rem;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  border-radius: 0.5rem;
  border: 1.282px solid var(--Gray-2, #d8dee2);
}

.empty p {
  align-self: stretch;
  margin: 0;
  color: var(--gray-4);
  text-align: center;
  font-family: "Source Sans Pro";
}
