#hijacked-warning-wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
}
#hijacked-warning-wrapper::after {
  content: unset;
}
#hijacked-warning {
  position: relative;
  height: auto;
  min-height: unset;
  display: flex;
  justify-content: space-between;
}
