.invited {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex: 1;
}

.invited .avatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

.invited .email.avatar,
.invited .link.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
}

.invited .avatar svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--gray-3, #99a8b3);
}

.invited .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.25rem;
}

.invited .info h3 {
  margin: 0;
  color: var(--gray-5, #233944);
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-md, 1rem);
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
}

.invited .info .help {
  margin: 0;
  width: 100%;
  font-size: var(--font-sm);
  color: var(--gray-4);
}

#managemembers .invitation {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
  gap: 1rem;
}
