.message {
  display: flex;
  width: 29.5rem;
  padding: 1.5rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.message header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem 2rem;
  align-self: stretch;
}

.message header svg {
  fill: var(--blue-3, #1367d0);
}

.message header h1 {
  max-width: 17.5rem;
  flex: 1 0 0;
  color: var(--gray-5, #233944);
  text-align: center;
  font-feature-settings:
    "liga" off,
    "clig" off;
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-lg, 1.25rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.message h2 {
  margin: 0;
}

.message header p {
  margin: 0;
}

.org-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.org-search input {
  display: flex;
  height: 1.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-2, #d8dee2);
  background: var(--white, #fff);
}

.org-search input::placeholder {
  color: var(--gray-4, #5c717c);
  font-feature-settings: "ss04" on;
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-md, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 137.5% */
}

h2 {
  color: var(--gray-5, #233944);
  font-feature-settings:
    "ss04" on,
    "liga" off,
    "clig" off;
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-lg, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  color: var(--gray-5, #233944);
  font-feature-settings: "ss04" on;
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-md, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pending, .pre-approved {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  padding: 1rem;
}

.pending header, .pre-approved header {
  flex-direction: column;
  align-items: flex-start;
}

header p {
  color: var(--gray-4, #5c717c);

  /* Caption */
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-xs, 0.75rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.orgs {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;

  border-radius: 0.5rem;
  border: 1px solid var(--gray-2, #d8dee2);
  background: var(--white, #fff);

  /* shadow-1 */
  box-shadow: 0px 2px 4px 2px var(--shadow, rgba(30, 48, 56, 0.15));
}
