/* Source Sans Pro Regular (weight 400) */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src:
    local("Source Sans Pro Regular"),
    local("SourceSansPro-Regular"),
    url("/static/fonts/SourceSansPro-Regular.otf") format("opentype");
}

/* Source Sans Pro Semibold (weight 600) */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src:
    local("Source Sans Pro Semibold"),
    local("SourceSansPro-Semibold"),
    url("/static/fonts/SourceSansPro-Semibold.otf") format("opentype");
}

/* Source Sans Pro Bold (weight 700) */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src:
    local("Source Sans Pro Bold"),
    local("SourceSansPro-Bold"),
    url("/static/fonts/SourceSansPro-Bold.otf") format("opentype");
}

:root {
  --app-max-w: 100rem;

  /* Font Families */
  --font-sans: "Source Sans Pro", sans-serif;
  --font-mono: "Source Code Pro", monospace;

  /* Font Sizes */
  --font-xs: 0.75em;
  --font-sm: 0.875em;
  --font-md: 1em;
  --font-lg: 1.25em;
  --font-xl: 1.5em;

  /* Font Weights */
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;

  /* Colors */
  --white: #ffffff;
  --black: #0c1e27;

  --gray-5: #233944;
  --gray-4: #5c717c;
  --gray-3: #99a8b3;
  --gray-2: #d8dee2;
  --gray-1: #f5f6f7;

  --blue-5: #053775;
  --blue-4: #1367d0;
  --blue-3: #4294f0;
  --blue-2: #b5ceed;
  --blue-1: #eef3f9;

  --red-5: #302240;
  --red-4: #5d275f;
  --red-3: #e1275f;
  --red-2: #eaa4bb;
  --red-1: #fae8ee;

  --orange-5: #36353f;
  --orange-4: #69515c;
  --orange-3: #ec7b6b;
  --orange-2: #ffc2ba;
  --orange-1: #fff0ee;

  --yellow-5: #36453f;
  --yellow-4: #69755c;
  --yellow-3: #eccb6b;
  --yellow-2: #ffe5ba;
  --yellow-1: #fff9ee;

  --green-5: #0e4450;
  --green-4: #117383;
  --green-3: #27c6a2;
  --green-2: #9de3d3;
  --green-1: #ebf9f6;

  --purple-5: #1e2b60;
  --purple-4: #343ba6;
  --purple-3: #744af0;
  --purple-2: #dfd5fa;
  --purple-1: #f4f1fe;

  /* semantic aliases */
  --primary: var(--blue-3);
  --premium: var(--green-3);
  --error: var(--red-3);
  --caution: var(--orange-3);

  --note-public: var(--yellow-3);
  --note-private: var(--blue-3);
  --note-org: var(--green-3);

  /* Text-size styles */
  --action: 12px;

  /* Effect styles */
  --radius: 0.5rem;
  --border: #d9d9d9;
  --glare: inset 8px 8px 16px rgba(255, 255, 255, 0.25);

  /* Shadows */
  --shadow-1: 0 2px 4px 2px rgba(30 48 56 / 0.15);
  --shadow-2: 0 6px 8px 0px rgba(30 48 56 / 0.1);
  --shadow-3: 0 2px 16px 2px rgba(30 48 56 / 0.075);

  /* Border Radius */
  --radius-1: 0.125rem; /* 2px */
  --radius-2: 0.25rem; /* 4px */
  --radius-3: 0.5rem; /* 8px */
  --radius-4: 1rem; /* 16px */

  /* Z-Index Layers */
  --z-toolbar: 5;
  --z-note: 2;
  --z-navigation: 7;
  --z-drawer: 9;
  --z-modal: 10;
  --z-dropdownBackdrop: 11;
  --z-dropdown: 12;
  --z-toast: 20;
  --z-tooltip: 21;
}

body {
  font-family: "Source Sans 3", "Source Sans Pro", "Lato", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--blue-4);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color:  var(--blue-3);
  border-radius: 2px;
}
a:hover {
  background: var(--blue-1);
}

a._cls-nostyle {
  text-decoration: none;
}

._cls-content {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 1em;
}

._cls-heading {
  position: relative;
  padding: 5px 10px;
  box-shadow: 0 0 8px #0000005c;
  background: white;
}

._cls-headingContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 15px;
}

._cls-navMenu {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 15px;
}

._cls-navMenuButton {
  display: none;
}

@media (max-width: 52.5rem) {
  ._cls-navMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    min-height: min-content;
    background: white;
    padding: 1rem;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 4px 2px var(--shadow, rgba(30, 48, 56, 0.15));
  }

  ._cls-navMenuMobile {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
  }

  ._cls-navMenu ._cls-domainItems {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  ._cls-navMenu ._cls-accountItems {
    width: 100%;
    justify-content: space-between;
  }

  ._cls-navMenuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    background: none;
    border: none;
    width: 2rem;
    height: 2rem;
    font-family: var(--font-sans, "Source Sans Pro");
  }

  ._cls-navMenuButton:hover,
  ._cls-navMenuButton:active {
    background: none;
    box-shadow: none;
  }

  ._cls-navMenuButton[data-menu-open="false"] #closeMenu {
    display: none;
  }

  ._cls-navMenuButton[data-menu-open="true"] #openMenu {
    display: none;
  }

  ._cls-navMenu[data-menu-open="true"] {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

._cls-domainItems {
  flex: 1 1 auto;
}

._cls-accountItems {
  flex: 0 1 auto;
}

._cls-intent {
  margin-top: 1.5em;
}

._cls-intentLogo {
  display: inline-block;
  vertical-align: middle;
  margin: 1em 1em 1em 0;
}

._cls-intentBody {
  display: inline-block;
  vertical-align: middle;
}

._cls-infoLogo {
  display: inline-block;
  margin: 0 0.2em;
}

._cls-field {
  margin: 1em 0;
  height: 45px;
  line-height: 45px;
  position: relative;
  width: 100%;
}

._cls-fieldLogo {
  display: inline-block;
  width: 32px;
  text-align: center;
  padding: 0 2px 0 8px;
  vertical-align: middle;
}

._cls-field input[type="text"],
._cls-field input[type="email"],
._cls-field input[type="password"],
._cls-field ._cls-fieldInput {
  border: none;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #3f3f3f;
  outline: none;
  line-height: 45px;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  left: 0;
  padding-left: 44px;
  background-repeat: no-repeat;
  border-radius: 2px;
  transition: all 0.2s;
  box-shadow: 0 0 2px #0000002e;
  background-color: #ffffff;
}

._cls-action {
  font-weight: 600;
  font-size: var(--font-xs, 12px);
  letter-spacing: 0.08em;
  color: var(--blue-4);
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background: none;
  padding: 0;
  font-size: 12px;
  outline: none;
}

._cls-smallHeader {
  font-size: 13px;
  letter-spacing: 0.08em;
  color: #737373;
  text-transform: uppercase;
}

._cls-info {
  line-height: 19px;
  font-size: 15px;
  color: #737373;
}

._cls-intentTitle {
  font-weight: 600;
  font-size: 22px;
  color: #3f3f3f;
}

form,
._cls-form {
  margin-top: 2em;
}

._cls-spacing {
  margin: 2em 0 1em 0;
}

._cls-radioField span {
  display: block;
  margin-left: 25px;
  font-size: 15px;
  color: #b0b0b0;
}

._cls-radioField input {
  float: left;
}

._cls-radioField {
  margin: 0.5em 0;
}

._cls-black {
  color: #3f3f3f;
}

._cls-nameInput {
  background-image: url(../assets/name_icon.svg);
  background-position-x: 14px;
  background-position-y: 16px;
  background-size: 14px;
}

._cls-usernameInput {
  background-image: url(../assets/username_icon.svg);
  background-position-x: 13px;
  background-position-y: 13px;
  background-size: 15px;
}

._cls-emailInput {
  background-image: url(../assets/email_icon.svg);
  background-position-x: 11px;
  background-position-y: 16px;
  background-size: 22px;
}

._cls-passwordInput {
  background-image: url(../assets/password_icon.svg);
  background-position-x: 14px;
  background-position-y: 11px;
  background-size: 17px;
}

._cls-organizationInput {
  background-image: url(../assets/organization_icon.svg);
  background-position-x: 13px;
  background-position-y: 13px;
  background-size: 19px;
}

._cls-field input:focus,
._cls-field ._cls-fieldInput:focus {
  background-color: #ffffff;
  box-shadow: 0 0 6px #00000021;
  transform: scale(1.05);
}

::placeholder {
  color: #899194;
}

._cls-paneStart {
  width: 100%;
  display: table;
}

._cls-doublepane {
  width: 100%;
  display: table-row;
  margin-top: 2em;
}

._cls-leftpane {
  display: table-cell;
  width: 50%;
}

._cls-rightpane {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding-top: 1em;
}

._cls-center {
  text-align: center;
}

._cls-minorInfo {
  line-height: 20px;
  font-size: 15px;
  color: #737373;
  margin-bottom: 0.4em;
}

._cls-rightBump {
  margin-right: 0.5em;
}

._cls-cardContainer {
  max-width: 1300px;
  margin: 0 auto;
  text-align: left;
}

._cls-cards {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

._cls-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  box-shadow: 0 0 2px #0000004d;
  padding-bottom: 1.5em;
  border-radius: 5px;
  background: white;
  margin: 0.5em;
}

._cls-card h1 {
  background: #2c343f;
  font-size: 1em;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
  padding: 0;
}

._cls-cardAction button {
  background: var(--blue-3);
  color: var(--white);
  font-family: var(--font-sans);
  font-weight: 600;
  padding: 1em 2em;
  font-size: 1em;
  width: 90%;
  border-radius: 100px;
  outline: none;
  border: none;
  box-shadow: 0 3px 0px var(--blue-2);
  max-width: 300px;
}

._cls-cardAction button:hover {
  background: var(--blue-4);
}

._cls-expandedContent {
  margin: 1em;
  text-align: center;
}

._cls-card li {
  color: #737373;
  margin: 1em 0;
  line-height: 1.3;
}

._cls-cardContent ul {
  padding-right: 2em;
}

._cls-actionBig button {
  background: var(--blue-3);
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.14em;
  color: var(--white);
  text-transform: uppercase;
  border: none;
  width: 80%;
  line-height: 3em;
  height: 3em;
  margin: 1.5em 0 2em 0;
  box-shadow: 0 3px 0px #b2ceff;
  outline: none;
}

._cls-actionBig button:hover {
  background: var(--blue-4);
}

._cls-actionBig {
  text-align: center;
}

._cls-cardAction {
  margin-top: 1em;
  text-align: center;
}

button {
  cursor: pointer;
  transition: all 0.2s;
  font-weight: inherit;
  font-family: var(--font-sans);
}

button:hover {
  background: var(--blue-1);
}

button:active {
  box-shadow: 0 0 3px #687998;
}

@media only screen and (max-width: 840px) {
  ._cls-cards {
    flex-direction: column;
  }
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0 1em;
}

nav {
  display: inline-block;
  margin: 1em 0 0 -1em;
}

nav a ._cls-serviceName {
  color: #2b2b2b;
  text-decoration: inherit;
  font-weight: 600;
  transition: all 0.2s;
}

nav a:hover ._cls-serviceName {
  color: #00000091;
}

._cls-services a ._cls-serviceName {
  color: #2b2b2b;
  text-decoration: inherit;
  font-weight: 600;
  transition: all 0.2s;
}

._cls-services a:hover ._cls-serviceName {
  color: #00000091;
}

._cls-mainLogo {
  display: block;
  height: 1.125em;
  width: auto;
}

._cls-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

._cls-fieldInput {
  padding: 0.8em !important;
}

._cls-smallHeading {
  font-weight: 400;
  text-transform: uppercase;
  color: #737373;
  letter-spacing: 0.08em;
  font-size: 13px;
  padding: 1em 0.5em 0 0.5em;
}

._cls-serviceIcon,
._cls-serviceInfo {
  display: inline-block;
  vertical-align: middle;
}

._cls-serviceIcon {
  padding-right: 5px;
}

._cls-serviceIcon img {
  width: 24px;
  height: 24px;
}

._cls-infoLogo img {
  width: 38px;
  height: 38px;
}

.invalid-feedback,
.alert-danger {
  color: #d40b36;
}

.invalid-feedback::before {
  content: "*";
  font-size: 0.9em;
  padding-right: 0.4em;
}

._cls-intentLogo img {
  width: 62px;
  height: 62px;
}

._cls-infoLogo img {
  width: 39px;
  height: 39px;
}

._cls-avatar {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 0.375em;
}

._cls-profileAvatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}

._cls-profileNames {
  display: inline-block;
  vertical-align: middle;
  margin: 1em 0;
}

._cls-profileInfo {
  margin-top: -1em;
  display: inline-block;
}

._cls-profileColumns {
  flex-direction: row;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

._cls-profileColumn {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  border-right: solid 1px #dedede;
  padding: 0 2em 0 0;
}

._cls-planColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 0 0 2em;
}

._cls-planInfo {
  margin-bottom: 1em;
}

._cls-organizationSection {
  margin-top: 2em;
}

._cls-actionSmall button {
  background: var(--blue-3);
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: var(--white);
  border: none;
  width: 160px;
  line-height: 2.5em;
  height: 2.5em;
  box-shadow: 0 3px 0px var(--blue-2);
  outline: none;
}

._cls-actionSmall button:hover {
  background: var(--blue-4);
}

._cls-actionSmall._cls-actionSmaller button {
  height: 2em;
  font-size: 13px;
  line-height: 2em;
  width: inherit;
  padding: 0 1.4em;
}

._cls-mediumHeader {
  font-size: 17px;
  color: #3f3f3f;
  font-weight: 600;
}

._cls-services {
  margin-top: 1em;
}

.cls-services li {
  display: flex;
  
}

._cls-services li a {
  display: flex;
  gap: 0.5em;
  padding: 0.6em 0 0.6em 0.3em;
}


._cls-services ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

._cls-serviceName {
  color: #3f3f3f;
  font-weight: 600;
}

._cls-serviceDescription {
  color: #737373;
  font-size: 13px;
}

._cls-largeContent {
  max-width: 1000px;
  margin: 2em auto;
  padding: 1em;
}

@media only screen and (max-width: 374px) {
  ._cls-profileColumns {
    flex-direction: column;
  }

  ._cls-profileColumn {
    padding: 0;
    border-right: none;
  }

  ._cls-planColumn {
    padding: 0;
    padding-top: 2em;
  }
}

._cls-alert {
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
}

._cls-alert.inline {
  margin: inherit;
}

._cls-alert div {
  padding: 0.5em 0.8em;
  font-size: 0.9em;
  border-radius: 3px;
  box-shadow: 0 1px 2px #00000014;
}

._cls-alert div._cls-dismiss {
  animation: autoHide 0.5s forwards;
  pointer-events: none;
}

._cls-alert div:hover {
  animation: 0;
}

._cls-close {
  text-decoration: underline;
  margin-left: 0.25em;
  font-weight: 600;
  cursor: pointer;
  vertical-align: middle;
}

@keyframes autoHide {
  0% {
    opacity: 1;
    margin-top: 0;
    visibility: visible;
  }
  99% {
    opacity: 0;
    margin-top: -19px;
    visibility: visible;
  }
  100% {
    opacity: 0;
    margin-top: -19px;
    visibility: hidden;
  }
}

.alert-success {
  background: #a5dea5f2;
  color: darkgreen;
}

._cls-alertIcon {
  font-weight: 600;
  border: solid 3px darkgreen;
  width: 18px;
  height: 18px;
  display: inline-block;
  text-align: center;
  line-height: 18px;
  border-radius: 18px;
  font-size: 0.9em;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
}

._cls-alert ._cls-alertIcon::before {
  font-weight: 600;
}

.alert-success ._cls-alertIcon::before {
  content: "\2713";
  color: darkgreen;
}

.alert-error {
  background: #dea5a5f2;
  color: darkred;
}

.alert-error ._cls-alertIcon::before {
  content: "!";
  color: #7b0202;
  font-size: 1.2em;
}

.alert-error ._cls-alertIcon {
  border: solid 3px #7b0202;
}

.alert-warning {
  background: #dedea5f2;
  color: #8b8000;
}

.alert-warning ._cls-alertIcon::before {
  content: "!";
  color: #7b7b02;
  font-size: 1.2em;
}

.alert-warning ._cls-alertIcon {
  border: solid 3px #7b7b02;
}

._cls-middleAlign {
  vertical-align: middle;
}

._cls-svgAvatar {
  display: inline-block;
  width: 45px;
  height: 45px;
}

._cls-avatar svg {
  display: inline-block;
  border-radius: 25%;
  box-shadow: 0 0 2px #0000004a;
}

._cls-inlineAvatar {
  display: inline-flex;
  align-items: center;
}

._cls-profList {
  list-style: none;
  padding: 0;
}

._cls-profList li {
  margin: 0.8em 0;
  background: white;
  border-radius: 5px;
  box-shadow:
    0 0 2px #0000001c,
    0 1px 3px #00000021;
  padding: 0.5em 1em;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

._cls-profList li:hover {
  background: #e6eaec;
  box-shadow: 0 2px 3px #00000036;
}

._cls-profList a {
  text-decoration: none;
}

._cls-infoPreSpaced {
  margin-bottom: 1em;
}

._cls-infoSpaced {
  margin: 0.5em 0;
}

._cls-inlineForm {
  margin: 0;
}

._cls-inlineInlineForm {
  display: inline;
}

._cls-profList li._cls-pendingInvite {
  background: #efefef;
  border: dashed 1px gray;
}

._cls-manageTable {
  display: table;
  margin: 1em 0 2em 0;
  border-radius: 3px;
  border: solid 1px gray;
  width: 100%;
  table-layout: fixed;
}

._cls-manageRow {
  display: table-row;
}

._cls-manageCell {
  display: table-cell;
  border-right: solid 1px gray;
  padding: 0.5em 0.8em;
  border-bottom: solid 1px gray;
  position: relative;
}

._cls-manageCell:last-child {
  border-right: none;
}

._cls-manageRow:last-child ._cls-manageCell {
  border-bottom: none;
}

._cls-manageHeader ._cls-manageCell {
  font-weight: 600;
  background: #515867;
  color: white;
}

._cls-manageRow {
  background: white;
}

._cls-altAction {
  margin-left: 1em;
}

._cls-organizationInfo ._cls-profileName {
  font-size: 1.5em;
  font-weight: 600;
}

h2 {
  font-size: 22px;
  margin-bottom: 0.3em;
}

h3 {
  margin-top: 0;
  color: gray;
  font-weight: normal;
  font-size: 18px;
}

._cls-manageCell a {
  color: #555e65;
  font-weight: 600;
}

._cls-manageCell a:hover {
  color: #3c3c3c;
}

._cls-inviteUsers input {
  height: 21px;
  border-radius: 3px;
  border: 1px solid gainsboro;
  box-shadow: 0 1px 3px #00000026;
  margin-right: 1em;
  width: 150px;
  outline: none;
  padding: 0.2em 1em;
  font-size: 13px;
  transition: all 0.2s ease;
}

._cls-inviteUsers input:focus,
._cls-inviteUsers input:valid {
  width: 200px;
}

._cls-inviteUsers input:focus {
  border: solid 1px gray;
  box-shadow: 0 1px 3px #00000070;
}

._cls-tableHeading {
  font-weight: 600;
  margin-top: 2.5em;
}

._cls-tableInfo {
  color: gray;
  margin: 0.5em 0;
}

._cls-compactButton {
  background: #3a8fef;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.2em 0.8em;
  font-size: 13px;
  vertical-align: middle;
  margin: 0 0.8em 0 0;
  outline: none;
}

._cls-inviteUsers {
  margin-top: 1.5em;
}

._cls-fauxBox {
  background: white;
  border: solid 2px #383838;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  padding: 0;
  outline: none;
  font-size: 16px;
  line-height: 17px;
  color: #383838;
}

._cls-fauxBox:hover {
  background: #a5d9ff;
  box-shadow: inherit;
}

._cls-inlineAvatar img,
._cls-avatar img {
  display: block;
  border-radius: 18%;
  box-shadow: 0 0 2px #0000005e;
  vertical-align: middle;
}

fieldset {
  border: solid 1px #dadada;
  border-radius: 3px;
  margin: 1em 0;
  max-width: 600px;
  background: #00000008;
  padding: 1em 1.3em;
}

fieldset ._cls-field {
  margin: 0 0 0.5em 0;
}

fieldset form {
  margin-top: 0;
}

fieldset button {
  margin-top: 0.5em;
}

fieldset ._cls-radio {
  margin: 0.5em 0;
}

legend {
  background: #485a75;
  color: white;
  padding: 0.1em 0.5em;
  line-height: 1.5;
  font-size: 0.9em;
  border: solid 2px #fbfbfb;
}

.form-text {
  font-size: 0.8em;
  color: #636363;
  margin: 0 0.3em;
}

._cls-compactField ._cls-field {
  margin: -1em 0 -0.5em;
  display: inline-block;
  width: inherit;
  height: inherit;
  line-height: inherit;
}

._cls-emailStatus {
  font-size: 0.8em;
  border-radius: 4px;
  padding: 2px 5px;
}

._cls-orgStatus {
  font-size: 0.8em;
  border-radius: 4px;
  padding: 2px 5px;
  width: max-content;
  margin: 5px 0;
}

._cls-unverified {
  border: dashed 1px #545454;
  color: #545454;
}

._cls-verified {
  color: white;
  background: #00770b;
}

._cls-primary {
  color: white;
  background: #516480;
}

._cls-actionSet {
  margin-top: 0.4em;
}

button._cls-altAction {
  background: none;
  box-shadow: none;
  border-radius: 0;
  padding: 2px !important;
  margin-left: 0.6em;
}

._cls-profDropdown ._cls-avatar {
  position: relative;
  z-index: 10;
  transition: background 0.2s ease;
}

._cls-profDropdown ._cls-avatar::after {
  content: "\25BC";
  vertical-align: middle;
  padding-left: 4px;
  font-size: 0.7em;
  color: #2b2b2b;
}

._cls-profDropdown:hover ._cls-avatar {
  background: #f1f1f1;
  border-left: solid 1px gainsboro;
  border-bottom: solid 2px gainsboro;
}

._cls-profDropdown {
  position: relative;
}

._cls-dropdown {
  position: absolute;
  width: 129px;
  background: #f1f1f1;
  left: 0;
  top: 26px;
  border-radius: 6px;
  border-top-left-radius: 0;
  z-index: 9;
  padding: 12px 0 10px 0;
  border-left: solid 1px gainsboro;
  border-bottom: solid 2px gainsboro;
}

a._cls-dropdownItem {
  border-bottom: none;
  text-decoration: none;
}

._cls-navItem,
a._cls-navItem,
button._cls-navItem {
  display: flex;
  padding: 4px 8px;
  border-radius: 4px;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  border: none;
  border-bottom: none;
  background: transparent;
  color: var(--gray-5, #233944);
  fill: var(--gray-5, #233944);
  font-feature-settings: "ss04" on;
  font-family: var(--font-sans, "Source Sans 3", "Source Sans Pro");
  font-size: var(--font-md, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
}

a._cls-navItem:hover,
button._cls-navItem:hover {
  text-decoration: none;
  color: var(--blue-5, #053775);
  fill: var(--blue-5, #053775);
  background: var(--blue-2, #b5ceed);
}

._cls-navItems {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

._cls-profDropdown._cls-active ._cls-avatar {
  background: #f1f1f1;
  border-bottom: solid 2px transparent;
  border-left: solid 1px gainsboro;
  border-bottom-left-radius: 0;
}

._cls-dropdown a:hover {
  background: #fbfbfb;
  color: #232323;
}

._cls-dropdown a {
  display: block;
  padding: 5px 10px;
  transition: all 0.2s ease;
  color: #404040;
}

._cls-hide {
  display: none !important;
}

._cls-shim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  user-select: none;
}

._cls-pendingPlan {
  font-size: 0.9em;
  border: dashed 1px #7d7300;
  border-radius: 3px;
  display: inline-block;
  padding: 0.2em 0.8em;
  background: #fbfaf1;
}

._cls-action._cls-expandAction {
  display: inline-block;
  margin-left: 5px;
}

._cls-action._cls-expandAction span {
  color: #168ee5;
  cursor: pointer;
}

._cls-spaced {
  margin: 2em 0 1em -1em;
}

._cls-iframeRow {
  height: 500px;
  position: relative;
}

._cls-iframeRow iframe {
  height: 500px;
  position: absolute;
  left: 10%;
  right: 10%;
  width: 80%;
  border: none;
  background: white;
  box-shadow: 0 0 2px #00000054;
}

._cls-breakdown {
  margin: 0.5em 0 0.5em 0.5em;
  font-size: 0.9em;
  color: gray;
  position: relative;
}

._cls-breakdown::before {
  content: "* ";
  font-weight: 600;
}

._cls-planProjection {
  color: #48ad00;
}

textarea {
  resize: none;
  display: block;
  overflow: hidden;
  min-height: 30px;
  max-height: 100px;
}

._cls-resizeField ._cls-field {
  margin-bottom: 0.5em;
  height: inherit;
  line-height: inherit;
}

._cls-alerts {
  width: 100%;
  margin: auto;
  position: absolute;
}

.alert-info {
  background: #bad8eae6;
  color: #0c3e8e;
}

.alert-info ._cls-alertIcon::before {
  content: "i";
  font-style: italic;
  font-family: serif;
  color: #0c3e8e;
  font-size: 1.2em;
}

.alert-info ._cls-alertIcon {
  border: solid 3px #0c3e8e;
}

._cls-roleDropdown {
  display: inline-block;
  vertical-align: top;
  background: #f9fbfd;
  box-shadow: 0.5px 0.5px 2px #00000045;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  right: 0.5em;
  z-index: 9;
}

._cls-roleDropdown h1 {
  font-size: 14px;
  margin: 0.5em 0;
}

._cls-roleDropdown ._cls-roleInfo {
  font-size: 12px;
  line-height: 1.3;
  margin: 0.5em 0;
  color: #585858;
}

._cls-roleItem {
  padding: 0.3em 1em;
  border-bottom: solid 1px #00000026;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
}

._cls-roleItem:hover {
  background: #eef3f9;
}

._cls-roleDropdown ._cls-selected h1::before {
  content: "\2713 ";
  font-weight: normal;
  margin-right: 4px;
}

._cls-roleDropdown ._cls-selected {
  background: #e7e9ec;
  pointer-events: none;
}

._cls-roleDropdown button {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
}

._cls-roleDropdown button:hover {
  box-shadow: none;
}

._cls-roleSelect {
  box-shadow: 0.5px 0.5px 2px #b3b3b3;
  padding: 0.5em 1em;
  border-radius: 6px;
  display: inline-block;
  user-select: none;
  cursor: pointer;
  background: #eef0f3;
  transition: all 0.2s ease;
  position: absolute;
}

._cls-roleSelect::after {
  content: "\25BC";
  font-size: 0.75em;
  margin-left: 5px;
  color: #00000091;
}

._cls-roleSelect:hover {
  background: #d4d9e0;
}

._cls-roleDropdown ._cls-selected h1 {
  color: #646565;
}

._cls-roleDropdown ._cls-selected ._cls-roleInfo {
  color: #98999a;
}

._cls-plus {
  color: #737373;
  margin: 0.5em;
  display: inline-block;
}

._cls-verify {
  margin: 1em;
}

#hint_id_max_users {
  display: block;
  margin-top: 0.5em;
}

._cls-spacer {
  margin: 1rem 0;
}

.intent-container {
}

.intent-container h2 {
  font-weight: 600;
  text-align: center;
  font-size: var(--font-lg, 1.25rem);
}

.service-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.service-info h3 {
  margin: 0;
  color: #000;
  text-align: center;
  font-feature-settings:
    "ss04" on,
    "liga" off,
    "clig" off;

  /* Title */
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-xl, 1.5rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.service-info img {
  height: 5.25rem;
  width: 5.25rem;
  border-radius: 25%;
  border: 2px solid var(--white, #ffffff);
  box-shadow: 0px 2px 4px 2px var(--shadow, rgba(30, 48, 56, 0.15));
}

.service-info .service-owner {
  margin: 0;

  color: var(--gray-4, #5c717c);
  text-align: center;
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-md, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.service-providers {
  width: 100%;
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
}

.service-provider {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.service-provider * {
  margin: 0;
}

.service-provider img {
  display: block;
  width: 2.625rem;
  height: 2.625rem;
  border: 2px solid #fff;
  border-radius: 25%;
  box-shadow: 0px 2px 4px var(--shadow, rgba(30, 48, 56, 0.15));
  background: #fff;
  opacity: 0.95;
}

.service-provider-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
}

.service-provider h3 {
  color: currentcolor;
  align-self: stretch;
  font-feature-settings:
    "ss04" on,
    "liga" off,
    "clig" off;

  /* Title */
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-xl, 1.5rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.service-provider p {
  color: currentcolor;
  opacity: 0.7;

  /* Small Label */
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-sm, 0.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button {
  box-sizing: border-box;
  display: flex;
  padding: 0.375em 0.75em;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 0 0 auto;
  border-radius: 0.5rem;

  font-size: var(--font-md, 1rem);
  color: var(--gray-1, #F5F6F7);
  white-space: nowrap;
  text-align: center;
  font-feature-settings: 'ss04' on;

  /* Label */
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-md, 1rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  transition: all 0.1s linear;
}

.button.primary {
  border: 1px solid var(--blue-4, #1367D0);
  background: var(--blue-3, #4294F0);
}

.button.primary.elevated {
  box-shadow: 0px 2px 0px 0px var(--blue-4, #1367D0);
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 0px 0px var(--blue-4, #1367D0);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.ghost.button {
  display: flex;
  overflow: hidden;
  padding: 0.375eem 0.75eem;
  border: none;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;

  background: transparent;
  color: var(--blue-3, #4294F0);
  text-align: center;
  text-decoration: none;
  font-feature-settings: 'ss04' on;

  /* Label */
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-md, 1rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  transition: all 0.1s linear;
}


.ghost.button.small {
  font-size: var(--font-sm, 0.875rem);
}

.button.inline {
  display: inline-flex;
}

.button.ghost:hover,
.button.ghost:focus {
  color: var(--blue-4, #1367D0);
  background-color: var(--blue-2, #B5CEED);
  transform: none;
  box-shadow: none;
  transition: all 0.2s linear;
}

.card {
  padding: 2rem;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-1);
  background: var(--white);
  color: var(--gray-5);
  margin: 0 auto;
  max-width: 36rem;
}

.icon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

/* Footer */

.website-footer {
  box-sizing: border-box;
  background: var(--gray-5);
  color: var(--gray-2);
  padding: 3rem 5%;
  display: block;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.website-footer .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1.1875rem 0;
  gap: 1.1875rem;
}

.website-footer .brand {
  flex: 1 1 20em;
  max-width: 27em;
}

.website-footer .brand p {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.4375em;
}

.website-footer .logo {
  display: inline-block;
  margin-bottom: 1.1875rem;
  text-decoration: none;
}

.website-footer .logo svg {
  fill: var(--gray-1);
  height: 2rem;
  width: 2rem;
}

.website-footer .logo:hover {
  background: transparent;
}

.website-footer .logo:hover svg {
  fill: var(--primary);
}

.website-footer .primary.button {
  display: inline-block;
  color: var(--white);
}

.website-footer .links {
  flex: 1 1 16rem;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
  gap: 1.1875rem;
}

.website-footer .link-group {
  flex: 1 1 6rem;
  max-width: 12rem;
  text-align: left;
  margin-bottom: 0;
}

.website-footer dfn {
  display: block;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", 
                "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", 
                "Droid Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  color: var(--gray-1);
  margin-bottom: 0.5rem;
  letter-spacing: 0.05em;
  font-size: 11px;
  font-weight: var(--font-semibold, 600);
  font-style: normal;
}

.website-footer ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.website-footer li {
  font-size: 1rem;
  line-height: 1.4375em;
  margin-bottom: 0.5rem;
}

.website-footer a {
  color: var(--gray-2);
  text-decoration: none;
}

.website-footer a:hover {
  color: var(--blue-4);
  background: var(--blue-2);
}

@media (max-width: 50rem) {

  .website-footer .footer {
    flex-direction: column;
  }

  .website-footer .brand {
    margin: 0 auto 2rem;
  }

  .website-footer .links {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
  }

  .website-footer .link-group {
    margin-bottom: 1rem;
  }
}

.m-0 {
  margin: 0;
}