#authenticate {
  &.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  &.container h1,
  &.container p {
    width: 100%;
    text-align: center;
  }
  h1 {
    color: var(--gray-5, #233944);
    text-align: center;
    font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;

    /* Title */
    font-family: var(--font-sans, "Source Sans Pro");
    font-size: var(--font-xl, 1.5rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .flex {
    display: flex;
  }
  .gap-1 {
    gap: 1rem;
  }
  .align-end {
    align-items: flex-end;
  }
  .help-box {
    margin: 3rem auto;
    padding: .5rem 1rem;
    max-width: 24rem;
    font-size: var(--font-sm, 0.875rem);
    opacity: .7;
    text-align: center;
    border: 1px solid var(--gray-2);
    border-radius: .5rem;
  }
  .help-box h4 {
    font-size: 1em;
    font-weight: var(--font-semibold, 600);
  }
}

#recovery-codes {
  &.container {
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
  }

  .card {
    margin: 1rem auto;
    max-width: 100%;
  }
  
  .nav-link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    color: var(--blue-3);
    fill: var(--blue-3);
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }
  
  textarea#recovery_codes {
    height: auto;
    text-overflow: unset;
    overflow-y: auto;
    max-height: unset;
  }

  .actions {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
  }
}