#authenticate {
  &.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  &.container h1,
  &.container p {
    width: 100%;
    text-align: center;
  }
  h1 {
    color: var(--gray-5, #233944);
    text-align: center;
    font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;

    /* Title */
    font-family: var(--font-sans, "Source Sans Pro");
    font-size: var(--font-xl, 1.5rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .flex {
    display: flex;
  }
  .gap-1 {
    gap: 1rem;
  }
  .align-end {
    align-items: flex-end;
  }
  .help-box {
    margin: 3rem auto;
    padding: .5rem 1rem;
    max-width: 24rem;
    font-size: var(--font-sm, 0.875rem);
    opacity: .7;
    text-align: center;
    border: 1px solid var(--gray-2);
    border-radius: .5rem;
  }
  .help-box h4 {
    font-size: 1em;
    font-weight: var(--font-semibold, 600);
  }
}
