header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
h1,
p {
  width: 100%;
  text-align: center;
  text-wrap: balance;
  margin: 0;
}
h1 {
  color: var(--gray-5, #233944);
  text-align: center;
  font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;

  /* Title */
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-xl, 1.5rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.help.link {
  font-size: var(--font-md, 1rem);
  font-weight: var(--font-semibold, 600);
  color: var(--primary);
}
.flex {
  display: flex;
}
.gap-1 {
  gap: 1rem;
}
