/* css for /organizations/<slug>/update/ */

#organization-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 60rem;
  margin: 2rem auto;
  align-items: flex-start;
  gap: 0 1.5rem;
  align-self: stretch;
  justify-content: center;
}

#organization-form .sidebar {
  display: flex;
  flex: 1 1 8rem;
  padding: 0.75rem;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    position: sticky;
    top: 2rem;
  }

  h1, h2 {
    margin: 0;
  }
  h1 {
    margin-top: 2rem;
  }
  h2 {
    font-weight: 400;
  }
}

#organization-form .content {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 37.5rem;
  width: 100%;
  padding: 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  section {
    width: 100%;
  }

  h2, p {
    margin: 0.5rem 0;
  }
}

#protected {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

#pending-requests {
  display: flex;
  flex-direction: column;

  dl {
    width: 100%;
  }
  dt {
    font-weight: bold;
  }
}
