/* css for /organizations/<slug>/update/ */

#organization-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 60rem;
  margin: 2rem auto;
  align-items: flex-start;
  gap: 0 1.5rem;
  align-self: stretch;
  justify-content: center;
}

#organization-form .sidebar {
  display: flex;
  flex: 1 1 8rem;
  padding: 0.75rem;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    position: sticky;
    top: 2rem;
  }

  h1,
  h2 {
    margin: 0;
  }
  h1 {
    margin-top: 2rem;
  }
  h2 {
    font-weight: 400;
  }
}

#organization-form .content {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 37.5rem;
  width: 100%;
  padding: 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
  }

  header .title {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .title h2,
  .title p {
    margin: 0;
  }
}

#pending-requests {
  display: flex;
  flex-direction: column;
  width: 100%;

  h3, p {
    margin: 0;
  }

  table {
    width: 100%;
    margin: 1em 0;
    table-layout: auto;
    border-collapse: collapse;
  }
  th, td {
    padding: 0.125em 0.5em;
    text-align: left;
    border: 1px solid var(--gray-2);
  }
  th {
    width: 12em;
    background-color: var(--gray-1);
    font-weight: 600;
  }
  tfoot td {
    background-color: var(--gray-1);
    padding: 0.25em;
    text-align: right;
  }
}

.change-request-staff-actions {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}