.leave-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.leave-form .actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Switch the message visibility if the user
makes a selection in the Svelecte component */
.leave-form:not(:has(option)) .message-selected {
  display: none;
}

.leave-form:has(option) .message-initial {
  display: none;
}
