.update-card {
  max-width: 32rem;
}

.update-card main {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-2, #d8dee2);
  background: var(--white, #fff);
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem 1rem;
  padding: 1rem;
}

.update-card h1 {
  font-size: var(--font-xl, 24px);
  font-weight: 400;
  margin: 0.5rem 0 0;
}

.update-card h2 {
  font-size: var(--font-xl, 24px);
  margin: 0.25rem 0 2rem;
}

.card-row {
  flex: 0 1 auto;
  font-size: var(--font-sm);
  opacity: 0.7;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--gray-5);
}

.card-row .icon {
  display: inline-flex;
  align-items: center;
  width: var(--font-md, 0.75em);
  height: var(--font-md, 0.75em);
}

.update-card p {
  margin: 0;
}

.update-card form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.update-card .buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
