/* css for /organizations/<slug>/update/ */

#organization-form {
  display: flex;
  max-width: 60rem;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  justify-content: center;
}

#organization-form .sidebar {
  display: flex;
  max-width: 15rem;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
  }
}

#organization-form .content {
  display: flex;
  max-width: 37.5rem;
  padding: 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex: 1 0 0;

  section,
  .card {
    width: 100%;
  }
}

#details form {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  width: 100%;

  border-radius: 0.5rem;
  border: 1px solid var(--gray-2, #d8dee2);
  background: var(--white, #fff);

  /* shadow-1 */
  box-shadow: 0 2px 4px 2px var(--shadow, rgba(30, 48, 56, 0.15));
}

#protected {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

#pending-requests {
  display: flex;
  flex-direction: column;

  dl {
    width: 100%;
  }
  dt {
    font-weight: bold;
  }
}
