.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  align-self: stretch;
}

.plan header {
  display: flex;
  flex: 0 0 auto;
  align-self: stretch;
}

.plan header h2 {
  flex: 1 1 100%;
  text-align: center;
}

.premium.plan > header {
  flex-direction: column;
  justify-content: center;
}

.plan .main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-self: stretch;
}

.header-display {
  text-align: center;
  color: var(--gray-5, #233944);
  font-feature-settings:
    "ss04" on,
    "liga" off,
    "clig" off;
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-xl, 1.5rem);
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
}

.heavy-underline {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-color: var(--gray-3, #4294f0);
  text-decoration-thickness: 10%;
  text-underline-offset: 25%;
  text-underline-position: from-font;
}

.heavy-underline.primary {
  text-decoration-color: var(--blue-3, #4294f0);
}

.heavy-underline.premium {
  text-decoration-color: var(--green-3, #a0a0a0);
}

.plan header {
  display: flex;
  padding: 0.25rem 0.5rem;
  align-items: center;
  gap: 0.5rem;
}

.plan .price {
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-lg, 1.25rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  font-feature-settings:
    "ss04" on,
    "liga" off,
    "clig" off;
}
