.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  gap: 2rem;
}
header, main, form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
h1,
p {
  width: 100%;
  text-align: center;
  text-wrap: balance;
  margin: 0;
}
.help.link {
  font-size: var(--font-md, 1rem);
  font-weight: var(--font-semibold, 600);
  color: var(--primary);
}
.flex {
  display: flex;
}
.gap-1 {
  gap: 1rem;
}
.m-0 {
  margin: 0;
}
.field {
  flex: 1 1 auto;
  width: 20rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
