  .container {
    display: flex;
    max-width: 72rem;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 2rem;
  }
  .plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    align-self: stretch;
  }
  .plan header {
    display: flex;
    flex: 0 0 auto;
    align-self: stretch;
  }
  .plan header h2 {
    flex: 1 1 100%;
    text-align: center;
  }
  .premium.plan > header {
    flex-direction: column;
    justify-content: center;
  }
  .plan main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-self: stretch;
  }
  .free.plan main {
    flex-direction: row-reverse;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray-2, #D8DEE2);
    background: var(--white, #FFF);
  }
  .header-display {
    text-align: center;
    color: var(--gray-5, #233944);
    font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;
    font-family: var(--font-sans, "Source Sans Pro");
    font-size: var(--font-xl, 1.5rem);
    font-style: normal;
    font-weight: 600;
    line-height: 2.25rem;
  }
  .heavy-underline {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-color: var(--gray-3, #4294F0);
    text-decoration-thickness: 10%;
    text-underline-offset: 25%;
    text-underline-position: from-font;
  }
  .heavy-underline.primary {
    text-decoration-color: var(--blue-3, #4294F0);
  }
  .heavy-underline.secondary {
    text-decoration-color: var(--purple-3, #A0A0A0);
  }
  .heavy-underline.premium {
    text-decoration-color: var(--green-3, #A0A0A0);
  }
  .plan-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
  }
  .plan-actions .button {
    width: 100%;
    max-width: 20rem;
  }
  .checklist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .checklist-item {
    display: flex;
    align-items: flex-start;
    padding: 0.25rem 0.5rem;
    gap: 0.5rem;
    align-self: stretch;
  }
  .checklist-item .text {
    flex: 1 0 0;
    color: var(--gray-5, #233944);
    font-feature-settings: 'ss04' on;
    font-family: var(--font-sans, "Source Sans Pro");
    font-size: var(--font-sm, 0.825rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .checklist-item .icon {
    display: flex;
    align-items: center;
  }
  .checklist-item .icon svg {
    width: var(--font-md, 1rem);
    height: var(--font-md, 1rem);
  }
  .free.plan .checkmark {
    fill: var(--blue-3);
  }
  .professional.plan .checkmark {
    fill: var(--green-3);
  }

  .professional.plan,
  .organization.plan {
    display: flex;
    padding: 1rem 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 18rem;
    align-self: stretch;
    border-radius: 0.5rem;
  }
  .professional.plan {
    border: 1px solid var(--blue-2);
    background: var(--blue-1);
  }
  .organization.plan {
    border: 1px solid var(--purple-2);
    background: var(--purple-1, #F4F1FE);
  }
  
  .professional.plan main,
  .organization.plan main {
    justify-content: flex-start;
    flex: 1 0 0;
  }
  .professional.plan .icon {
    fill: var(--blue-3);
  }
  .organization.plan .icon {
    fill: var(--purple-3);
  }

  .plan header {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    padding: 0.25rem 0.5rem;
    align-items: center;
    gap: 0.5rem;
  }
  .plan header .icon {
    display: flex;
    align-items: center;
    width: var(--font-md, 1rem);
    height: var(--font-md, 1rem);
  }
  .plan header h3 {
    margin: 0;
    font-family: var(--font-sans, "Source Sans Pro");
    font-size: var(--font-md, 1rem);
    font-style: normal;
    font-feature-settings: 'ss04' on;
    font-weight: 600;
    line-height: normal;
  }
  .professional.plan h3 {
    color: var(--blue-4);
  }
  .organization.plan h3 {
    color: var(--purple-4);
  }

  .plan footer {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  .plan .price {
    font-family: var(--font-sans, "Source Sans Pro");
    font-size: var(--font-lg, 1.25rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;
  }
  .professional.plan .price {
    color: var(--blue-5, #1E2B60);
  }
  .organization.plan .price {
    color: var(--purple-5);
  }

  .org-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  }

  .org {
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;
    border: 1px solid var(--gray-2);
    border-radius: .5rem;
    background: var(--white);
  }

  .team h4 {
    margin: 0;
    font-weight: 600;
  }

  .verified {
    margin-bottom: 2rem;
  }

  .verified.badge {
    margin-bottom: 0;
  }

  .verified header {
    flex-direction: column;
    justify-content: center;
  }

  .verified header p {
    color: var(--gray-4, #5C717C);
    text-align: center;
    font-feature-settings: 'ss04' on;

    /* Label */
    font-family: var(--font-sans, "Source Sans Pro");
    font-size: var(--font-md, 1rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .membership {
    word-break: 
  }

  .services-list {
    margin: 0;
    padding: 0;
    flex: 1 0 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
  }

  .service {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1.5rem;
    align-self: stretch;
  }

  .service .identity {
    display: flex;
    width: 12.5625rem;
    padding: 1.1875rem 1.3125rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
  }

  .service .checklist {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    gap: 0.5rem 1rem;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;

    border-radius: 0.5rem;
    border: 1px solid var(--gray-2, #D8DEE2);
  }

  .service .checkmark svg {
    fill: var(--blue-3);
  }

  /* Sunlight Research Desk Membership */

  .sunlight header {
    gap: 0;
  }

  .sunlight .nonprofit-discount-tout {
    margin: 0;
    padding: 0.25em 0.5em;
    font-size: var(--font-sm);
    font-weight: var(--font-semibold);
    color: var(--orange-5);
    background-color: var(--orange-1);
    border: 1px solid var(--orange-2);
    border-radius: 0.5rem;
  }

  .sunlight .heavy-underline {
    text-decoration-color: var(--yellow-3);
  }

  .sunlight .nowrap {
    white-space: nowrap;
  }
  
  .sunlight.plan header {
    flex-direction: column;
    gap: 1rem;
  }

  .sunlight.plan .description {
    line-height: 1.5rem;
    margin: 0;
  }

  .sunlight-tiers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1.5rem;
    align-self: stretch;
    width: 100%;
  }

  .sunlight-tiers .tier {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    flex: 1 0 16rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray-2, #D8DEE2);
    background: var(--white, #FFF);
  }

  .sunlight-tiers .tier header {
    display: flex;
    padding: 0;
    gap: 0.5rem;
    align-items: flex-start;
    align-self: stretch;
  }

  .sunlight-tiers .tier h3 {
    margin: 0;
    color: var(--gray-5, #233944);
    font-family: var(--font-sans, "Source Sans Pro");
    font-size: var(--font-xl, 1.5rem);
    font-style: normal;
    font-weight: var(--font-semibold);
    line-height: normal;
    font-feature-settings: 'ss04' on;
    text-align: left;
  }

  .sunlight-tiers .tier header p {
    margin: 0;
    color: var(--gray-4);
  }

  .sunlight-tiers .tier main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    flex: 1 0 0;
    align-self: stretch;
  }

  .sunlight-tiers .tier .checklist {
    margin: 0;
  }

  .sunlight-tiers .tier .checkmark {
    fill: var(--yellow-3);
  }

  .sunlight-tiers .tier footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: stretch;
  }

  .sunlight-tiers .tier .pricing {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    justify-content: space-between;
    align-self: stretch;
  }

  .sunlight-tiers .tier .price {
    display: flex;
    align-items: baseline;
    gap: 0.25rem;
  }

  .sunlight-tiers .tier .price .amount {
    color: var(--yellow-5);
    font-family: var(--font-sans, "Source Sans Pro");
    font-size: var(--font-md, 1rem);
    font-style: normal;
    line-height: normal;
    font-feature-settings: 'ss04' on;
  }
  
  .sunlight-tiers .tier .annual.price .amount {
    font-weight: var(--font-semibold);
    font-size: var(--font-xl, 1.5rem);
  }

  .sunlight-tiers .tier .price .period,
  .sunlight-tiers .tier .price .alt
   {
    color: var(--gray-4, #5C717C);
    font-family: var(--font-sans, "Source Sans Pro");
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
  }

  .sunlight-tiers .tier .monthly.price .period,
  .sunlight-tiers .tier .monthly.price .alt {
    font-size: var(--font-sm);
  }

  .sunlight-tiers .tier .price.annual {
    order: 1;
  }

  .sunlight-tiers .tier .price.monthly {
    order: 2;
  }

  .sunlight-tiers .tier .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
  }

  .sunlight-tiers .tier .actions .button {
    flex: 1 0 0;
  }
