.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  border-radius: 0.25rem;
}

.user .avatar {
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;

  border-radius: 50%;
  border: 2px solid var(--gray-2, #d8dee2);
  background: var(--gray-1, #f5f6f7);
}

.user .avatar img {
  max-width: 100%;
  max-height: 100%;
}

.user .avatar svg {
  max-height: 2.5rem;
  max-width: 2.5rem;
  fill: var(--gray-3, #99a8b3);
}

.user .info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
}

.user .info h3 {
  margin: 0;
  color: var(--gray-5, #233944);
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-md, 1rem);
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 150% */
}

.user .info .details {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.5rem;
}
