/* main container, in base.html */
._cls-main {
  display: flex;
  align-items: center;
}

article {
  align-self: stretch;
  display: flex;
  max-width: 60rem;
  width: 100%;
  min-height: 60vh;
  margin: 0 auto;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

h1, h2 {
  margin: 0;
}

nav.return a {
  display: flex;
  padding: 0.25rem 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;

  color: var(--blue-3, #4294f0);
  font-feature-settings: "ss04" on;

  /* Label */
  font-family: var(--font-sans, "Source Sans Pro");
  font-size: var(--font-md, 1rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

nav.return svg {
  fill: currentColor;
  width: 1rem;
  height: 1rem;
}

.content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-self: stretch;
}

.content section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 auto;
  align-self: stretch;
}

.content section.search {
  flex: 1 1 24rem;
}

#org_search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.invites > div {
  width: 100%;
}

.invites .orgs {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;

  border-radius: 0.5rem;
  border: 1px solid var(--gray-2, #d8dee2);
  background: var(--white, #fff);

  /* shadow-1 */
  box-shadow: 0 2px 4px 2px var(--shadow, rgba(30, 48, 56, 0.15));
}

.empty {
  box-sizing: border-box;
}