{% extends "account/onboarding/base.html" %}

{% load i18n static django_vite %}

{% block title %}{% trans "Confirm Your Email Address" %}{% endblock %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/confirm_email.ts" %}
{% endblock vite %}

{% block onboarding_step %}
  <div class="message">
    <div class="icon">
      <img src="{% static 'icons/security.svg' %}" />
    </div>
    <h1>{% trans "One-Time Email Confirmation" %}</h1>
    <p>
      {% blocktrans %}
      We&rsquo;ve sent an email to <span class="email-address">{{email}}</span>.
      Please open it and click the one-time link to confirm this email address belongs to you.
      {% endblocktrans %}
    </p>
  <form method="post" action="{% url 'account_onboarding' %}">
    {% csrf_token %}
    <input type="hidden" name="step" value="confirm_email" />
    <button class="button primary" type="submit">Continue{% if service %} to {{service.name}}{% endif %}</button>
  </div>
    <a target="_blank" rel="noopener noreferrer" class="small inline button primary ghost" href="https://help.muckrock.com/1c4f889269638026b507dc08b6561335?pvs=4#1caf889269638080b222ebe360ffa1d9">{% trans "Why do I need to confirm my email?" %}</a>
{% endblock %}