{% extends "account/onboarding/base.html" %}

{% load i18n static %}

{% block title %}{% trans "Join an organization" %}{% endblock title %}

{% block css %}
{# shared styles #}
<link rel="stylesheet" href="{% static "css/gps.css" %}" />
<link rel="stylesheet" href="{% static "css/invites.css" %}" />

{# include any style tags in parent tempaltes #}
{{ block.super }}

{# page-specific styles #}
<link rel="stylesheet" href="{% static "css/join_org.css" %}" />
{% endblock css %}

{% block onboarding_step %}
  <div class="message">
    <header>
      <div class="icon">
        <img src="{% static 'icons/people.svg' %}" />
      </div>
      <h1>{% trans "Join your team on MuckRock to access collaboration, advanced features, and shared resources" %}</h1>
    </header>
    <label class="org-search">
      <span class="sr-only">{% trans "Search public teams" %}</span>
      <input type="search" placeholder="{% trans "Search public teams" %} ..." name="q" />
    </label>

    <div class="pre-approved">
      <header>
        <h2>Pre-approved</h2>
        <p>Based on your email address, you're pre-approved to join:</p>
      </header>
      <div class="orgs">
        {% for organization in potential_orgs %}
        {% include "account/team_list_item.html" %}
        {% endfor %}
      </div>
    </div>

    <div class="pending">
      <h2>Pending requests</h2>

      <div class="orgs">
        {% for invite in invitations %}
        <div class="invite">
          {% include "account/team_list_item.html" with organization=invite.organization %}

          <div class="actions">
            <img src="{% static "icons/check.svg" %}">
            <button class="primary">Join</button>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

  </div>
{% endblock %}