{% extends "account/onboarding/base.html" %}

{% load i18n static django_vite %}
{% load account socialaccount %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/mfa_opt_in.ts" %}
{% endblock vite %}

{% block onboarding_step %}
  <header>
    <div class="icon">
      <img src="{% static 'icons/security.svg' %}" />
    </div>
    <h1>{% trans "MuckRock Accounts now supports two-factor authentication for enhanced security." %}</h1>
    <p>{% blocktrans %}Would you like to enable two-factor authentication on your account?{% endblocktrans %}</p>
    <p>{% blocktrans %}If you skip now, you can always enable two-factor later from your account page.{% endblocktrans %}</p>
  </header>
  <form class="flex gap-1" method="post" action="{% url 'account_onboarding' %}">
    {% csrf_token %}
    <input type="hidden" name="step" value="mfa_opt_in" />
    <button class="button primary" type="submit" name="enable_mfa" value="yes">{% trans "Enable Two-Factor Authentication" %}</button>
    <button class="button primary ghost" type="submit" name="enable_mfa" value="skip">{% trans "Skip" %}</button>
  </form>
  <a class="help link" target="_blank" rel="noopener noreferrer" href="https://help.muckrock.com/1c4f889269638026b507dc08b6561335?pvs=4#1c4f8892696380ccbbe7d6194a1dbe57">{% trans "What is two-factor authentication?" %}</a>
{% endblock %}