{% extends "account/onboarding/base.html" %}

{% load i18n static django_vite %}
{% load humanize %}
{% load icon %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/subscribe.ts" %}
{% endblock vite %}

{% block onboarding_step %}
  <div class="step">
    <header>
      <div class="icon"><img src="{% static "icons/premium-colored.svg" %}" /></div>
      <h1 class="title">{% blocktrans %}Subscribe to MuckRock Premium for advanced features and discount rates{% endblocktrans %}</h1>
    </header>
    <div class="tab-group" data-selected-plan="{{ plans.selected.slug }}">
      <div class="tabs">
        <div class="tab individual">
          <span class="icon">{% icon "person" %}</span>
          {% trans "For yourself" %}
        </div>
        <div class="tab group">
          <span class="icon">{% icon "organization" %}</span>
          {% trans "For your organization" %}
        </div>
      </div>
      <div class="individual tab-content" id="individual">
        <ul class="individual benefits-list">
          <li>
            <span class="checkmark icon">{% icon "checkmark" %}</span>
            <span class="benefit-text">
              {% blocktrans %}20 requests per month on MuckRock{% endblocktrans %}
            </span>
          </li>
          <li>
            <span class="checkmark icon">{% icon "checkmark" %}</span>
            <span class="benefit-text">
              {% blocktrans %}Embargo requests for up to 30 days after completion{% endblocktrans %}
            </span>
          </li>
          <li>
            <span class="checkmark icon">{% icon "checkmark" %}</span>
            <span class="benefit-text">
              {% blocktrans %}2,000 AI Credits per month on DocumentCloud{% endblocktrans %}
            </span>
          </li>
          <li>
            <span class="checkmark icon">{% icon "checkmark" %}</span>
            <span class="benefit-text">
              {% blocktrans %}Search your private notes on DocumentCloud{% endblocktrans %}
            </span>
          </li>
        </ul>
        {% with forms.individual as form %}
        <form id="individual-org" method="POST" class="form" action="{% url 'account_onboarding' %}">
          {% csrf_token %}
          <input type="hidden" name="step" value="subscribe">
          <input type="hidden" name="organization" value={{ form.organization.value }}>
          {{form.plan}}
          {{form.stripe_pk}}
          {{form.stripe_token}}
          {{form.organization}}
          <label>
            {% blocktrans %}Provide a credit card{% endblocktrans %}
            <div class="card-field">
              <div class="card-element"></div>
              <!-- Used to display Element errors. -->
              <div class="card-element-errors" role="alert"></div>
            </div>
          </label>
          <label>
            {{form.billing_email.label}}
            {{form.billing_email}}
            <p class="help-text">
              {{form.billing_email.help_text}}
            </p>
          </label>
          <footer>
            <p class="plan-price">
              ${{plans.individual.base_price|intcomma}}/{% trans "month" %}
            </p>
            <button type="submit" class="button premium" name="submit-type" value="individual">
              {% blocktrans %}Subscribe to Premium{% endblocktrans %}
            </button>
          </footer>
        </form>
        {% endwith %}
      </div>
      <div class="group tab-content" id="group">
        <ul class="group benefits-list">
          <li>
            <span class="checkmark icon">{% icon "checkmark" %}</span>
            <span class="benefit-text">
              {% blocktrans %}Share resources with unlimited members{% endblocktrans %}
            </span>
          </li>
          <li>
            <span class="checkmark icon">{% icon "checkmark" %}</span>
            <span class="benefit-text">
              {% blocktrans %}50 requests per month on MuckRock{% endblocktrans %}
            </span>
          </li>
          <li>
            <span class="checkmark icon">{% icon "checkmark" %}</span>
            <span class="benefit-text">
              {% blocktrans %}Permanently embargo requests{% endblocktrans %}
            </span>
          </li>
          <li>
            <span class="checkmark icon">{% icon "checkmark" %}</span>
            <span class="benefit-text">
              {% blocktrans %}5,000 AI Credits per month on DocumentCloud{% endblocktrans %}
            </span>
          </li>
        </ul>
        {% with forms.group as form %}
        <form class="form" id="group-org"
              data-organization-field="{{ form.organization.id_for_label }}"
              data-new-organization-field="{{ form.new_organization_name.id_for_label }}"
              method="POST" action="{% url 'account_onboarding' %}">
          {% csrf_token %}
          <input type="hidden" name="step" value="subscribe">
          {{form.plan}}
          {{form.stripe_pk}}
          {{form.stripe_token}}
          <label for="{{ form.organization.id_for_label }}">
            {{ form.organization.label }}
            <select name="{{ form.organization.html_name }}" id="{{ form.organization.id_for_label }}" class="form-control">
              <option value="" disabled selected>{% translate "Select an organization" %}</option>
              {% for org in form.organization.field.queryset %}
                {% if not org.individual %}
                  <option value="{{ org.pk }}" {% if form.organization.value == org.pk|stringformat:"s" %}selected{% endif %}>
                    {{ org }}
                  </option>
                {% endif %}
              {% endfor %}
                <option value="new">{% translate "Create new organization" %}</option>
            </select>
            {% if form.organization.errors %}
              <div class="invalid-feedback">
                {{ form.organization.errors }}
              </div>
            {% endif %}
            {% if form.organization.help_text %}
              <p class="help-text">{{ form.organization.help_text }}</p>
            {% endif %}
          </label>
          <label for="{{ form.new_organization_name.id_for_label }}" style="display:none;">
            {{ form.new_organization_name.label }}
            {{ form.new_organization_name }}
            {% if form.new_organization_name.errors %}
              <div class="invalid-feedback">
                {{ form.new_organization_name.errors }}
              </div>
            {% endif %}
          </label>
          <label>
            {% blocktrans %}Provide a credit card{% endblocktrans %}
            <div class="card-field">
              <div class="card-element"></div>
              <!-- Used to display Element errors. -->
              <div class="card-element-errors" role="alert"></div>
            </div>
          </label>
          <label>
            {{form.billing_email.label}}
            {{form.billing_email}}
            <p class="help-text">
              {{form.billing_email.help_text}}
            </p>
          </label>
          <footer>
            <p class="plan-price">
              ${{plans.group.base_price|intcomma}}/{% trans "month" %}
            </p>
            <button type="submit" class="button premium" name="submit-type" value="group">
              {% blocktrans %}Subscribe to Premium{% endblocktrans %}
            </button>
          </footer>
        </form>
        {% endwith %}
      </div>
    </div>
    <footer>
      <form action="{% url 'account_onboarding' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="step" value="subscribe" />
        <button class="button ghost" type="submit" name="submit-type" value="skip">
          {% blocktrans %}Subscribe later{% endblocktrans %}
        </button>
      </form>
    </footer>
  </div>
{% endblock %}