{% extends "account/onboarding/base.html" %}

{% load i18n static airtable django_vite %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/verification.ts" %}
{% endblock vite %}

{% block onboarding_step %}
<div class="step">
    <header>
      <div class="icon">{% include "core/icons/verified.svg" %}</div>
      <h2 class="title">{% blocktrans %}Request Verification{% endblocktrans %}</h2>
      <p class="detail">
        {% blocktrans %}
        Verified newsrooms have access to additional reporting and publishing tools. Before you can upload documents to DocumentCloud, or access other advanced features, you may need to be in a verified newsroom.
        {% endblocktrans %}
      </p>
      <p class="detail">
        {% blocktrans %}
        Our help pages include an in-depth <a target="_blank" rel="noopener noreferrer" href="https://help.muckrock.com/Request-verification-19ef8892696381dba944e17e14938433">guide to verification</a> and guidance on everything you can do in DocumentCloud without verification. 
        {% endblocktrans %}
      </p>
    </header>
    <main>
      <div class="verification card">
        {% for organization in unverified_orgs %}
          <div class="unverified org">
            {% include "account/team_list_item.html" %}
            <a target="_blank" rel="noopener noreferrer" class="ghost button" href="{% airtable_verification_url organization %}">
              Request verification
            </a>
          </div>
        {% endfor %}
        {% if not individually_verified %}
          <div class="unverified individual">
            <p>
              {% blocktrans %}
              Freelance journalists and independent researchers may qualify for verification,
              although we <em>strongly</em> encourage verification through a newsroom or other affiliated organization.
              {% endblocktrans %}
            </p>
            <a target="_blank" rel="noopener noreferrer" class="ghost primary button" href="{% airtable_verification_url organization %}">
              Verify yourself
            </a>
          </div>
        {% endif %}
      </div>
    </main>
    <footer>
      <form method="POST" action="{% url 'account_onboarding' %}">
        {% csrf_token %}
        <input type="hidden" name="step" value="verification" />
        <button type="submit" name="verification" value="skip" class="primary button">{% trans "Continue signing in" %}</button>
      </form>
    </footer>
</div>
{% endblock %}