{% extends "base.html" %}
{% load i18n django_vite %}

{% block title %}
    {% translate "Deactivate Two-Factor Auth" %}
{% endblock title %}

{% block vite %}
  {{ block.super }}
  {% vite_asset "frontend/views/mfa.ts" %}
{% endblock vite %}

{% block content %}
  <div class="container" id="deactivate-mfa">
    <header>
      <a class="nav-link" href="{% url 'users:detail' user.username %}">
        {% include "core/icons/arrow-left.svg" %}
        {% trans "Return to your account" %}
      </a>
    </header>
    <main class="card">
      <h1>{% translate "Deactivate Two-Factor Authentication" %}</h1>
      <p>
          {% blocktranslate %}You are about to deactivate two-factor authentication. Are you sure?{% endblocktranslate %}
      </p>
      <form method="post" action="{% url 'mfa_deactivate_totp' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn danger">
          {% trans "Deactivate" %}
        </button>
      </form>
    </main>
  </div>
{% endblock content %}
