{% extends "core/email/base.html" %}
{% load account %}
{% load i18n %}
{% load autologin %}

{% block body %}
  {% user_display user as user_display %}
  {% autologin activate_url user as activate_url_ %}
  {% blocktrans %}
    <p>Your action is required to confirm that <strong>{{email}}</strong> is a valid email address for MuckRock user <strong>{{ user_display }}</strong>.</p>

    <p><a href="{{ activate_url_ }}">Confirm this email &rarr;</a></p>

    <p>If you believe this email was sent in error, you can ignore it.</p>
  {% endblocktrans %}
{% endblock %}
