{% extends "account/base.html" %}

{% load i18n static %}
{% load crispy_forms_tags %}
{% load handleintent %}

{% block head_title %}{% trans "Select plan" %}{% endblock %}

{% block content %}

<div class="_cls-content">
  {% trans "Create an account for" as intent_header %}
  {% trans "You’ll also be able to sign into" as intent_text %}
  {% handleintent intent_header intent_text %}
  <p class="_cls-info">
    {% trans "Already have an account?" %}
    <a href="{% url "account_login" %}">
      <span class="_cls-action">
        {% trans "Login now" %}
      </span>
    </a>
  </p>
</div>

<div class="_cls-form">
  <div class="_cls-expandedContent">
    <div class="_cls-cardContainer">
      <div class="_cls-cards">
        <div class="_cls-card">
          <div class="_cls-cardHeader">
            <h1>{% trans 'Free' %}</h1>
          </div>
          <div class="_cls-cardContent">
            <ul>
              <li>
                {% blocktrans %}
                  Sign up for free, no credit card required.
                {% endblocktrans %}
              </li>
              {% if request.GET.intent == "documentcloud" %}
                <li>
                  {% blocktrans %}
                    Upload, share, annotate and embed documents after account
                    verification on DocumentCloud.
                  {% endblocktrans %}
                </li>
                <li>
                  {% blocktrans %}
                    Use Add-Ons for additional features, such as scraping and
                    audio transcriptions, or write your own.
                  {% endblocktrans %}
                </li>
              {% else %}
                <li>
                  {% blocktrans %}
                    Purchase bundles of 4 requests for $20 on MuckRock.
                  {% endblocktrans %}
                </li>
                <li>
                  {% blocktrans %}
                    Bulk rate of $4/request on purchases of 20 or more
                    additional requests.
                  {% endblocktrans %}
                </li>
              {% endif %}
            </ul>
          </div>
          <div class="_cls-cardAction">
            <a class="_cls-nostyle" href="{% url 'account_signup' %}?intent={% firstof request.GET.intent 'squarelet' %}{% if request.GET.next %}&next={{ request.GET.next }}{% endif %}">
              <button>{% blocktrans %}Sign up for free{% endblocktrans %}</button>
            </a>
          </div>
        </div>
        <div class="_cls-card">
          <div class="_cls-cardHeader">
            <h1>{% trans 'Professional' %}</h1>
          </div>
          <div class="_cls-cardContent">
            <ul>
              {% if request.GET.intent == "documentcloud" %}
                <li>
                  {% blocktrans %}
                    Use advanced OCR powered by AWS Textract for the most
                    accurate text extraction on up to 2,000 pages per month on
                    DocumentCloud.
                  {% endblocktrans %}
                </li>
                <li>
                  {% blocktrans %}
                    Ability to search through the notes on your documents.
                  {% endblocktrans %}
                </li>
              {% else %}
                <li>
                  {% blocktrans %}
                    Receive 20 requests per month on MuckRock.
                  {% endblocktrans %}
                </li>
                <li>
                  {% blocktrans %}
                    Embargo requests for up to 30 days after completion.
                  {% endblocktrans %}
                </li>
                <li>
                  {% blocktrans %}
                    Bulk rate of $3/request on purchases of 20 or more
                    additional requests.
                  {% endblocktrans %}
                </li>
              {% endif %}
            </ul>
          </div>
          <div class="_cls-cardAction">
            <a class="_cls-nostyle" href="{% url 'account_signup' %}?plan=professional&intent={% firstof request.GET.intent 'squarelet' %}{% if request.GET.next %}&next={{ request.GET.next }}{% endif %}">
              <button>
                {% blocktrans %}Subscribe for $40/month{% endblocktrans %}
              </button>
            </a>
          </div>
        </div>
        <div class="_cls-card">
          <div class="_cls-cardHeader">
            <h1>{% trans 'Organization' %}</h1>
          </div>
          <div class="_cls-cardContent">
            <ul>
              {% if request.GET.intent == "documentcloud" %}
                <li>
                  {% blocktrans %}
                    Start with 5 members and 5,000 advanced OCR pages per month
                    on DocumentCloud.
                  {% endblocktrans %}
                </li>
                <li>
                  {% blocktrans %}
                    Add additional members for $10 &mdash; each new member adds
                    500 advanced OCR pages per month.
                  {% endblocktrans %}
                </li>
              {% else %}
                <li>
                  {% blocktrans %}
                    Start with 5 members and 50 collective requests per month
                    on MuckRock.
                  {% endblocktrans %}
                </li>
                <li>
                  {% blocktrans %}
                    Add additional members for $10 &mdash; each new member adds
                    5 requests per month.
                  {% endblocktrans %}
                </li>
                <li>
                  {% blocktrans %}
                    Members can make embargoes permanent.
                  {% endblocktrans %}
                </li>
              {% endif %}
            </ul>
          </div>
          <div class="_cls-cardAction">
            <a class="_cls-nostyle" href="{% url 'account_signup' %}?plan=organization&intent={% firstof request.GET.intent 'squarelet' %}{% if request.GET.next %}&next={{ request.GET.next }}{% endif %}">
              <button>
                {% blocktrans %}Subscribe from $100/month{% endblocktrans %}
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
