{% extends "account/base.html" %}

{% load i18n static %}
{% load crispy_forms_tags %}
{% load handleintent %}

{% block head_title %}{% trans "Select plan" %}{% endblock %}

{% block inner %}

<div class="_cls-content">
  {% trans "Create an account for" as intent_header %}
  {% trans "You’ll also be able to sign into" as intent_text %}
  {% handleintent intent_header intent_text %}
</div>

<div class="_cls-form">
  <div class="_cls-expandedContent">
    <div class="_cls-cardContainer">
      <div class="_cls-cards">
        <div class="_cls-card">
          <div class="_cls-cardHeader">
            <h1>{% trans 'Free' %}</h1>
          </div>
          <div class="_cls-cardContent">
            <ul>
              <li>{% blocktrans %}Sign up for free, no credit card required.{% endblocktrans %}</li>
              <li>{% blocktrans %}Purchase bundles of 4 requests for $20 on MuckRock.{% endblocktrans %}</li>
              <li>{% blocktrans %}Upload 500 pages per month on DocumentCloud.{% endblocktrans %}</li>
            </ul>
          </div>
          <div class="_cls-cardAction">
            <a href="{% url 'account_signup' %}?plan=0&intent={% firstof request.GET.intent 'muckrock' %}"><button>{% blocktrans %}Sign up for free{% endblocktrans %}</button></a>
          </div>
        </div>
        <div class="_cls-card">
          <div class="_cls-cardHeader">
            <h1>{% trans 'Pro' %}</h1>
          </div>
          <div class="_cls-cardContent">
            <ul>
              <li>{% blocktrans %}Sign up for free, no credit card required.{% endblocktrans %}</li>
              <li>{% blocktrans %}Purchase bundles of 4 requests for $20 on MuckRock.{% endblocktrans %}</li>
              <li>{% blocktrans %}Upload 500 pages per month on DocumentCloud.{% endblocktrans %}</li>
            </ul>
          </div>
          <div class="_cls-cardAction">
            <a href="{% url 'account_signup' %}?plan=1&intent={% firstof request.GET.intent 'muckrock' %}"><button>{% blocktrans %}Subscribe for $10/month{% endblocktrans %}</button></a>
          </div>
        </div>
        <div class="_cls-card">
          <div class="_cls-cardHeader">
            <h1>{% trans 'Organization Basic' %}</h1>
          </div>
          <div class="_cls-cardContent">
            <ul>
              <li>{% blocktrans %}For organizations with up to 5 users.{% endblocktrans %}</li>
              <li>{% blocktrans %}Get 4 requests per user per month on MuckRock.{% endblocktrans %}</li>
              <li>{% blocktrans %}Upload unlimited public pages on DocumentCloud.{% endblocktrans %}</li>
              <li>{% blocktrans %}Upload 1,000 private pages on DocumentCloud per user per month.{% endblocktrans %}</li>
            </ul>
          </div>
          <div class="_cls-cardAction">
            <a href="{% url 'account_signup' %}?plan=2&intent={% firstof request.GET.intent 'muckrock' %}"><button>{% blocktrans %}Subscribe from $50/month{% endblocktrans %}</button></a>
          </div>
        </div>
        <div class="_cls-card">
          <div class="_cls-cardHeader">
            <h1>{% trans 'Organization Pro' %}</h1>
          </div>
          <div class="_cls-cardContent">
            <ul>
              <li>{% blocktrans %}For organizations with over 10 users.{% endblocktrans %}</li>
              <li>{% blocktrans %}Get 8 requests per user per month on MuckRock.{% endblocktrans %}</li>
              <li>{% blocktrans %}Upload unlimited public pages on DocumentCloud.{% endblocktrans %}</li>
              <li>{% blocktrans %}Upload 3,000 private pages on DocumentCloud per user per month.{% endblocktrans %}</li>
            </ul>
          </div>
          <div class="_cls-cardAction">
            <a href="{% url 'account_signup' %}?plan=3&intent={% firstof request.GET.intent 'muckrock' %}"><button>{% blocktrans %}Subscribe from $100/month{% endblocktrans %}</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="_cls-footer">
  <div class="_cls-doublepane">
    <div class="_cls-leftpane">
      <p class="_cls-info">{% blocktrans %}MuckRock is a non-profit collaborative news site that gives you the tools to keep our government transparent and accountable.{% endblocktrans %}</p>
    </div>
    <div class="_cls-rightpane">
      <h3 class="_cls-services">{% trans 'Services' %}</h3>
      <ul>
        <li>MuckRock</li>
        <li>DocumentCloud</li>
        <li>FOIA Machine</li>
        <li>Quackbot</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
