{% load markdown %}

{% if alerts|length > 1 %}
<aside class="alerts">
  <ul>
  {% for alert in alerts %}
    <li>{{alert.message|markdown}}</li>
  {% endfor %}
  </ul>
</aside>
{% elif alerts|length == 1 %}
<aside class="alerts">
  {% for alert in alerts %}
    {{alert.message|markdown}}
  {% endfor %}
</aside>
{% endif %}

<style>
  .alerts {
    width: 100%;
    max-width: var(--max-width, 1000px);
    margin: 0 auto;
    border: 1px solid var(--purple-2, #DFD5FA);
    background: var(--purple-1, #F4F1FE);
    color: var(--purple-5, #1E2B60);
    padding: 1rem 3rem;
    border-radius: 1rem;
    box-sizing: border-box;
  }
  .alerts ul {
    margin: 0;
    padding: 0;
  }
  .alerts li {
    margin: .5rem 0;
  }
  .alerts li:last-child {
    margin-bottom: 0;
  }
  .alerts p {
    margin: 0;
  }
</style>