{# Accompanying styles and scripts are in alerts.css and alerts.ts #}
<div class="_cls-alerts">
  {% if payment_failed_organizations %}
  <div class="_cls-alert">
    <div class="alert-error">
      <span class="_cls-alertIcon"></span>
      <span class="_cls-middleAlign">
        A recent charge made to your credit card has failed.
        {% for organization in payment_failed_organizations %}
        <p>
          {% if organization.individual %}
          <a href="{% url "users:payment" username=user.username %}">Update your billing info.</a>
          {% else %}
          <a href="{% url "organizations:payment" slug=organization.slug %}">
            Update the billing info for {{ organization.name }}.
          </a>
          {% endif %}
        </p>
        {% endfor %}
      </span>
      <span class="_cls-close" data-dismiss="alert">
        Dismiss
      </span>
    </div>
  </div>
  {% endif %}
  {% if request.user.email_failed %}
  <div class="_cls-alert">
    <div class="alert-error">
      <span class="_cls-alertIcon"></span>
      <span class="_cls-middleAlign">
        We received an error trying to email you, please
        <a href="{% url "account_email" %}">update your email.</a>
      </span>
      <span class="_cls-close" data-dismiss="alert">
        Dismiss
      </span>
    </div>
  </div>
  {% endif %}

  {% if messages %}
  {% for message in messages %}
  <div class="_cls-alert">
    <div class="{% if message.tags %}alert-{{ message.tags }}{% endif %}" data-auto-dismiss>
      <span class="_cls-alertIcon"></span>
      <span class="_cls-middleAlign">{{ message|safe }}</span>
      <span class="_cls-close" data-dismiss="alert">
        Dismiss
      </span>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>

{% if request.user.email_failed %}
<div class="_cls-alert">
  <div class="alert-error">
    <span class="_cls-alertIcon"></span>
    <span class="_cls-middleAlign">
      We received an error trying to email you, please
      <a href="{% url "account_email" %}">update your email.</a>
    </span>
  </div>
</div>
{% endif %}