{% load i18n %}
{% load static %}

<div class="_cls-services">
  <div class="_cls-mediumHeader">{% trans 'Services' %}</div>
  <p class="_cls-info">
  <span class="_cls-rightBump">{% blocktrans %}A toolset for journalists and the public at large.{% endblocktrans %}</span>
  </p>
  <ul>
    <li>
      <a class="_cls-nostyle" href="{{ settings.MUCKROCK_URL }}">
        <div class="_cls-serviceIcon">
          <img src="{% static 'assets/muckrock.svg' %}">
        </div>
        <div class="_cls-serviceInfo">
          <div class="_cls-serviceName">
            {% trans 'MuckRock' %}
          </div>
          <div class="_cls-serviceDescription">
            {% blocktrans %}File, track, and share public records requests.{% endblocktrans %}
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="_cls-nostyle" href="{{ settings.DOCCLOUD_URL }}">
        <div class="_cls-serviceIcon">
          <img src="{% static 'assets/documentcloud.svg' %}">
        </div>
        <div class="_cls-serviceInfo">
          <div class="_cls-serviceName">
            {% trans 'DocumentCloud' %}
          </div>
          <div class="_cls-serviceDescription">
            {% blocktrans %}Upload, analyze, embed documents{% endblocktrans %}
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="_cls-nostyle" href="{{ settings.FOIAMACHINE_URL }}">
        <div class="_cls-serviceIcon">
          <img src="{% static 'assets/foiamachine.svg' %}">
        </div>
        <div class="_cls-serviceInfo">
          <div class="_cls-serviceName">
            {% trans 'FOIA Machine' %}
          </div>
          <div class="_cls-serviceDescription">
            {% blocktrans %}Track public records requests you've filed on your own.{% endblocktrans %}
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="_cls-nostyle" href="{{ settings.BIGLOCALNEWS_URL }}">
        <div class="_cls-serviceIcon">
          <img src="{% static 'assets/biglocalnews.svg' %}">
        </div>
        <div class="_cls-serviceInfo">
          <div class="_cls-serviceName">
            {% trans 'Big Local News' %}
          </div>
          <div class="_cls-serviceDescription">
            {% blocktrans %}Big Local News description here.{% endblocktrans %}
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
