<p>Local newsrooms that are doing innovative work informing and connecting with communities often don’t have access to the services that newsrooms in earlier times took for granted. Small newsrooms are often so busy with daily coverage they don’t even know about all the resources available to answer their community’s hardest questions.</p>
<p><strong>That’s why we created the Knight Election Hub, and why we’re picking up the check on costly services.</strong></p>
<p>The Hub is a collection of carefully selected products and services that will help you cover the election better than you thought possible.</p>
<p>Access to the Knight Election Hub is restricted to U.S. news organizations that:</p>
<ul>
  <li>Are substantially engaged in original news gathering and publishing.</li>
  <li>Are not dedicated to particular political outcomes or regularly publish work that would cause a reasonable person to doubt their ability to report the news fairly.</li>
  <li>Have a published ethics policy.</li>
  <li>Contribute to a healthy news ecosystem.</li>
</ul>
<p>Nonprofit news organizations of any size are welcome, as are for-profit news organizations with no more than $5M in revenue (parent company / subsidiaries included).</p>
<p>The Knight Election Hub was made in collaboration with <a href="https://www.muckrock.com/">MuckRock</a>, <a href="https://www.opennews.org/">OpenNews</a>, <a href=https://newspack.com/">Newspack</a> and <a href="https://www.wearehearken.com/">Hearken</a>. Some of the free resources in the Hub are pulled from The Election Group’s <a href="https://electionsgroup.com/resource/covering-elections-and-voting-in-2024/">Covering Elections and Voting in 2024: A Media Guide.</a></p>
<p>Do you know about an election-related resource that should be listed in the Knight Election Hub? <a href="mailto:elections24@kf.org">Let us know!</a></p>