{% load static %}
<p>Local newsrooms that are doing innovative work informing and connecting with communities often don&rsquo;t have access to the services that newsrooms in earlier times took for granted. Small newsrooms are often so busy with daily coverage they don&rsquo;t have time to search for all the resources available to answer their community&rsquo;s most important questions.</p>
<p><strong>That&rsquo;s why we created the Knight Election Hub, and why we&rsquo;re picking up the check on costly services.</strong></p>
<p>The Hub is a collection of carefully selected products and services that will help you cover the election better than you thought possible.</p>
<p>Access to the Knight Election Hub is restricted to U.S. news organizations that:</p>
<ul>
  <li>Are substantially engaged in original news gathering. Projects must have a place-based focus.</li>
  <li>Are clearly non-partisan and do not regularly publish work that would cause a reasonable person to doubt their ability to report the news fairly.</li>
  <li>Have a published ethics policy.</li>
</ul>
<p>Nonprofit news organizations of any size are welcome, as are for-profit news organizations with no more than $5M in revenue (parent company / subsidiaries included).</p>
<ul class="_cls-erh--logoGarden">
  <li id="knight_foundation"><a href="https://knightfoundation.org/" target="blank" rel="noopener"><img src="{% static 'assets/erh/knight_foundation.png' %}" /></a></li>
  <li id="newspack"><a href="https://newspack.com/" target="blank" rel="noopener"><img src="{% static 'assets/erh/newspack.png' %}" /></a></li>
  <li id="hearken"><a href="https://www.wearehearken.com/" target="blank" rel="noopener"><img src="{% static 'assets/erh/hearken.png' %}" /></a></li>
  <li id="muckrock"><a href="https://www.muckrock.com/" target="blank" rel="noopener"><img src="{% static 'assets/erh/muckrock.png' %}" /></a></li>
  <li id="opennews"><a href="https://www.opennews.org/" target="blank" rel="noopener"><img src="{% static 'assets/erh/opennews.png' %}" /></a></li>
</ul>
<p>The Knight Election Hub was made in collaboration with <a href="https://www.muckrock.com/" target="blank" rel="noopener">MuckRock</a>, <a href="https://www.opennews.org/" target="blank" rel="noopener">OpenNews</a>, <a href="https://newspack.com/" target="blank" rel="noopener">Newspack</a> and <a href="https://www.wearehearken.com/" target="blank" rel="noopener">Hearken</a>. Some of the free resources in the Hub are pulled from The Election Group&rsquo;s <a href="https://electionsgroup.com/resource/covering-elections-and-voting-in-2024/">Covering Elections and Voting in 2024: A Media Guide.</a></p>
<p>Do you know about an election-related resource that should be listed in the Knight Election Hub? <a href="mailto:elections24@kf.org">Let us know!</a></p>