{% load i18n %}

<div class="_cls-urgentCareIntro">
  <div class="_cls-erh--interactive">
  <div class=" _cls-body _cls-erh--description ">
    <h1>Election Urgent Care</h1>
    <p class="_cls-erh--subtitle">A project of the Knight Election Hub, OpenNews, Newspack, MuckRock and Hearken</p>
    <p>For the months between Election Day and the presidential inauguration, we’re pivoting our focus to supporting journalists around the country who may face unexpected challenges &mdash; from legal questions to safety concerns to journalistic questions around data and FOIAs. Starting November 5, we’ll respond to your urgent questions on an on-call basis through <strong>Election Urgent Care</strong>.</p>
    <p>Three ways to get in touch:</p>
    <ol>
      <li>Join our community on Civic News Company’s <a href="https://docs.google.com/forms/d/e/1FAIpQLSeHzvJxx8WRY-Z3b84m3VHkfp2HV8vQ-Kr6ZMLypHNdhsz6hA/viewform" target="_blank">Slack</a></li>
      <li>Email us at <a href="mailto:urgentcare@electionsos.org">urgentcare@electionsos.org</a></li>
      <li>Apply for support from a specific resource on the cards below</li>
    </ol>
    <p>(If you’re looking for the resources that used to be part of the Knight Election Hub, no worries: we’ve compiled all the links for <a href="https://airtable.com/app24j8kCIyvapLFp/shrFf4LCnJD4FG8Tx?PBo3X=allRecords" target="_blank">free sites into this table</a>.)</p>
  </div>
</div>
</div>