{% load static i18n compress%}<!DOCTYPE html>
{% load avatar %}
{% load hijack_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}MuckRock accounts{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#168ee5">
    <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static 'images/favicons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    {% block css %}
      <!-- Your stuff: Third-party CSS libraries go here -->
      {% compress css %}
        <!-- This file stores project-specific CSS -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/autocomplete.css' %}" rel="stylesheet">
        <link href="{% static 'hijack/hijack-styles.css' %}" rel="stylesheet">
      {% endcompress %}
    {% endblock %}

  </head>

  <body>

    {% hijack_notification %}

    <div class="_cls-heading">
      <div class="_cls-headingContent">
        <a class="_cls-nostyle" href="{% url 'home' %}">
          <span class="_cls-mainLogo">
            <img src="{% static 'assets/muckrock_accounts.svg' %}">
          </span>
        </a>
        <nav>
          <ul>
            <li>
              <a class="_cls-nostyle" href="{{ settings.MUCKROCK_URL }}">
                <div class="_cls-serviceIcon">
                  <img src="{% static 'assets/muckrock.svg' %}">
                </div>
                <div class="_cls-serviceInfo">
                  <div class="_cls-serviceName">
                    {% trans 'MuckRock' %}
                  </div>
                </div>
              </a>
            </li>
            {% comment %}
            <li>
              <a class="_cls-nostyle" href="{{ settings.DOCCLOUD_URL }}">
                <div class="_cls-serviceIcon">
                  <img src="{% static 'assets/documentcloud.svg' %}">
                </div>
                <div class="_cls-serviceInfo">
                  <div class="_cls-serviceName">
                    {% trans 'DocumentCloud' %}
                  </div>
                </div>
              </a>
            </li>
            {% endcomment %}
            <li>
              <a class="_cls-nostyle" href="{{ settings.FOIAMACHINE_URL }}">
                <div class="_cls-serviceIcon">
                  <img src="{% static 'assets/foiamachine.svg' %}">
                </div>
                <div class="_cls-serviceInfo">
                  <div class="_cls-serviceName">
                    {% trans 'FOIA Machine' %}
                  </div>
                </div>
              </a>
            </li>
            {% comment %}
            <li>
              <div class="_cls-serviceIcon">
                <img src="{% static 'assets/quackbot.svg' %}">
              </div>
              <div class="_cls-serviceInfo">
                <div class="_cls-serviceName">
                  {% trans 'Quackbot' %}
                </div>
              </div>
            </li>
            {% endcomment %}
            {% if request.user.is_authenticated %}
              <div class="_cls-shim _cls-hide" id="_id-shim"></div>
              <li id="_id-profDropdown" class="_cls-profDropdown">
                {% avatar request.user 25 %}
                <div id="_id-dropdownContents" class="_cls-dropdown _cls-hide">
                    <a href="{% url 'users:detail' user.username %}" class="_cls-nostyle _cls-dropdownItem"><div>
                    {% trans "View Profile" %}
                  </div></a>
                  {% if request.user.is_staff %}
                    {% if admin_link %}
                      <a href="{{ admin_link }}" class="_cls-nostyle _cls-dropdownItem">
                        <div>
                          {% trans "Admin" %}
                        </div>
                      </a>
                    {% else %}
                      <a href="{% url 'admin:index' %}" class="_cls-nostyle _cls-dropdownItem">
                        <div>
                          {% trans "Admin" %}
                        </div>
                      </a>
                    {% endif %}
                  {% endif %}
                  <a href="{% url 'account_logout' %}" class="_cls-nostyle _cls-dropdownItem"><div>
                    {% trans "Sign Out" %}
                  </div></a>
                </div>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>

    <div class="_cls-main">


      <div class="_cls-alerts">
        {% if payment_failed_organizations %}
          <div class="_cls-alert">
            <div class="alert-error">
              <span class="_cls-alertIcon"></span>
              <span class="_cls-middleAlign">
                A recent charge made to your credit card has failed.
                {% for organization in payment_failed_organizations %}
                  <p>
                    {% if organization.individual %}
                      <a href="{% url "users:payment" %}">Update your billing info.</a>
                    {% else %}
                      <a href="{% url "organizations:update" slug=organization.slug %}">
                        Update the billing info for {{ organization.name }}.
                      </a>
                    {% endif %}
                  </p>
                {% endfor %}
              </span>
            </div>
          </div>
        {% endif %}
        {% if request.user.email_failed %}
          <div class="_cls-alert">
            <div class="alert-error">
              <span class="_cls-alertIcon"></span>
              <span class="_cls-middleAlign">
                We received an error trying to email you, please
                <a href="{% url "account_email" %}">update your email.</a>
              </span>
            </div>
          </div>
        {% endif %}

        {% if messages %}
        {% for message in messages %}
          <div class="_cls-alert">
            <div class="{% if message.tags %}alert-{{ message.tags }}{% endif %}">
              <span class="_cls-alertIcon"></span>
              <span class="_cls-middleAlign">{{ message }}</span>
              <span
                class="_cls-close"
                onclick="event.target.parentElement.classList.add('_cls-dismiss')"
              >
                Dismiss
              </span>
            </div>
          </div>
        {% endfor %}
        {% endif %}
      </div>

      {% block content %}
        <div class="_cls-content">
          <h1>Welcome to MuckRock Accounts</h1>
        </div>
      {% endblock content %}

    </div> <!-- /container -->

    <div class="_cls-footer">
      <p>
        MuckRock Accounts let you log in and manage users, payments, and
        organizations for MuckRock and FOIAMachine.
      </p>
      <ul>
        <li>
          <a href="{{ settings.MUCKROCK_URL }}/privacy-policy/">
            Privacy Policy
          </a>
        </li>
        <li><a href="{{ settings.MUCKROCK_URL }}/tos/">Terms of Services</a></li>
    </div>

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      {% block javascript %}

        <!-- Your stuff: Third-party javascript libraries go here -->
        <script src="https://js.stripe.com/v3/"></script>

        {% block extra_javascript %}{% endblock extra_javascript %}

        <!-- place project specific Javascript in this file -->
        {% compress js %}
           <script src="{% static 'js/main.js' %}"></script> 
        {% endcompress %}

      {% endblock javascript %}
  </body>
</html>

