{% extends "core/email/base.html" %}

{% block body %}
  <p>
    Just a reminder, your username is
    {{ user.username }}.
  </p>
  <p>
    We ask that you please <a href="{{ verification_link }}">verify your email</a>.
  </p>
  <p>
    <strong>
      Have a technical support or customer service issue?
      <a href="mailto:info@presspass.it">Email us</a>.
    </strong>
  </p>
  <p><a href="https://www.twitter.com/newscatalyst/">Tweet at us</a>.</p>
  <p>
    Once again, welcome to the PressPass community. We're excited to see what you
    do with the tools we've built.
  </p>
  <p>Sincerely,<br/>The PressPass Team</p>
{% endblock %}
