{% extends "core/email/base.html" %}

{% block body %}
  <p>
    Just a reminder, your username is
    <a href="{% url "users:detail" username=user.username %}">{{ user.username }}</a>.
  </p>
  <p>
  We ask that you please <a href="{% url "account_confirm_email" key %}">verify your email</a>.
    You can also verify your email from your
    <a href="{% url "account_email" %}">account settings</a>.
  </p>
  <p>
    You should also <a href="{% url "account_set_password" %}">set your password</a>.
  <p>
    <strong>
      Have a technical support or customer service issue?
      <a href="mailto:info@presspass.it">Email us</a>.
    </strong>
  </p>
  <p><a href="https://www.twitter.com/newscatalyst/">Tweet at us</a>.</p>
  <p>
    Once again, welcome to the PressPass community. We're excited to see what you
    do with the tools we've built.
  </p>
  <p>Sincerely,<br/>The PressPass Team</p>
{% endblock %}

