{% extends "account/login.html" %}
{% load allauth django_vite %}
{% load i18n static %}

{% block head_title %}
  {% trans "Confirm Access" %}
{% endblock head_title %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/base_reauthenticate.ts" %}
{% endblock vite %}

{% block login_step %}
<section class="container auth-step">
  <header class="auth-stack">
    <div class="icon">
      <img src="{% static 'icons/security.svg' %}" />
    </div>
    <h1>{% trans "Confirm Password" %}</h1>
    <p>
      {% blocktrans %}
      For your security, please re-enter your password before continuing.
      {% endblocktrans %}
    </p>
  </header>
  <div class="main auth-stack">
  {% block reauthenticate_content %}{% endblock %}
  {% if reauthentication_alternatives %}
    {% element hr %}
    {% endelement %}
    {% element h2 %}
      {% translate "Alternative options" %}
    {% endelement %}
    {% element button_group %}
      {% for alt in reauthentication_alternatives %}
        {% element button href=alt.url tags="primary,outline" %}
          {{ alt.description }}
        {% endelement %}
      {% endfor %}
    {% endelement %}
  {% endif %}
  </div>
</section>
{% endblock %}
