{% extends "base.html" %}

{% load i18n static %}
{% load account %}

{% block head_title %}{% trans "Confirm Email Address" %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="card">
      {% if confirmation %}
      {% user_display confirmation.email_address.user as user_display %}
      <div class="icon">
        <img src="{% static 'icons/security.svg' %}" />
      </div>

      <h1>{% trans "Email confirmation" %}</h1>
      <p>
        {% blocktrans with confirmation.email_address.email as email %}
        Please confirm that <a href="mailto:{{ email }}">{{ email }}</a>
        is a valid email address for <a href="{{user_display.get_absolute_url}}">{{ user_display }}</a>.
        {% endblocktrans %}
      </p>
      <form class="confirm-email" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <button class="button primary" type="submit">{% trans 'Confirm' %}</button>
      </form>

      {% else %}

      {% url 'account_email' as email_url %}

      <p>{% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new
          email confirmation request</a>.{% endblocktrans %}</p>

      {% endif %}

    </div>
  </div>
{% endblock %}

{% block css %}
  <style>
    .container {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 4rem;
    }

    .card {
      width: 100%;
      box-sizing: border-box;
      text-align: center;
    }

    .card h1 {
      margin: 0;
      font-weight: 600;
      font-size: var(--font-xl);
    }

    .card p {
      max-width: 20rem;
      margin: 1em auto;
    }

    .card a {
      word-break: break-word;
    }

    form.confirm-email .button {
      margin: 0 auto;
      width: 100%;
      max-width: 24rem;
    }
  </style>
{% endblock %}