{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load handleintent %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block css %}
{{ block.super }}
<style>
  .flex {
    display: flex;
    gap: 0.5rem;
  }

  .flex.row {
    flex-direction: row;
  }

  .flex.wrap {
    flex-wrap: wrap;
  }

  .flex.space-between {
    justify-content: space-between;
  }

  .flex.space-between>* {
    flex: 0 1 auto;
  }

  .flex.align-center {
    align-items: center;
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: normal;
    color: var(--black, #0c1e27);
    font-feature-settings: "ss04" on;
  }

  .field input[type="text"],
  .field input[type="email"],
  .field input[type="password"] {
    display: flex;
    padding: 0.375rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;

    border-radius: 0.5rem;
    border: 1px solid var(--gray-3, #99a8b3);
    background: var(--white, #fff);
    box-shadow: 0px 2px 2px 0px #d8dee2 inset;

    color: var(--black, #0c1e27);
    font-feature-settings: "ss04" on;

    /* Label */
    font-family: var(--font-sans, "Source Sans Pro");
    font-size: var(--font-md, 1rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .inline-field {
    flex-direction: row;
    font-weight: 400;
  }

  .login-layout {
    flex: 1;
    gap: 0;
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: stretch;
  }

  .login-layout h2 {
    font-weight: 600;
    text-align: center;
    font-size: var(--font-lg, 1.25rem);
  }

  .login-layout > .form-wrapper,
  .login-layout > .service-gallery-wrapper {
    flex: 1 1 28rem;
    min-height: 0;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .service-gallery-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: linear-gradient(180deg, #1367D0 0%, #4294F0 100%);
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    max-width: 24rem;
    margin: 0 auto;
    padding: 3rem;
  }

  .login-form .instruction {
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    max-width: 25rem;
  }

  .login-form .fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .password-help {
    justify-content: space-between;
  }

  .password-help>* {
    flex: 0 1 8rem;
  }

  @media (max-width: 24.125em) {
    .password-help {
      justify-content: center;
    }
  }

  .login-form footer .button {
    flex-basis: 8rem;
  }

  .login-form footer>* {
    flex: 1 0 0;
  }

  .errorlist {
    color: var(--red-4, #5D275F);
    background: var(--red-1, #FAE8EE);
    list-style-type: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: 600;
  }

  .service-gallery {
    display: flex;
    max-width: 40rem;
    margin: 0 auto;
    padding: 3rem 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--blue-1, #EEF3F9);
  }

  .service-gallery h2 {
    margin: 0 auto;
    color: var(--blue-1, #EEF3F9);
    text-align: center;
    font-feature-settings: 'ss04' on, 'liga' off, 'clig' off;
    font-family: var(--font-sans, "Source Sans Pro");
    font-size: var(--font-lg, 1.25rem);
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    max-width: 33rem;
  }
</style>
{% endblock %}

{% block content %}
<div class="flex login-layout">
  {% block login_step %}
  <div class="form-wrapper">
    <form class="login-form" id="login_form" method="POST">
      {% sign_in_message %}

      <main class="fields">
        {% csrf_token %}
        {{form.non_field_errors}}
        <label class="login text field">
          {% trans 'Username or email' %}
          {{form.login}}
          {{form.login.errors}}
        </label>
        <div class="field">
          <label class="password password field">
            {% trans 'Password' %}
            {{form.password}}
            {{form.password.errors}}
          </label>
          <div class="flex row wrap align-center password-help">
            <label class="remember checkbox field inline-field">
              {{form.remember}}
              {% trans 'Remember me' %}
            </label>
            <a class="button primary small ghost" href="{% url 'account_reset_password' %}">
              {% blocktrans %}
              Forgot your password?
              {% endblocktrans %}
            </a>
          </div>
        </div>
      </main>

      <footer class="flex row wrap">
        <button class="button primary">{% trans 'Sign in' %}</button>
        <a class="button primary ghost" href="{% url 'select_plan' %}">
          {% blocktrans %}Create an account{% endblocktrans %}
        </a>
      </footer>
    </form>
  </div>
  {% endblock %}
  {% block login_promo %}
  <div class="service-gallery-wrapper">
    <div class="service-gallery">
      <h2>
        {% blocktrans %}
        Your MuckRock account is a passport to essential services that support research, reporting, collaboration and
        civic engagement. Your MuckRock account gives you access to tools and resources from MuckRock and our trusted
        partners.
        {% endblocktrans %}
      </h2>
      {% services_list %}
    </div>
  </div>
  {% endblock %}
</div>
{% endblock %}