{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load handleintent %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}
  {% trans "Sign in for" as intent_header %}
  {% trans "You’ll also be able to log into" as intent_text %}
  {% handleintent intent_header intent_text %}

  <!-- Start form -->
  <form id="login_form" method="POST">
    {% crispy form form.helper %}
    <div class="_cls-actionBig">
      <button>{% trans 'Log in' %}</button>
    </div>
    <div class="_cls-center">
      <div class="_cls-minorInfo">
        {% blocktrans %}
          Forgot your password?
        {% endblocktrans %}
        <a href="{% url 'account_reset_password' %}">
          <span class="_cls-action">
            {% blocktrans %}Reset&nbsp;It{% endblocktrans %}
          </span>
        </a>
      </div>
      <div class="_cls-minorInfo">
        {% blocktrans %}
          Don’t have an account?
        {% endblocktrans %}
        <a href="{% url 'select_plan' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
          <span class="_cls-action">
            {% blocktrans %}Sign&nbsp;Up{% endblocktrans %}
          </span>
        </a>
      </div>
    </div>
  </form>
{% endblock %}

