{% extends "base.html" %}

{% load i18n django_vite %}
{% load account socialaccount %}
{% load handleintent pass_query %}
{% load icon %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/login.ts" %}
{% endblock vite %}

{% block content %}
<div class="flex login-layout">
  {% block login_step %}
  <div class="wrapper" id="form">
    <form class="login-form" id="login_form" method="POST">
      {% sign_in_message %}

      <div class="fields">
        {% csrf_token %}
        {{form.non_field_errors}}
        <label class="login text field">
          {% trans 'Username or email' %}
          {{form.login}}
          {{form.login.errors}}
        </label>
        <div class="field">
          <label class="password password field">
            {% trans 'Password' %}
            {{form.password}}
            {{form.password.errors}}
          </label>
          <div class="flex row wrap align-center password-help">
            <label class="remember checkbox field inline-field">
              {{form.remember}}
              {% trans 'Remember me' %}
            </label>
            <a class="button primary small ghost" href="{% url 'account_reset_password' %}">
              {% blocktrans %}
              Forgot your password?
              {% endblocktrans %}
            </a>
          </div>
        </div>
      </div>

      <footer class="flex row wrap">
        <button class="button primary">{% trans 'Sign in' %}</button>
        <a class="button primary ghost" href="{% url 'account_signup' %}{% pass_query %}">
          {% blocktrans %}Create an account{% endblocktrans %}
        </a>
      </footer>
    </form>
    {% if settings.ENABLE_SOCIAL_LOGINS %}
      <div class="social-login">
        {% get_providers as socialaccount_providers %}
        {% for provider in socialaccount_providers %}
        <form method="POST" action="{% provider_login_url provider.id %}">
          {% csrf_token %}
          <button class="ghost button" type="submit">
            <span class="social-icon">
              {% if provider.name == "Google" %}
              {% icon "google" %}
              {% elif provider.name == "GitHub" %}
              {% icon "github" %}
              {% endif %}
            </span>
            <span class="text">Sign in with {{ provider.name }}</span>
          </button>
        </form>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% endblock %}
  {% block login_promo %}
  <div class="wrapper" id="service-gallery">
    <div class="service-gallery">
      <header>
        <h2>
          {% blocktrans %}
          Your MuckRock account is a passport to essential services that support research, reporting, collaboration and
          civic engagement.
          {% endblocktrans %}
        </h2>
        <h2 class="secondary-heading">
          {% blocktrans %}
          Your MuckRock account gives you access to tools and resources from MuckRock and our trusted
          partners:
          {% endblocktrans %}
        </h2>
      </header>
      {% services_list %}
    </div>
  </div>
  {% endblock %}
</div>
{% endblock %}
