{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
  <h1>{% trans "Change Password" %}</h1>

  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% crispy form form.helper %}
    <div class="_cls-actionBig">
      <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </div>
  </form>

  <p><a href="{% url 'users:detail' user.username %}" class="_cls-altAction">
    {% trans 'Go back' %}
  </a></p>
{% endblock %}

