{% extends "account/base_reauthenticate.html" %}
{% load allauth django_vite %}
{% load i18n %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/reauthenticate.ts" %}
{% endblock vite %}

{% block reauthenticate_content %}
  <form class="m-0 auth-stack" method="post" action="{% url 'account_reauthenticate' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <label class="field">
      {% trans "Password" %}
      <input type="password" name="password" />
      {{ form.password.errors }}
    </label>
    {{ redirect_field }}
    <button type="submit" class="button primary">{% trans "Confirm" %}</button>
  </form>
{% endblock %}
