{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
<h1>{% trans "Sign Up Here" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="form-group">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element" class="form-control"></div>
  </div>
  <!-- Used to display Element errors. -->
  <div id="card-errors" role="alert"></div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}

{% block extra_javascript %}
  <script>
    var stripe = Stripe('{{ settings.STRIPE_PUB_KEY }}');
    var elements = stripe.elements();

    function stripeTokenHandler(token) {
      // Insert the token ID into the form so it gets submitted to the server
      var hiddenInput = $("#id_stripe_token");
      hiddenInput.val(token.id);
      // Submit the form
      $("#signup_form").submit();
    }

    $('document').ready(function(){
      var style = {
        base: {
          // Add your base input styles here. For example:
          fontSize: '1rem',
          color: "#32325d",
        }
      };
      var card = elements.create('card', {style: style});
      card.mount('#card-element');
      card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
          displayError.textContent = event.error.message;
        } else {
          displayError.textContent = '';
        }
      });
      // We don't want the browser to fill this in with old values
      $("#id_stripe_token").val("");
      // Create a token or display an error when the form is submitted.
      var form = document.getElementById('signup_form');
      form.addEventListener('submit', function(event) {
        var freePlan = $("#id_plan option:selected").text() === "Free";
        if (!freePlan) {
          event.preventDefault();

          stripe.createToken(card).then(function(result) {
            if (result.error) {
              // Inform the customer that there was an error.
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = result.error.message;
            } else {
              // Send the token to your server.
              stripeTokenHandler(result.token);
            }
          });
        }
      });
    });
  </script>
{% endblock %}
