{% extends "account/base.html" %}

{% load i18n static %}
{% load crispy_forms_tags %}
{% load startswith %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}

<div class="_cls-content">
  <div class="_cls-intent">
    <div class="_cls-intentLogo">
      <img src="{% static 'assets/documentcloud.svg' %}">
    </div>
    <div class="_cls-intentBody">
      <div class="_cls-smallHeader">Create an account for</div>
      <div class="_cls-intentTitle">DocumentCloud</div>
    </div>
  </div>
  <p class="_cls-info">
    <span class="_cls-rightBump">You’ll also be able to sign into MuckRock, FOIA Machine, and Quackbot.</span><span class="_cls-action">Learn&nbsp;more</span>
  </p>
  <div class="_cls-infoLogos">
    <div class="_cls-infoLogo">
      <img src="{% static 'assets/muckrock.svg' %}">
    </div>
    <div class="_cls-infoLogo">
      <img src="{% static 'assets/foiamachine.svg' %}">
    </div>
    <div class="_cls-infoLogo">
      <img src="{% static 'assets/quackbot.svg' %}">
    </div>
  </div>

  <!-- Start form -->
  <form id="signup_form" method="post" action="/accounts/signup/">

    <input type="hidden" name="plan" value="{{ request.GET.plan|default:"0" }}">

    {% crispy form form.helper %}

    {% if request.GET.plan == "2" or request.GET.plan == "3" %}
      <div class="_cls-field">
        <input class="_cls-organizationInput" placeholder="Organization name">
      </div>
    {% endif %}

    {% if request.GET.plan and request.GET.plan != "0" %}
      <div class="form-group">
        <label for="card-element">
          Credit or debit card
        </label>
        <div id="card-element" class="form-control"></div>
      </div>
    {% endif %}



<!-- 
    <div class="_cls-smallHeader">Billing information</div>

    <div class="_cls-field">
      <input placeholder="Card number (stripe stuff)">
    </div> -->

    <div class="_cls-actionBig">
      <button>Sign Up</button>
    </div>
    <div class="_cls-center">
      <div class="_cls-minorInfo">Already have an account?</div>
      <div class="_cls-action">Log&nbsp;In</div>
    </div>
  </form>
</div>
<div class="_cls-footer">
  <div class="_cls-doublepane">
    <div class="_cls-leftpane">
      <p class="_cls-info">MuckRock is a non-profit collaborative news site that gives you the tools to keep our government transparent and accountable.</p>
    </div>
    <div class="_cls-rightpane">
      <h3 class="_cls-services">Services</h3>
      <ul>
        <li>MuckRock</li>
        <li>DocumentCloud</li>
        <li>FOIA Machine</li>
        <li>Quackbot</li>
      </ul>
    </div>
  </div>
</div>



{% comment %}
<h1>{% trans "Sign Up Here" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="form-group">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element" class="form-control"></div>
  </div>
  <!-- Used to display Element errors. -->
  <div id="card-errors" role="alert"></div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
{% endcomment %}

{% endblock %}

{% block extra_javascript %}
  <script>
    var stripe = Stripe('{{ settings.STRIPE_PUB_KEY }}');
    var elements = stripe.elements();

    function stripeTokenHandler(token) {
      // Insert the token ID into the form so it gets submitted to the server
      var hiddenInput = documnet.getElementById("id_stripe_token");
      hiddenInput.val(token.id);
      // Submit the form
      document.getElementById("signup_form").submit();
    }

    document.addEventListener("DOMContentLoaded", function() {
      var style = {
        base: {
          // Add your base input styles here. For example:
          fontSize: '1rem',
          color: "#32325d",
        }
      };
      var card = elements.create('card', {style: style});
      card.mount('#card-element');
      card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
          displayError.textContent = event.error.message;
        } else {
          displayError.textContent = '';
        }
      });
      // We don't want the browser to fill this in with old values
      document.getElementById("id_stripe_token").value = "";
      // Create a token or display an error when the form is submitted.
      var form = document.getElementById('signup_form');
      form.addEventListener('submit', function(event) {
        var freePlan = document.querySelector('#id_plan option:selected').textContent === 'Free';
        if (!freePlan) {
          event.preventDefault();

          stripe.createToken(card).then(function(result) {
            if (result.error) {
              // Inform the customer that there was an error.
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = result.error.message;
            } else {
              // Send the token to your server.
              stripeTokenHandler(result.token);
            }
          });
        }
      });
    });
  </script>
{% endblock %}
