{# required css: css/team_list_item.css #}
{% load static i18n %}
{% with count=organization.memberships.count avatar=organization.avatar %}
<div class="team">
    {% if avatar %}
    <a class="org-avatar" href="{% url "organizations:detail" slug=organization.slug %}">
      <img src="{{ avatar.url }}" />
    </a>
    {% else %}
    <a class="org-avatar" href="{% url "organizations:detail" slug=organization.slug %}">
      {% include 'core/component/people.svg' %}
    </a>
    {% endif %}
    <div class="info">
        <h4>
            <a href="{% url "organizations:detail" slug=organization.slug %}">{{ organization.name }}</a>
        </h4>
        <div class="status">
            {% if organization.private %}
            <div class="badge">
                <span class="icon">{% include "core/icons/lock.svg" %}</span>
                {% trans "Private" %}
            </div>
            {% endif %}
            {% if organization.verified_journalist %}
            <div class="badge green">
                <span class="icon">{% include "core/icons/verified.svg" %}</span>
                {% trans "Verified" %}
            </div>
            {% else %}
            <div class="badge">
                <span class="icon">{% include "core/icons/unverified.svg" %}</span>
                {% trans "Unverified" %}
            </div>
            <span class="membership">{{ count }} member{{ count|pluralize }}</span>
            {% endif %}
        </div>
    </div>
</div>
{% endwith %}
