{% load i18n icon django_vite %}

{% block vite %}
{% vite_asset "frontend/views/receipts_card.ts" %}
{% endblock vite %}

<main class="receipts-card">
  <table>
    <thead>
      <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Amount" %}</th>
        <th>{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in payments %}
        <tr>
          <td>
            <time datetime="{{ payment.created_at|date:"c" }}">{{ payment.created_at|date:"F j, Y" }}</time>
          </td>
          <td class="description">{{ payment.description }}</td>
          <td class="amount">${{ payment.amount_dollars|floatformat:2 }}</td>
          <td>
            <div class="actions">
              {% with pdf=payment.pdf_url pk=payment.pk %}
                <a
                  href="{% if pdf %}{{ pdf }}{% else %}{% url "organizations:charge" pk %}{% endif %}"
                  aria-label="{% trans "View receipt" %}"
                  class="btn ghost primary small"
                  target="_blank"
                >
                  {% icon "eye" %}
                </a>
                <a
                  href="{% if pdf %}{{ pdf }}{% else %}{% url "organizations:charge-pdf" pk %}{% endif %}"
                  aria-label="{% trans "Download PDF" %}"
                  class="btn ghost primary small"
                  download
                >
                  {% icon "download" %}
                </a>
              {% endwith %}
            </div>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" class="empty empty--no-border">
            {% trans "No payments to show." %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
    {% if page_obj %}
      <tfoot>
        <tr>
          <td colspan="4">
            <nav>
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn primary ghost">
                  {% trans "Previous" %}
                </a>
              {% else %}
                <span class="btn primary ghost disabled">
                  {% trans "Previous" %}
                </span>
              {% endif %}
              <span>
                {% blocktrans with page=page_obj.number pages=page_obj.paginator.num_pages %}
                  Page {{ page }} of {{ pages }}
                {% endblocktrans %}
              </span>
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn primary ghost">
                  {% trans "Next" %}
                </a>
              {% else %}
                <span class="btn primary ghost disabled">
                  {% trans "Next" %}
                </span>
              {% endif %}
            </nav>
          </td>
        </tr>
      </tfoot>
    {% endif %}
  </table>
</main>
