{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{{ user.name }} | {% trans 'Edit profile' %}{% endblock %}

{% block content %}
  <div class="_cls-largeContent">
    <h2>{{ user.name }}</h2>
    <h3>{{ user.username }}</h3>
    <p>{% blocktrans %}Modify your information and preferences.{% endblocktrans %}</p>

    <p><a class="_cls-nostyle" href="{% url "account_email" %}"><div class="_cls-action">{% trans 'Edit email' %}</div></a></p>
    <p><a class="_cls-nostyle" href="{% url "account_change_password" %}"><div class="_cls-action">{% trans 'Edit password' %}</div></a></p>
    <p><a class="_cls-nostyle" href="{% url "two_factor:profile" %}"><div class="_cls-action">{% trans 'Edit Two Factor Settings' %}</div></a></p>
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url 'users:update' %}">
      {% csrf_token %}
      {% crispy form form.helper %}
      <div class="control-group" style="margin-top: 2em;">
        <div class="_cls-actionSmall">
          <button type="submit" class="btn">{% trans 'Update' %}</button>
          <a href="{% url 'users:detail' user.username %}" class="_cls-altAction">
            {% trans 'Cancel' %}
          </a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
