{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load avatar %}
{% load i18n %}

{% block title %}{% trans 'User' %}: {{ user.username }}{% endblock %}

{% block content %}

  <div class="_cls-largeContent">
    <div class="_cls-profileColumns">
      <div class="_cls-profileColumn">
        <div class="_cls-profileSection">
          <div class="_cls-profileInfo">
            <div class="_cls-profileAvatar">
              {% avatar user 37 %}
            </div>
            <div class="_cls-profileNames">
              <div class="_cls-profileName">
                {{ user.name }}
              </div>
              <div class="_cls-info">
                {{ user.username }}
              </div>
            </div>
          </div>
          <a href="{% url "users:update" %}"><div class="_cls-action">{% trans 'Edit profile' %}</div></a>
        </div>
        <div class="_cls-organizationSection">
          <div class="_cls-mediumHeader">{% trans 'Organizations' %}</div>
          <div>
            <a class="_cls-action" href="{% url "organizations:list" %}">
              {% trans "View all organizations" %}
            </a>
          </div>
          {% if other_orgs.count > 0 %}
            <ul class="_cls-profList">
            {% for org in other_orgs.all %}
              <a href="{% url "organizations:detail" org.slug %}">
                <li>
                  <div class="_cls-inlineAvatar">
                    {% avatar org 15 %}
                  </div>
                  {{ org.name }}
                </li>
              </a>
            {% endfor %}
            </ul>
          {% else %}
            <div class="_cls-info">
              <p>{% trans 'You are not a member of any organization.' %}</p>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="_cls-planColumn">
        <div class="_cls-currentPlan">
          <div class="_cls-planInfo">{% trans 'Current plan: ' %}<b>{{ user.individual_organization.plan }}</b></div>
          {% if user.individual_organization.plan != user.individual_organization.next_plan %}
            <div class="_cls-pendingPlan">
              {% blocktrans with update_on=user.individual_organization.update_on|date:"m/d/Y" %}
                Pending Plan (on {{ update_on }}):
              {% endblocktrans %}
              <b>{{ user.individual_organization.next_plan.name }}</b>
            </div>
          {% endif %}
          {% if user.individual_organization.plan.free %}
            <div class="_cls-actionSmall"><a href="{% url "users:payment" %}"><button>{% trans 'Upgrade' %}</button></a></div>
          {% else %}
            <p><a class="_cls-nostyle" href="{% url "users:payment" %}"><div class="_cls-action">{% trans 'Edit plans and payment' %}</div></a></p>
          {% endif %}
          <p><a class="_cls-nostyle" href="{% url "users:receipts" %}"><div class="_cls-action">{% trans 'View receipts' %}</div></a></p>
          {% if request.user.is_staff and request.user != user %}
            <form action="{% url "hijack:login_with_username" user.username %}" method="post" class="_cls-actionSmall">
              {% csrf_token %}
              <button type="submit">Hijack {{ user.username }}</button>
            </form>
          {% endif %}
        </div>
        {# include "core/lib/services.html" #}
      </div>
    </div>
  </div>
{% endblock content %}
