{% extends "layouts/sidebar_layout.html" %}
{% load i18n static django_vite %}
{% block title %}{% trans 'Edit your profile' %}{% endblock %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/user_detail.ts" %}
{% endblock vite %}

{% block header %}
  <header>
    <h1>{{user.get_full_name}}</h1>
    <span class="arrow">{% include "core/icons/chevron-right.svg" %}</span>
    <h2>{% trans "Edit your profile" %}</h2>
  </header>
{% endblock %}

{% block sidebar %}
<a class="ghost btn small primary" href="{% url "users:detail" username=user.username %}">
  {% include "core/icons/arrow-left.svg" %}
  {% trans "Back to your account" %}
</a>
{% endblock %}

{% block main %}
  <form class="user-profile-form card" method="post" enctype="multipart/form-data" action="{% url 'users:update' username=user.username %}">
    {% csrf_token %}
    {% for field in form %}
      <div class="field{% if field.errors %} has-errors{% endif %}">
        <label for="{{field.id_for_label}}" class="field-label">
          {{ field.label }}
          {% if field.field.required %}
            <span class="field-required">Required</span>
          {% endif %}
          {% if field.name == 'username' %}
          <span class="username-warning">
            {% if user.can_change_username %}
            {% blocktrans %}
            You may only change your username once.
            <a target="_blank" rel="noopener noreferrer" href="https://help.muckrock.com/Change-your-email-address-or-username-19ef889269638171afdcf13cd47608ba">Learn more</a>
            {% endblocktrans %}
            {% else %}
            {% blocktrans %}
            You have already changed your username once.
            <a target="_blank" rel="noopener noreferrer" href="https://help.muckrock.com/Change-your-email-address-or-username-19ef889269638171afdcf13cd47608ba">Learn more</a>
            {% endblocktrans %}
            {% endif %}
          </span>
          {% endif %}
        </label>
        {{ field }}
        {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
        {% if field.help_text %}<small class="help">{{ field.help_text }}</small>{% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn primary">{% trans "Save Changes" %}</button>
  </form>
{% endblock %}
