{% extends "core/email/base.html" %}
{% load i18n %}
{% block body %}
  {% blocktrans with name=user.name %}
    <p>Hi {{name}},</p>
    <p>
      We wanted to let you know that the email associated with your MuckRock account
      has changed from {{from_email_address}} to {{to_email_address}}.
    </p>
    <p>
      If you did not make this change or something seems amiss, please
      <a href="mailto:info@muckrock.com">contact us</a>.
    </p>
    <p>Sincerely,<br/>The MuckRock Team</p>
  {% endblocktrans %}
{% endblock %}
