{% extends "core/email/base.html" %}

{% block body %}
  <p>
    Just a reminder, your username is
    <a href="{% url "users:detail" username=user.username %}">{{ user.username }}</a>.
  </p>
  <p>
    We ask that you please <a href="{{ verification_link }}">verify your email</a>.
    You can also verify your email from your
    <a href="{% url "account_email" %}">account settings</a>.
  </p>
  <p>
    <strong>
      Have a technical support or customer service issue?
      <a href="mailto:info@muckrock.com">Email us</a> or
      <a href="https://www.twitter.com/muckrock/">Tweet at us</a>.
      You may also use the <a href="https://www.muckrock.com/faq/">MuckRock FAQ</a>.
    </strong>
  </p>
  <p>
    Don't forget, you also have access to DocumentCloud, our tool to help
    people share, analyze, annotate, and ultimately publish source documents to
    the Open web. To learn more about the platform, please check out
    <a href="https://www.documentcloud.org/faq/">its FAQ</a>.
  </p>
  <p>
    Once again, welcome to the MuckRock community. We're excited to see what you
    do with the tools we've built.
  </p>
  <p>Sincerely,<br/>The MuckRock Team</p>
{% endblock %}
