{% extends "base.html" %}
{% load static i18n %}

{% block title %}Knight Election Hub{% endblock %}

{% block sharing %}
<!-- OpenGraph Meta Tags -->
<meta property="og:title" content="Knight Election Hub">
<meta property="og:description" content="The Knight Election Hub is a collection of products and services for newsrooms covering the 2024 U.S. election.">
<meta property="og:image" content="{% static 'icons/erh.svg' %}">
<meta property="og:url" content="{{request.build_absolute_uri}}">
<meta property="og:type" content="website">

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Knight Election Hub">
<meta name="twitter:description" content="The Knight Election Hub is a collection of products and services for newsrooms covering the 2024 U.S. election.">
<meta name="twitter:image" content="{% static 'icons/erh.svg' %}">
<meta name="twitter:url" content="{{request.build_absolute_uri}}">
{% endblock %}

{% block content %}
{% include "core/component/newsletter.html" with user=request.user %}
<div class="_cls-erh--container _cls-erh--landing">
  <header class="_cls-erh--header">
    {% if search.query or search.category or search.provider %}
    <div class="_cls-erh--header-side">
      <a href="{% url 'erh_landing' %}" class="_cls-button _cls-button--large _cls-button--outline">
        &larr; Back to Catalog
      </a>
    </div>
    {% else %}
    <div class="_cls-erh--header-side"></div>
    {% endif %}
    <a href="{% url 'erh_landing' %}" class="_cls-nostyle _cls-erh--home">
      {% include "core/component/erh/logo.html" %}
    </a>
    <div class="_cls-erh--header-side">
      <a href="{% url 'erh_about' %}" class="_cls-button _cls-button--large _cls-button--outline">
        About the Hub
      </a>
    </div>
  </header>
  <header class="_cls-erh--header">
    {% include "core/component/alerts.html" %}
  </header>
  <header class="_cls-erh--header _cls-erh--catalog-search">
    {% include 'core/component/erh/catalogSearch.html' %}
  </header>
  {% if search.query or search.category or search.provider %}
  <h2 class="_cls-erh--header _cls-erh--searchTerm">
  {% if search.query %}
  <span>&ldquo;{{search.query}}&rdquo;</span>
  {% elif search.category %}
  <span>{{search.category}}</span>
  {% elif search.provider %}
  <span>{{search.provider_name}}</span>
  {% endif %}
  </h2>
  <div class="_cls-spacer"></div>
  {% endif %}
  {% if search.query or search.category or search.provider %}
  <div class="_cls-erh--search">
    <ul class="_cls-erh--resultGrid">
      {% for resource in resources %}
      <a class="_cls-erh--resourceLink _cls-nostyle _cls-erh--result" href="{% url 'erh_resource' id=resource.id %}">
        {% include "core/component/resource.html" %}
      </a>
      {% empty %}
      <div class="_cls-erh--empty">
        <p>No resources found matching your search terms</p>
        <p>Try another search, or <a href="{% url 'erh_landing' %}">return to the catalog</a></p>
      </div>
      {% endfor %}
    </ul>
  </div>
  {% else %}
  <div class="_cls-erh--catalog" id="_id-erh-catalog">
    <ul class="_cls-erh--toc">
      {% for category in categories %}
      <li><a href="#{{category.name|slugify}}">{{category.name}}</a></li>
      {% endfor %}
    </ul>
    {% for category in categories %}
      {% include "core/component/category.html" %}
    {% endfor %}
  </div>
  {% endif %}
  <div class="_cls-erh--backdrop"><img src="{% static 'icons/erh.svg' %}" /></div>
</div>
{% endblock %}
