{% extends "base.html" %}
{% load static i18n %}

{% block title %}Knight Election Hub{% endblock %}

{% block content %}
<div class="_cls-erh--container _cls-erh--resourcePage">
  <header class="_cls-erh--header">
    <a href="{% url 'erh_landing' %}" class="_cls-nostyle">
      {% include "core/component/erh/logo.html" %}
    </a>
    <a href="{% url 'erh_landing' %}" class="_cls-button _cls-button--large _cls-button--outline">
      &larr; Back to Catalog
    </a>
  </header>
  <main class="_cls-erh--resourceBody">
    <header class="_cls-erh--resourceHeader">
      <img class="_cls-erh--resourceLogo" src="{{resource.logo.0.thumbnails.large.url}}" />
      <div class="_cls-erh--resourceDetail">
        <h1 class="_cls-erh--resourceName">{{resource.name}}</h3>
        <span class="_cls-erh--resourceProvider">{{resource.provider.0.name}}</span>
      </div>
      <div class="_cls-erh--resourceActions">
        <a class="_cls-button _cls-button--xlarge" id="accessResource" href="{% firstof resource.accessUrl resource.homepageUrl %}" target="_blank">Access</a>
      </div>
    </header>
    <div class="_cls-erh--resourceDescription">
      {% if resource.longDescription %}
      {{resource.longDescription}}
      {% else %}
      <p>{{resource.shortDescription}}</p>
      {% endif %}
    </div>
  </main>
</div>
{% endblock %}