{% extends "base.html" %}
{% load markdown static i18n %}

{% block title %}Knight Election Hub{% endblock %}

{% block content %}
<div class="_cls-erh--container _cls-erh--resourcePage">
  <header class="_cls-erh--header">
    <a href="{% url 'erh_landing' %}" class="_cls-button _cls-button--large _cls-button--outline">
      &larr; Back to Catalog
    </a>
    <a href="{% url 'erh_landing' %}" class="_cls-nostyle _cls-erh--home">
      {% include "core/component/erh/logo.html" %}
    </a>
    <a href="{% url 'erh_about' %}" class="_cls-button _cls-button--large _cls-button--outline">
      About the Hub
    </a>
  </header>
  <main class="_cls-erh--resourceBody">
    <header class="_cls-erh--resourceHeader">
      <img class="_cls-erh--resourceLogo" src="{{resource.logo.0.thumbnails.large.url}}" />
      <div class="_cls-erh--resourceDetail">
        <h1 class="_cls-erh--resourceName">{{resource.name}}</h3>
        <a href="{% url 'erh_landing' %}?provider={{resource.provider_id.0}}" class="_cls-erh--resourceProvider">{{resource.provider_name.0}}</a>
      </div>
      <div class="_cls-erh--resourceActions">
        {% if resource.cost == "Free" or can_access_hub %}
        <a class="_cls-button _cls-button--xlarge plausible-event-name=KEH+Resource+Access" id="accessResource" href="{% firstof resource.accessUrl resource.homepageUrl %}" target="_blank">{{access_text}}</a>
        {% else %}
          <div>
            {% if request.user.is_authenticated %}
            {% if group_orgs.exists %}
            {% url 'users:detail' request.user.username as user_account_url %}
            {% url 'organizations:detail' group_orgs.first.slug as organization_account_url %}
            <a href="https://airtable.com/app93Yt5cwdVWTnqn/pagGarPPmVmWpU6d5/form?prefill_MR+User+Email={{request.user.email | iriencode}}&prefill_MR+User+Name={{request.user.safe_name|iriencode}}&prefill_MR+User+Account+URL={{ user_account_url | urlencode }}&prefill_MR+Organization+Name={{group_orgs.first.name}}&prefill_MR+Organization+Account+URL={{ organization_account_url | urlencode }}"
              class="_cls-button _cls-button--xlarge">Apply to join the hub</a>
            <p>It looks like you’re currently a member of <a
              href="{{organization_account_url}}">{{group_orgs.first.name}}</a>. You will need to apply for access before <a
              href="{{organization_account_url}}">{{group_orgs.first.name}}</a> can access the Knight Election Hub.</p>
            {% else %}
            <p class=".cls-erh--flex100"><a class="_cls-button" href="{% url 'organizations:list' %}">Find your
                organization</a> <span class="_cls-or">or</span> <a class="_cls-button"
                href="{% url 'organizations:create' %}">create an organization</a></p>
            <p>You need to belong to an eligible organization to access the Knight Election Hub. </p>
            {% endif %}
            {% else %}
            <a title="{% trans 'Sign Up' %}" class="_cls-button _cls-button--xlarge"
              href="{% url 'account_signup' %}?intent={% firstof request.GET.intent 'squarelet' %}">
              {% trans "Sign Up" %}
            </a>
            <a title="{% trans 'Sign In' %}" class="_cls-button _cls-button--xlarge" href="{% url 'account_login' %}">
              {% trans "Sign In" %}
            </a>
            <p>You will need to create a MuckRock account to access the Knight Election Hub</p>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </header>
    {% if resource.screenshots %}
    {% if resource.screenshots|length > 1 %}
      <div class="_cls-erh--resourceScreenshots">
        {% for screenshot in resource.screenshots %}
        <img src="{{screenshot.thumbnails.large.url}}" class="_cls-erh--resourceScreenshot" />
        {% endfor %}
      </div>
      {% else %}
      <img src="{{resource.screenshots.0.thumbnails.large.url}}" class="_cls-erh--resourceScreenshot _cls-erh--resourceScreenshot--single" />
    {% endif %}
    {% endif %}
    <div class="_cls-erh--resourceDescription">
    {% if resource.longDescription %}
    {{ resource.longDescription|markdown }}
    {% elif resource.shortDescription %}
    <p>{{resource.shortDescription}}</p>
    {% else %}
    {% endif %}
    </div>
    <footer>
      <ul class="_cls-erh--resourceCategories">
        {% for category in resource.category %}
          <li>
            {% if settings.ERH_SEARCH_ENABLED %}
              <a class="_cls-button _cls-button--small _cls-button--outline" href="{% url 'erh_landing' %}?category={{category|urlencode}}">{{category}}</a>
            {% else %}
              <span class="_cls-button _cls-button--small _cls-button--outline">
                {{category}}
              </span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </footer>
  </main>
  <div class="_cls-erh--backdrop"><img src="{% static 'icons/erh.svg' %}" /></div>
</div>
{% endblock %}
