{% extends "base.html" %}
{% load static i18n %}

{% block title %}About the Knight Election Hub{% endblock %}

{% block sharing %}
<!-- OpenGraph Meta Tags -->
<meta property="og:title" content="Knight Election Hub">
<meta property="og:description" content="The Knight Election Hub is a collection of products and services for newsrooms covering the 2024 U.S. election.">
<meta property="og:image" content="{% static 'icons/erh.svg' %}">
<meta property="og:url" content="{{request.build_absolute_uri}}">
<meta property="og:type" content="website">

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Knight Election Hub">
<meta name="twitter:description" content="The Knight Election Hub is a collection of products and services for newsrooms covering the 2024 U.S. election.">
<meta name="twitter:image" content="{% static 'icons/erh.svg' %}">
<meta name="twitter:url" content="{{request.build_absolute_uri}}">
{% endblock %}

{% block content %}
<div class="_cls-erh--container _cls-erh--landing">
  <header class="_cls-erh--header">
    <div class="_cls-erh--header-side">
      <a href="{% url 'erh_landing' %}" class="_cls-button _cls-button--large _cls-button--outline">
        &larr; Back to Catalog
      </a>
    </div>
    <a href="{% url 'erh_landing' %}" class="_cls-nostyle _cls-erh--home">
      {% include "core/component/erh/logo.html" %}
    </a>
    <div class="_cls-erh--header-side"></div>
  </header>
  <div class="_cls-body _cls-erh--description">
    {% include 'core/component/erh/logged-out-copy.html' %}
  </div>
  <div class="_cls-erh--backdrop"><img src="{% static 'icons/erh.svg' %}" /></div>
</div>
{% endblock %}
