{% extends "base.html" %}
{% load static i18n %}

{% block title %}Knight Election Hub{% endblock %}

{% block css %}
{{ block.super }}
<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
<style type="text/css">
  /* MAILCHIMP EMBED STYLES */
  #mc_embed_signup {
    clear: left;
  }

  #mc_embed_signup .button {
    font-weight: 700;
    font-weight: 600;
    font-family: var(--font-sans, "Source Sans 3", "Source Sans Pro");
    border-radius: 8px;
    border: 1px solid var(--blue-4, #1367D0);
    background: var(--blue-3, #4294F0);
    box-shadow: 0px 2px 0px 0px var(--blue-4, #1367D0);
  }

  #mc_embed_signup .button:hover {
    background: var(--blue-3, #4294F0);
    filter: brightness(1.25);
  }

  #mc_embed_signup .mc-field-group {
    width: auto;
    padding-bottom: 0;
    flex: 1 1 auto;
  }

  #mc_embed_signup_scroll {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .mc-name-field-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    width: 100%;
  }

  #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    background-color: transparent;
  }
</style>
{% endblock %}

{% block content %}
<div class="_cls-erh--container _cls-erh--landing">
  <a href="{% url 'erh_landing' %}" class="_cls-nostyle">
    {% include 'core/component/erh/logo.html' %}
  </a>
  {% if can_access_hub and settings.ERH_CATALOG_ENABLED %}
  {% if settings.ERH_SEARCH_ENABLED %}
  <header class="_cls-erh--header">
    {% include 'core/component/erh/catalogSearch.html' %}
  </header>
  {% else %}
  <div class="_cls-spacer"></div>
  {% endif %}
  {% if settings.ERH_SEARCH_ENABLED and search.query or search.category or search.provider %}
  <div class="_cls-erh--search">
    <ul class="_cls-erh--resultGrid">
      {% for resource in resources %}
      <a class="_cls-erh--resourceLink _cls-nostyle" href="{% url 'erh_resource' id=resource.id %}">
        <li class="_cls-erh--resource _cls-erh--result" tabindex="0">
          <img class="_cls-erh--resourceLogo" src="{{resource.logo.0.thumbnails.large.url}}" />
          <div class="_cls-erh--resourceDetail">
            <h3 class="_cls-erh--resourceName">{{resource.name}}</h3>
            {% if resource.shortDescription %}
            <p class="_cls-erh--resourceDescription">{{resource.shortDescription}}</p>
            {% else %}
            <div class="_cls-erh--resourceDescription"></div>
            {% endif %}
            <span class="_cls-erh--resourceProvider">{{resource.provider.0.name}}</span>
          </div>
        </li>
      </a>
      {% empty %}
      <div class="_cls-erh--empty">
        <p>No resources found matching your search terms</p>
        <p>Try another search, or <a href="{% url 'erh_landing' %}">return to the catalog</a></p>
      </div>
      {% endfor %}
    </ul>
  </div>
  {% else %}
  <div class="_cls-erh--catalog" id="_id-erh-catalog">
    {% for category, category_resources in categories.items %}
    <section class="_cls-erh--category" id="{{category|slugify}}">
      <header>
        <div class="_cls-erh--categoryHeader-text">
          <h2><a class="_cls-nostyle" href="?category={{category|urlencode}}">{{category}}</a></h2>
          <p class="_cls-definition">{{category_resources|length}} resource{{category_resources|length|pluralize}}</p>
        </div>
        <div class="_cls-scroll-controls">
          <button class="_cls-scroll-control _cls-scroll-control--left" title="Scroll Left">
            {% include 'core/component/erh/arrow-left.svg' %}
          </button>
          <button class="_cls-scroll-control _cls-scroll-control--right" title="Scroll Right">
            {% include 'core/component/erh/arrow-right.svg' %}
          </button>
        </div>
      </header>
      <main>
        <ul class="_cls-erh--resourceList">
          {% for resource in category_resources %}
          <a class="_cls-erh--resourceLink _cls-nostyle" href="{% url 'erh_resource' id=resource.id %}">
            <li class="_cls-erh--resource" tabindex="0">
              <img class="_cls-erh--resourceLogo" src="{{resource.logo.0.thumbnails.large.url}}" />
              <div class="_cls-erh--resourceDetail">
                <h3 class="_cls-erh--resourceName">{{resource.name}}</h3>
                {% if resource.shortDescription %}
                <p class="_cls-erh--resourceDescription">{{resource.shortDescription}}</p>
                {% else %}
                <div class="_cls-erh--resourceDescription"></div>
                {% endif %}
                <span class="_cls-erh--resourceProvider">{{resource.provider_name.0}}</span>
              </div>
            </li>
          </a>
          {% endfor %}
        </ul>
      </main>
    </section>
    {% endfor %}
  </div>
  {% endif %}
{% else %}
<div class="_cls-body _cls-erh--description">
  <p>Local newsrooms that are doing innovative work informing and connecting with communities often don&rsquo;t have
    access to the services that newsrooms in earlier times took for granted. Small newsrooms are often so busy with
    daily coverage they don&rsquo;t even know about all the resources available to answer their community&rsquo;s
    hardest questions.</p>
  <p><strong>That&rsquo;s why we created the Resource Hub, and why we&rsquo;re picking up the check.</strong>
    <mark>It&rsquo;s a collection of more than 100 selected products and services that will help you cover the
      election better than you thought possible.</mark></p>
  <p>Any U.S. news organization covering the 2024 elections can get access.</p>
    <div class="_cls-erh--access _cls-erh--interactive">
      {% if request.user.is_authenticated %}
      {% if group_orgs.exists %}
      {% url 'users:detail' request.user.username as user_account_url %}
      {% url 'organizations:detail' group_orgs.first.slug as organization_account_url %}
      <a href="https://airtable.com/app93Yt5cwdVWTnqn/pagGarPPmVmWpU6d5/form?prefill_MR+User+Email={{request.user.email | iriencode}}&prefill_MR+User+Name={{request.user.safe_name|iriencode}}&prefill_MR+User+Account+URL={{ user_account_url | urlencode }}&prefill_MR+Organization+Name={{group_orgs.first.name}}&prefill_MR+Organization+Account+URL={{ organization_account_url | urlencode }}"
        class="_cls-button">Apply for Access</a>
      <p>You will need to apply for your organization (<a
          href="{{organization_account_url}}">{{group_orgs.first.name}}</a>) to access the Resource Hub.</p>
      {% else %}
      <p class=".cls-erh--flex100"><a class="_cls-button" href="{% url 'organizations:list' %}">Find your
          organization</a> <span class="_cls-or">or</span> <a class="_cls-button"
          href="{% url 'organizations:create' %}">create an organization</a></p>
      <p>You need to belong to an eligible organization to access the Resource Hub.</p>
      {% endif %}
      {% else %}
      <a title="{% trans 'Sign Up' %}" class="_cls-button"
        href="{% url 'account_signup' %}?intent={% firstof request.GET.intent 'squarelet' %}">
        {% trans "Sign Up" %}
      </a>
      <a title="{% trans 'Sign In' %}" class="_cls-button" href="{% url 'account_login' %}">
        {% trans "Sign In" %}
      </a>
      <p>You will need to create a MuckRock account to access the Resource Hub.</p>
      {% endif %}
    </div>
    <p>The Hub will gain new services throughout the summer. Sign up for updates and alerts by email.</p>
      <!-- BEGIN MAILCHIMP -->
      <div id="mc_embed_shell">
        <div class="_cls-erh--interactive" id="mc_embed_signup">
          <form
            action="https://muckrock.us2.list-manage.com/subscribe/post?u=74862d74361490eca930f4384&amp;id=64f4342878&amp;f_id=00ebc0e1f0"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank">
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                    class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email"
                  id="mce-EMAIL" required="" value=""></div>
              <div class="mc-name-field-group">
                <div class="mc-field-group"><label for="mce-FNAME">First Name </label><input type="text" name="FNAME"
                    class=" text" id="mce-FNAME" value=""></div>
                <div class="mc-field-group"><label for="mce-LNAME">Last Name </label><input type="text" name="LNAME"
                    class=" text" id="mce-LNAME" value=""></div>
              </div>
              <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display: none;"></div>
                  <div class="response" id="mce-success-response" style="display: none;"></div>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_74862d74361490eca930f4384_64f4342878" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe"></div>
            </div>
          </form>
        </div>
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
        <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!-- END MAILCHIMP -->
      </div>
    </div>
  {% endif %}
  <div class="_cls-erh--backdrop"><img src="{% static 'icons/erh.svg' %}" /></div>
</div>
{% endblock %}
