{% extends "account/base.html" %}

{% load i18n static django_vite %}
{% load handleintent pass_query %}
{% load markdown %}

{% block head_title %}{{ plan.name }}{% endblock %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/select_plan.ts" %}
{% endblock %}

{% block content %}
<div class="container" id="sunlight-enterprise-plan">
  <div class="plan premium">
    <header>
      <h2 class="header-display">
        <span class="heavy-underline premium">{{ plan.name }}</span>
      </h2>
      {% if plan.short_description %}
      <p class="plan-short-description"><strong>{{ plan.short_description }}</strong></p>
      {% endif %}
    </header>

    <main>
      <div class="plan-details card">
        <!-- Plan benefits -->
        {% if plan.benefits %}
        <div class="plan-benefits">
          <ul class="checklist">
            {% for benefit in plan.benefits %}
            <li class="checklist-item">
              <span class="checkmark icon">
                {% include "core/icons/checkmark.svg" %}
              </span>
              <span class="text">{{ benefit }}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <!-- Contact and Learn More Actions -->
        <div class="plan-actions">
          <a class="button premium" href="https://calendar.app.google/fAWZF635MY89Sp5J9">
            {% trans "Contact us to tailor your plan" %}
          </a>
          <a class="button primary ghost" href="https://sunlightresearch.net/launch" target="_blank">
            {% trans "Learn more" %}
          </a>
        </div>
      </div>

      {% if plan.description %}
        <div class="plan-description card">
          {{ plan.description|markdown|safe }}
        </div>
      {% endif %}
    </main>
  </div>
</div>
{% endblock %}
