{% extends "account/base.html" %}

{% load i18n static django_vite %}
{% load handleintent pass_query %}
{% load humanize %}

{% block head_title %}{% trans "Select plan" %}{% endblock %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/sunlight_research_plans.ts" %}
{% endblock vite %}

{% block content %}
<h1>Sunlight Research</h1>
{{sunlight_plans}}
{{existing_subscriptions}}

<ul>
{% for plan in sunlight_plans %}
<li>
  <ul>
    <li><a href="{% url 'plan_detail' plan.pk plan.slug %}">{{plan.name}}</a></li>
    <li>{{plan.slug}}</li>
    <li>{{plan.base_price|intcomma}}</li>
    <li>{{plan.price_per_user|intcomma}}</li>
    <li>{{plan.annual}}</li>
  </ul>
</li>
{% endfor %}
</ul>
{% endblock %}