{% extends "layouts/modal_layout.html" %}
{% load django_vite i18n crispy_forms_tags %}
{% load icon %}

{% block title %}{{ organization.name }} | Update Card{% endblock %}

{% block vite %}
{{ block.super }}
{% vite_asset "frontend/views/update_card.ts" %}
{% endblock vite %}

{% block layout_id %}update_card{% endblock %}

{% block header %}
  <h1>{{ organization.name }}</h1>
  <span class="arrow">{% icon "chevron-right" %}</span>
  <h2>{% trans "Change payment card" %}</h2>
{% endblock header %}

{% block main %}
  {% if card %}
    <div class="info">
      <span class="icon">{% icon "credit-card" %}</span>
      <span class="card-info">
        {% blocktrans with card_brand as brand and card.last4 as last4 %}
          Current card: {{ brand }} ending in <strong>{{ last4 }}</strong>
        {% endblocktrans %}
      </span>
    </div>
  {% endif %}

  <form id="stripe-form" method="post" enctype="multipart/form-data">
    {% crispy form form.helper %}

    <div class="card-field">
      <p>{% trans "Enter your new credit card details below." %}</p>
      <div class="_cls-field">
        <div class="_cls-fieldInput" id="card-element"></div>
      </div>
      <div id="card-errors" role="alert">
        {% if form.stripe_token.errors %}
          {% for error in form.stripe_token.errors %}{{ error }}{% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="buttons">
      <button type="submit" class="btn primary">
        {% icon "check" %}
        {% trans "Update card" %}
      </button>

      <a href="{% url subject|add:':subscriptions' subject_slug %}" class="btn ghost primary">
        {% trans "Cancel" %}
      </a>
    </div>
  </form>
{% endblock main %}
