{% extends "layouts/modal_layout.html" %}
{% load i18n crispy_forms_tags %}
{% load icon %}

{% block title %}{{ organization.name }} | Update Receipt Email{% endblock %}

{% block layout_id %}update_receipt_email{% endblock %}

{% block header %}
  <h1>{{ organization.name }}</h1>
  <span class="arrow">{% icon "chevron-right" %}</span>
  <h2>{% trans "Change receipt email" %}</h2>
{% endblock header %}

{% block main %}
  <form id="receipt-email-form" method="post" enctype="multipart/form-data">
    {% crispy form form.helper %}

    <div class="buttons">
      <button type="submit" class="btn primary">
        {% icon "check" %}
        {% trans "Update email" %}
      </button>

      <a href="{% url subject|add:':subscriptions' subject_slug %}" class="btn ghost primary">
        {% trans "Cancel" %}
      </a>
    </div>
  </form>
{% endblock main %}
