{% extends "layouts/modal_layout.html" %}
{% load i18n crispy_forms_tags %}
{% load icon %}

{% block title %}{{ organization.name }} | Update Receipt Emails{% endblock %}

{% block layout_id %}update_receipt_emails{% endblock %}

{% block header %}
  <h1>{{ organization.name }}</h1>
  <span class="arrow">{% icon "chevron-right" %}</span>
  <h2>{% trans "Change receipt emails" %}</h2>
{% endblock header %}

{% block main %}
  {% if card %}
    <div class="info">
      <span class="icon">{% icon "credit-card" %}</span>
      <span class="card-info">
        {% blocktrans with card.brand as brand and card.last4 as last4 %}
          Current card: {{ brand }} ending in <strong>{{ last4 }}</strong>
        {% endblocktrans %}
      </span>
    </div>
  {% endif %}

  <form id="receipt-email-form" method="post" enctype="multipart/form-data">
    {% crispy form form.helper %}

    <div class="buttons">
      <button type="submit" class="btn primary">
        {% icon "check" %}
        {% trans "Update email" %}
      </button>

      <a href="{% url subject|add:':subscriptions' organization.slug %}" class="btn ghost primary">
        {% trans "Cancel" %}
      </a>
    </div>
  </form>
{% endblock main %}
